// Animation
$form-label-animation: all 0.15s ease-out 0s;
$expando-animation-open: all 0.5s ease-out 0s;
$expando-animation: all 0.3s ease-in 0s;
$polling-refresh-animation: wipe 2s infinite;

@keyframes text-rotation {
  0% {
    top: 0;
  }

  40% {
    top: 0;
  }

  50% {
    top: -$rotator-height;
  }

  90% {
    top: -$rotator-height;
  }

  100% {
    top: 0;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ticket-spin1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ticket-spin2 {
  0% {
    opacity: 0.1;
    transform: rotate(90deg);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.1;
    transform: rotate(405deg);
  }
}

@keyframes ticket-spin3 {
  0% {
    opacity: 0.1;
    transform: rotate(45deg);
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.1;
    transform: rotate(450deg);
  }
}

@keyframes ticket-spin4 {
  0% {
    opacity: 0.01;
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.01;
    transform: rotate(495deg);
  }
}

@keyframes timer-rota {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes timer-opa {
  0% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

@keyframes wipe {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes ui-spinner-rotate-right{
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes ui-spinner-rotate-left{
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
