// Breakpoints for media queries
$nc-bp-xs: 320px;
$nc-bp-sm: 375px;
$nc-bp-md: 720px;
$nc-bp-lg: 1020px;
$nc-bp-xl: 1440px;

$nc-breakpoints: (
  'mobile': $nc-bp-xs,
  'large-mobile': $nc-bp-sm,
  'tablet': $nc-bp-md,
  'desktop': $nc-bp-lg,
  'max': $nc-bp-xl
);
