// Breakpoints for media queries
$bp-xs: 320px;
$bp-sm: 375px;
$bp-md: 720px;
$bp-lg: 1020px;
$bp-xl: 1440px;

$breakpoints: (
  'mobile': $bp-xs,
  'large-mobile': $bp-sm,
  'tablet': $bp-md,
  'desktop': $bp-lg,
  'max': $bp-xl
);
