// Spacing
$spacing-lg: 30px;
$spacing-md: 20px;
$spacing-sm: 10px;
$spacing-ratio: 1.5;

// Borders
$base-border-style: 1px solid $brand-gray3;
$textfield-border-style: 1px solid $brand-gray2;
$focused-border-style: 1px solid $brand-primary;
$error-border-style: 1px solid $brand-alert;
$outline-style: 3px solid $outline-color;
$tile-selected-style: 2px solid $brand-primary;

// Radius and shadows
$base-border-radius: 3px;
$shadow-x: 0;
$shadow-y: 1px;
$shadow-blur: 4px;
$shadow-spread: 1px;
$box-shadow-style: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
$inner-shadow-style: inset 0 1px 3px 0 $shadow-color;

// Confirmation Page Frame shadow
$perforated-shadow-x: 0;
$perforated-shadow-y: 1px;
$perforated-shadow-blur: 10px;
$perforated-shadow-spread: 2px;
$perforated-box-shadow-style: $perforated-shadow-x $perforated-shadow-y $perforated-shadow-blur $perforated-shadow-spread $perforated-shadow-color;
$perforated-inner-shadow-style: inset 0 1px 1px 0 $shadow-color;

// Buttons
$button-height: 44px;
$button-height-lg: 46px;
$button-minor-height: 30px;
$button-minor-height-lg: 40px;
$button-border-radius: $base-border-radius;
$button-padding: 20px;
$button-padding-lg: 40px;
$button-minor-padding: 15px;
$button-minor-padding-lg: 20px;

// Quantity picker
$qty-picker-button-size: 40px;

// Sizes
$srs-min-width: 295px;
$tooltip-caret: 15px;
$tooltip-caret-lg: 20px;
$ism-tooltip-width: 315px;
$chevron-width: 16px;
$chevron-height: 10px;

// Forms
$textfield-gutter-left: 10px;
$input-label-height: 20px;
$input-label-bottom: 5px;
$input-label-bottom-active: 30px;

// Event Header
$event-image-size: 205px;
$event-header-height: 74px;
$event-header-menu-container: 50px;
$event-header-info-width: 65vw;
$event-header-info-checkout-width: 42vw;
$event-header-datestamp-width: 160px;  // approximate; worst case scenario
$timer-container: 90px;
$timer-container-lg: 95px;
$logo-container: 189px;

// Timer
$timer-bg-color: $brand-primary;
$timer-size: 60px;
$timer-size-lg: 65px;
$timer-border-on: 5px solid $brand-primary-darker25;
$timer-border-off: 5px solid $brand-primary-lighter75;

// Make images flexible
img,
picture {
  max-width: 100%;
  margin: 0;
}

// Disable outline of form elements on focus in Chrome
input,
select,
textarea,
button {
  &:focus {
    outline: $outline-style;
  }
}

input,
select,
textarea {
  padding: 0;
  font-size: $min-input-font-size;
}

// Firefox fix to get button sizing in line with Chrome
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  margin-top: -1px;
  border: 0;
}

// svgs
$svgs: (
  'pedge': 'data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-294%20392%2011%206%22%3E%3Cstyle%3E.st0%7Bfill%3A%23FFFFFF%3B%7D%20.st1%7Bfill%3Anone%3B%7D%3C%2Fstyle%3E%3Ctitle%3ERectangle%20255%3C%2Ftitle%3E%3Cg%20id%3D%22desktop%22%3E%3Cg%20id%3D%22receipt-copy-3%22%3E%3Cg%20id%3D%22Rectangle-255%22%3E%3Cpath%20id%3D%22path-1%22%20class%3D%22st0%22%20d%3D%22M-304%20398h12.1c0-2.5%201.2-3.7%203.5-3.7%202.2%200%203.5%201.2%203.5%203.7h12v-6h-31v6z%22%2F%3E%3Cpath%20id%3D%22path-1_1_%22%20class%3D%22st1%22%20d%3D%22M-304%20398h12.1c0-2.5%201.2-3.7%203.5-3.7%202.2%200%203.5%201.2%203.5%203.7h12v-6h-31v6z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E'
);
