// Spacing
$nc-spacing-lg: 30px;
$nc-spacing-md: 20px;
$nc-spacing-sm: 10px;
$nc-spacing-ratio: 1.5;

// Borders
$nc-base-border-style: 1px solid $nc-base-border-color;
$nc-input-border-style: 1px solid $nc-input-border-color;
$nc-title-icon-border-style: 1px solid $nc-white;
$nc-focused-border-style: 1px solid $nc-link-color;
$nc-success-border-style: 1px solid $nc-success-color;
$nc-caution-border-style: 1px solid $nc-caution-dialog-color;
$nc-alert-border-style: 1px solid $nc-alert-color;
$nc-info-border-style: 1px solid $nc-brand-gray;
$nc-outline-style: 3px solid $nc-outline-color;
$nc-tile-selected-style: 2px solid $nc-link-color;

// Radius and shadows
$nc-base-border-radius: 3px;
$nc-shadow-x: 0;
$nc-shadow-y: 1px;
$nc-shadow-blur: 4px;
$nc-shadow-spread: 1px;
$nc-box-shadow-style: $nc-shadow-x $nc-shadow-y $nc-shadow-blur $nc-shadow-spread $nc-shadow-color;
$nc-inner-shadow-style: inset 0 1px 3px 0 $nc-shadow-color;

// Perforated edge shadow
$nc-perforated-shadow-x: 0;
$nc-perforated-shadow-y: 1px;
$nc-perforated-shadow-blur: 10px;
$nc-perforated-shadow-spread: 2px;
$nc-perforated-box-shadow-style: $nc-perforated-shadow-x $nc-perforated-shadow-y $nc-perforated-shadow-blur $nc-perforated-shadow-spread $nc-perforated-shadow-color;
$nc-perforated-inner-shadow-style: inset 0 1px 1px 0 $nc-shadow-color;

// Buttons
$nc-button-height: 36px;
$nc-button-height-lg: 38px;
$nc-button-minor-height: 30px;
$nc-button-minor-height-lg: 40px;
$nc-button-border-radius: $nc-base-border-radius;
$nc-button-padding: 20px;
$nc-button-padding-lg: 40px;
$nc-button-minor-padding: 15px;
$nc-button-minor-padding-lg: 20px;

// Quantity picker
$nc-qty-picker-button-size: 40px;

// Toggle Switch
$toggle-switch-button-size: 30px;

// Sizes
$nc-touch-size: 44px;
$nc-scrollbar-width: 20px;
$nc-rotator-height: 1.4em;
$nc-srs-min-width: 295px;
$nc-tooltip-caret: 15px;
$nc-tooltip-caret-lg: 20px;
$nc-ism-tooltip-width: 315px;
$nc-base-icon-size: 20px;
$nc-modal-close-size: 44px;
$nc-modal-close-size-lg: 56px;
$nc-modal-close-indicator: 18px;
$nc-modal-close-indicator-lg: 20px;
$nc-polling-size: 60px;
$nc-polling-border-size: 4px;

// Forms
$nc-textfield-gutter-left: 10px;
$nc-input-height: 55px;
$nc-input-label-height: 20px;
$nc-input-label-bottom: 5px;
$nc-input-label-bottom-active: 30px;
$nc-dropdown-chevron-size: 16px;
$nc-chkbox-size: 8px;
$nc-chkbox-thickness: 3px;

// Event Header
$nc-event-header-tm-short: 35px;
$nc-event-header-tm-full: 165px;
$nc-event-header-height: 8rem;
$nc-cobrand-header-offset: 0.5rem;
$nc-cobrand-header-logo-height: 3.4rem;

// Timer
$nc-timer-size: 55px;
$nc-timer-size-lg: 60px;
$nc-timer-border-thickness: 5px;
$nc-timer-opacity: 0.3;

// Breadcrumbs
$nc-breadcrumbs-logo-width: 83px;
$nc-breadcrumbs-logo-height: 11px;
$nc-breadcrumbs-max-width: 75px;
$nc-breadcrumbs-height: 4.9rem;
$nc-breadcrumbs-chevron-dim: 1.15em;
$nc-breadcrumbs-spacing: 5px;
$nc-breadcrumbs-chevron-border-width: 0.1em;

// Modal Dialogs
$nc-modal-content-height: 60vh;

// Make images flexible
img,
picture {
  max-width: 100%;
  margin: 0;
}

// Disable outline of form elements on focus in Chrome
input,
select,
textarea,
button {
  &:focus {
    outline: 0;
  }
}

input,
select,
textarea {
  padding: 0;
  font-size: $nc-min-input-font-size;
}

// Hide IE default clear button
input::-ms-clear {
  display: none;
}

// Hide IE dropdown arrow button
select::-ms-expand {
  display: none;
}

// Firefox fix to get button sizing in line with Chrome
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  margin-top: -1px;
  border: 0;
}
