// Spacing
$spacing-lg: 30px;
$spacing-md: 20px;
$spacing-sm: 10px;
$spacing-ratio: 1.5;

// Borders
$base-border-style: 1px solid $brand-gray3;
$form-border-style: 1px solid $brand-gray2;
$focused-border-style: 1px solid $brand-primary;
$error-border-style: 1px solid $brand-alert;
$outline-style: 3px solid $outline-color;
$tile-selected-style: 2px solid $brand-primary;

// Radius and shadows
$base-border-radius: 3px;
$shadow-x: 0;
$shadow-y: 1px;
$shadow-blur: 4px;
$shadow-spread: 1px;
$box-shadow-style: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
$inner-shadow-style: inset 0 1px 3px 0 $shadow-color;

// Buttons
$button-height: 44px;
$button-height-lg: 46px;
$button-minor-height: 30px;
$button-minor-height-lg: 40px;
$button-border-radius: $base-border-radius;
$button-padding: 20px;
$button-padding-lg: 40px;
$button-minor-padding: 15px;
$button-minor-padding-lg: 20px;

// Quantity picker
$qty-picker-button-size: 40px;

// Sizes
$event-header-height: 76px;
$srs-min-width: 295px;
$tooltip-caret: 15px;
$tooltip-caret-lg: 20px;
$ism-tooltip-width: 315px;
$event-image-size: 205px;
$qp-width-lg: 360px;
$ticket-bag-ht: 70px;   // approximate; needed by map/list toaster button
$footer-height: 2.8rem;


// old stuff
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$vertical-spacing-sm: 20px;
$vertical-spacing-lg: 40px;

// Modules
$module-padding-sm: 15px;
$module-padding-lg: 20px;
$module-border-radius: $base-border-radius * 2;

// control spacing between sections of content
$content-vspace-sm: $module-padding-sm;
$content-vspace-lg: $module-padding-lg;
$content-vspace-legal-sm: $content-vspace-sm * 2;
$content-vspace-legal-lg: $content-vspace-lg * 2;

// control spacing of form elements
$form-label-vspace: 10px;
$input-group-vspace: 10px;

// Ticket Bag
$ticket-bag-padding: 10px;

// Timer
$timer-bg-color: $brand-primary;
$timer-size: 60px;
$timer-size-lg: 65px;
$timer-border-on: 5px solid get-darker($brand-primary);
$timer-border-off: 5px solid get-lighter($brand-primary);

// Animation
$text-enter: all 0.5s ease-in;
$text-leave: all 0.5s ease-in;

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ticket-spin1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ticket-spin2 {
  0% {
    opacity: 0.1;
    transform: rotate(90deg);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.1;
    transform: rotate(405deg);
  }
}

@keyframes ticket-spin3 {
  0% {
    opacity: 0.1;
    transform: rotate(45deg);
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.1;
    transform: rotate(450deg);
  }
}

@keyframes ticket-spin4 {
  0% {
    opacity: 0.01;
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.01;
    transform: rotate(495deg);
  }
}

@keyframes timer-rota {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes timer-opa {
  0% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);

    transform-origin: 50% 50%;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);

    transform-origin: 50% 50%;
  }
}

@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    transform: scale(1, 1);

    transform-origin: 50% 50%;
  }

  100% {
    opacity: 0;
    transform: scale(0, 0);

    transform-origin: 50% 50%;
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Make images flexible
img,
picture {
  max-width: 100%;
  margin: 0;
}

// Disable outline of form elements on focus in Chrome
input,
select,
textarea,
button {
  &:focus {
    outline: $outline-style;
  }
}

input,
select,
textarea {
  padding: 0;
  font-size: $min-input-font-size;
}

// Firefox fix to get button sizing in line with Chrome
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  margin-top: -1px;
  border: 0;
}
