// Spacing
$spacing-lg: 30px;
$spacing-md: 20px;
$spacing-sm: 10px;
$spacing-ratio: 1.5;

// Borders
$base-border-style: 1px solid $base-border-color;
$input-border-style: 1px solid $input-border-color;
$title-icon-border-style: 1px solid $white;
$focused-border-style: 1px solid $link-color;
$success-border-style: 1px solid $success-color;
$caution-border-style: 1px solid $caution-dialog-color;
$alert-border-style: 1px solid $alert-color;
$info-border-style: 1px solid $brand-gray;
$outline-style: 3px solid $outline-color;
$tile-selected-style: 2px solid $link-color;

// Radius and shadows
$base-border-radius: 3px;
$circle-border-radius: 50%;
$shadow-x: 0;
$shadow-y: 1px;
$shadow-blur: 4px;
$shadow-spread: 1px;
$box-shadow-style: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
$inner-shadow-style: inset 0 1px 3px 0 $shadow-color;

// Perforated edge shadow
$perforated-shadow-x: 0;
$perforated-shadow-y: 1px;
$perforated-shadow-blur: 10px;
$perforated-shadow-spread: 2px;
$perforated-box-shadow-style: $perforated-shadow-x $perforated-shadow-y $perforated-shadow-blur $perforated-shadow-spread $perforated-shadow-color;
$perforated-inner-shadow-style: inset 0 1px 1px 0 $shadow-color;

// Buttons
$button-height: 36px;
$button-height-lg: 38px;
$button-minor-height: 30px;
$button-minor-height-lg: 40px;
$button-border-radius: $base-border-radius;
$button-padding: 20px;
$button-padding-lg: 40px;
$button-minor-padding: 15px;
$button-minor-padding-lg: 20px;

// Quantity picker
$qty-picker-button-size: 40px;

// Toggle Switch
$toggle-switch-button-size: 30px;

// Sizes
$touch-size: 44px;
$scrollbar-width: 20px;
$rotator-height: 1.4em;
$srs-min-width: 295px;
$tooltip-caret: 15px;
$tooltip-caret-lg: 20px;
$ism-tooltip-width: 315px;
$base-icon-size: 20px;
$modal-close-size: 44px;
$modal-close-size-lg: 56px;
$modal-close-indicator: 18px;
$modal-close-indicator-lg: 20px;
$polling-size: 60px;
$polling-border-size: 4px;

// Forms
$textfield-gutter-left: 10px;
$input-height: 55px;
$input-label-height: 20px;
$input-label-bottom: 5px;
$input-label-bottom-active: 30px;
$dropdown-chevron-size: 16px;
$chkbox-size: 8px;
$chkbox-thickness: 3px;
$radio-label-offset: 10px;

// Event Header
$event-header-tm-short: 35px;
$event-header-tm-full: 165px;
$event-header-height: 8rem;
$cobrand-header-offset: 0.5rem;
$cobrand-header-logo-height: 3.4rem;

// Timer
$timer-size: 55px;
$timer-size-lg: 60px;
$timer-border-thickness: 5px;
$timer-opacity: 0.3;

// Breadcrumbs
$breadcrumbs-logo-width: 83px;
$breadcrumbs-logo-height: 11px;
$breadcrumbs-max-width: 75px;
$breadcrumbs-height: 4.9rem;
$breadcrumbs-chevron-dim: 1.15em;
$breadcrumbs-spacing: 5px;
$breadcrumbs-chevron-border-width: 0.1em;

// Modal Dialogs
$modal-content-height: 60vh;

// Make images flexible
img,
picture {
  max-width: 100%;
  margin: 0;
}

// Disable outline of form elements on focus in Chrome
input,
select,
textarea,
button {
  &:focus {
    outline: 0;
  }
}

input,
select,
textarea {
  padding: 0;
  font-size: $min-input-font-size;
}

// Hide IE default clear button
input::-ms-clear {
  display: none;
}

// Hide IE dropdown arrow button
select::-ms-expand {
  display: none;
}

// Firefox fix to get button sizing in line with Chrome
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  margin-top: -1px;
  border: 0;
}
