// Spacing
$spacing-lg: 30px;
$spacing-md: 20px;
$spacing-sm: 10px;
$spacing-ratio: 1.5;

// Borders
$base-border-style: 1px solid $brand-gray3;
$textfield-border-style: 1px solid $brand-gray2;
$focused-border-style: 1px solid $brand-primary;
$error-border-style: 1px solid $brand-alert;
$outline-style: 3px solid $outline-color;
$tile-selected-style: 2px solid $brand-primary;

// Radius and shadows
$base-border-radius: 3px;
$shadow-x: 0;
$shadow-y: 1px;
$shadow-blur: 4px;
$shadow-spread: 1px;
$box-shadow-style: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
$inner-shadow-style: inset 0 1px 3px 0 $shadow-color;

// Buttons
$button-height: 44px;
$button-height-lg: 46px;
$button-minor-height: 30px;
$button-minor-height-lg: 40px;
$button-border-radius: $base-border-radius;
$button-padding: 20px;
$button-padding-lg: 40px;
$button-minor-padding: 15px;
$button-minor-padding-lg: 20px;

// Quantity picker
$qty-picker-button-size: 40px;

// Sizes
$srs-min-width: 295px;
$tooltip-caret: 15px;
$tooltip-caret-lg: 20px;
$ism-tooltip-width: 315px;
$chevron-width: 16px;
$chevron-height: 10px;

// Forms
$textfield-gutter-left: 10px;
$input-label-height: 20px;
$input-label-bottom: 5px;
$input-label-bottom-active: 30px;

// Event Header
$event-image-size: 205px;
$event-header-height: 74px;
$event-header-menu-container: 50px;
$event-header-info-width: 65vw;
$event-header-info-checkout-width: 42vw;
$event-header-datestamp-width: 160px;  // approximate; worst case scenario
$timer-container: 90px;
$timer-container-lg: 95px;
$logo-container: 189px;

// Timer
$timer-bg-color: $brand-primary;
$timer-size: 60px;
$timer-size-lg: 65px;
$timer-border-on: 5px solid $brand-primary-darker25;
$timer-border-off: 5px solid $brand-primary-lighter75;

// Make images flexible
img,
picture {
  max-width: 100%;
  margin: 0;
}

// Disable outline of form elements on focus in Chrome
input,
select,
textarea,
button {
  &:focus {
    outline: $outline-style;
  }
}

input,
select,
textarea {
  padding: 0;
  font-size: $min-input-font-size;
}

// Firefox fix to get button sizing in line with Chrome
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  margin-top: -1px;
  border: 0;
}
