// calculate different shades
@function get-darker($nc-color, $nc-percent: 25%) {
  @return mix($nc-black, $nc-color, $nc-percent);
}

@function get-lighter($nc-color, $nc-percent: 75%) {
  @return mix($nc-white, $nc-color, $nc-percent);
}

// return hex value associated with name
@function color($nc-name, $nc-shade) {
  @return map-get(map-get($nc-palette, $nc-name), $nc-shade);
}

// responsive spacing based on established ratio
@function increase-spacing($nc-val) {
  @if ($nc-val != 'auto') {
    @return $nc-val * $nc-spacing-ratio;
  }
  @return $nc-val;
}

// there should an overlay z-index and an overlay-content z-index
@function z($nc-level, $nc-map: $nc-z-indexes) {
  @return map-get($nc-map, $nc-level);
}

// turn unit values into unitless
@function strip-units($nc-num) {
  @return $nc-num / ($nc-num * 0 + 1);
}

// convert px to em
@function em($nc-px, $nc-context: $nc-default-font-size) {
  @if ($nc-px == 0) { @return 0; }
  @return $nc-px / $nc-context * 1em;
}

// determine tooltip offset direction
@function get-tooltip-offset-direction($nc-pos) {
  $nc-offset: 'top';
  @if ($nc-pos == 'top' or $nc-pos == 'bottom') {
    $nc-offset: 'left';
  }
  @return $nc-offset;
}

// calculate tooltip offset
@function get-tooltip-offset($nc-pos, $nc-size) {
  $nc-val: -($nc-size / 2);
  @if ($nc-pos == 'left') {
    $nc-val: 0;
  }
  @return $nc-val;
}
