// retrieve values from nested map
@function nc-get-nested-map($map, $key, $subkey) {
  @if (map-has-key($map, $key) and map-has-key(map-get($map, $key), $subkey)) {
    @return map-get(map-get($map, $key), $subkey);
  }
  @error 'either '#{$key}' or '#{$subkey}' does not exist in '#{$map}'';
}


// check if value is in list
@function nc-list-contains($list, $item) {
  @return index($list, $item) != null;
}


// check if string starts with a '-' aka is negative
@function nc-is-neg-string($str) {
  $index: false;

  @if (type-of($str) == string) {
    $index: str-index($str, '-');
  }
  @else {
    @warn '`nc-is-neg-string` expects a string but was given #{$str}';
  }

  @if $index == 1 {
    @return true;
  }

  @return false;
}


// via https://gist.github.com/terkel/4373420
@function nc-round-num($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }

  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  }
  @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }

  @for $i from 1 through $digits {
    $n: $n * 10;
  }

  @if $mode == round {
    @return round($number * $n) / $n;
  }
  @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  }
  @else if $mode == floor {
    @return floor($number * $n) / $n;
  }
  @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}


// there should an overlay z-index and an overlay-content z-index
@function nc-z($level, $map: $nc-z-indexes) {
  @return map-get($map, $level);
}


// turn unit values into unitless
@function nc-strip-units($num) {
  @return $num / ($num * 0 + 1);
}


// convert px to em
@function nc-em($px, $context: $nc-default-font-size) {
  @if ($px == 0) {
    @return 0;
  }
  @return $px / $context * 1em;
}


// convert rem to px
@function nc-px($rem) {
  @if ($rem == 0) {
    @return 0;
  }
  @return nc-strip-units($rem) * 10px;
}


// convert px to rem
@function nc-rem($px) {
  @if ($px == 0) {
    @return 0;
  }
  @return nc-strip-units($px/10) * 1rem;
}


// calculate sizes given basis and ratio
@function nc-calc-scale-value($count, $dir, $basis, $ratio, $digits) {
  @if ($count != 0) {
    @if ($dir == 'up') {
      @for $i from 1 through $count {
        $basis: $basis * $ratio;
      }
    }

    @if ($dir == 'down') {
      @for $i from 1 through $count {
        $basis: $basis / $ratio;
      }
    }
  }

  $size: nc-round-num($basis, $digits);

  @return $size;
}


// generate values based on steps from basis
@function nc-generate-scale-map($start, $set, $basis, $ratio, $digits) {
  $map: ();
  $direction: 'up';
  $iterations: $start;

  @if ($iterations < 0) {
    $iterations: $iterations * -1;
  }

  @each $key in $set {
    @if ($start < 0) {
      $direction: 'down';
    }
    @else {
      $direction: 'up';
    }

    $size: nc-calc-scale-value($iterations, $direction, $basis, $ratio, $digits);
    $map: map-merge($map, ($key: $size));

    @if ($start < 0) {
      $iterations: $iterations - 1;
    }
    @else {
      $iterations: $iterations + 1;
    }

    $start: $start + 1;
  }

  @return $map;
}


// adapter
// re-map v0.x font sizes to v1.x scale
@function nc-remap-type-size($name) {
  $new-name: $name;

  @if ($name == 'xs') {
    $new-name: 'milli';
  }
  @else if ($name == 'sm') {
    $new-name: 'centi';
  }
  @else if ($name == 'md') {
    $new-name: 'uno';
  }
  @else if ($name == 'lg') {
    $new-name: 'kilo';
  }
  @else if ($name == 'xl') {
    $new-name: 'giga';
  }
  @else if ($name == 'xxl') {
    $new-name: 'peta';
  }
  @else if ($name == 'xxxl') {
    $new-name: 'zetta';
  }
  @else if not index($nc-font-name-list, $name) {
    @error 'invalid size specified';
  }

  @return $new-name;
}


@function nc-spacing-val($val, $set: 'mini') {
  $output: false;
  $is-num: type-of($val) == number;
  $is-mapped: map-has-key($nc-spacing-map, $val);

  @if ($is-num or not $is-mapped) {
    @if ($set == 'maxi' and $is-num) {
      $output: $val * $nc-spacing-ratio;
    }
    @else {
      $output: $val;
    }
  }
  @else {
    $output: nc-get-nested-map($nc-spacing-map, $val, $set);
  }

  @return $output;
}


/* stylelint-disable number-no-trailing-zeros */
// allow '2.0' in string
@function nc-deprecate($thing, $type) {
  @return 'The `#{$thing}` #{$type} is deprecated and will be removed in Nucleus 2.0';
}
/* stylelint-enable number-no-trailing-zeros */



// ************************************************************************** //
// Below functions are deprecated and will be removed in Nucleus 2.0
// ************************************************************************** //

// responsive spacing based on established ratio
@function nc-increase-spacing($val) {
  // @warn nc-deprecate('nc-increase-spacing', 'function');

  @if ($val != 'auto') {
    @return $val * $nc-spacing-ratio;
  }
  @return $val;
}
