
$header-color: #e11d39;
$primary-button-color: #2cb3ad;
$secondary-button-color: #576671;
$link-color: #2cb3ad;
$success-color: #19ab20;
$alert-color: #f00;
$caution-color: #fa3;
$info-color: #475058;
