
$nc-header-color: #e11d39;
$nc-primary-button-color: #2cb3ad;
$nc-secondary-button-color: #576671;
$nc-link-color: #2cb3ad;
$nc-success-color: #19ab20;
$nc-alert-color: #f00;
$nc-caution-color: #fa3;
$nc-info-color: #475058;
