// TM Color Palette
// scss-lint:disable ColorVariable

// calculate different shades
@function get-darker($color, $percent: 25%) {
  @return mix($black, $color, $percent);
}

@function get-lighter($color, $percent: 75%) {
  @return mix($white, $color, $percent);
}

// return hex value associated with name
@function color($name, $shade) {
  @return map-get(map-get($palette, $name), $shade);
}

// base colors
$brand-primary:  #009cde;
$brand-cta:      #19ab20;
$brand-accent:   #d0006f;
$brand-alert:    #f00;
$brand-gray2:    #768692;
$brand-gray3:    #dfe4e7;
$brand-gray4:    #f6f7f9;
$black:          #000;
$white:          #fff;

// map hex values to names
$palette: (
  'gray': (
    'sierra':   get-darker($brand-gray2, 40%),
    'cascade':  $brand-gray2,
    'rocky':    $brand-gray3,
    'ridge':    $brand-gray4,
    'appalachian': get-darker($brand-gray2)
  ),
  'blue': (
    'pacific':  $brand-primary,
    'havasu':   get-lighter($brand-primary, 90%)
  ),
  'green': (
    'yosemite': $brand-cta,
  ),
  'pink': (
    'catalina': $brand-accent
  ),
  'red': (
    'helen':    $brand-alert
  )
);

// derived colors from base
$brand-primary-lighter: color('blue', 'havasu');
$brand-gray: color('gray', 'sierra');

// gradients
$black-white-gradient: linear-gradient(to bottom, #4d4d4d 0%, #383838 26%, #1f1f1f 53%, #151515 67%, #121212 69%, #000 100%);
$red-gradient: linear-gradient(to bottom, #fa2100 0%, #f9330a 2%, #f62e04 5%, #f52c03 7%, #dd2701 32%, #ac1c00 75%, #9f1a02 91%, #9c1800 93%, #9c1b03 95%, #981400 98%, #9c1e09 100%);
$red-reverse-gradient: linear-gradient(to top, #fa2100 0%, #f9330a 2%, #f62e04 5%, #f52c03 7%, #dd2701 32%, #ac1c00 75%, #9f1a02 91%, #9c1800 93%, #9c1b03 95%, #981400 98%, #9c1e09 100%);
$progress-gradient: linear-gradient(left, rgba($white, 0), rgba($white, 0.4));

// misc
$tooltip-color: $white;
$transparent-color: rgba($white, 0);
$outline-color: get-lighter($brand-primary);
$shadow-color: rgba($black, 0.5);

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$tooltip-shadow-color: rgba($black, 0.8);

// TODO: get rid of light, rename dark without "dark"
$overlay-dark-bg-color: rgba($brand-gray, 0.5);
$overlay-light-bg-color: rgba($white, 0.9);
