// TM Color Palette
// scss-lint:disable ColorVariable

// base colors
$nc-brand-primary:  #009cde;
$nc-brand-cta:      #19ab20;
$nc-brand-accent:   #d0006f;
$nc-brand-alert:    #f00;
$nc-brand-caution:  #fa3;
$nc-brand-gray2:    #768692;
$nc-brand-gray3:    #dfe4e7;
$nc-brand-gray4:    #f6f7f9;
$nc-black:          #000;
$nc-white:          #fff;

// map hex values to names
$nc-palette: (
  'gray': (
    'sierra':   get-darker($nc-brand-gray2, 40%),
    'cascade':  $nc-brand-gray2,
    'rocky':    $nc-brand-gray3,
    'ridge':    $nc-brand-gray4
  ),
  'blue': (
    'pacific':  $nc-brand-primary
  ),
  'green': (
    'yosemite': $nc-brand-cta,
  ),
  'pink': (
    'catalina': $nc-brand-accent
  ),
  'red': (
    'helen':    $nc-brand-alert
  ),
  'yellow': (
    'malibu':   $nc-brand-caution
  )
);

// derived colors from base
$nc-brand-gray: color('gray', 'sierra');

// shades/derivatives
$nc-brand-primary-lighter50: get-lighter($nc-brand-primary, 50%);
$nc-brand-primary-lighter75: get-lighter($nc-brand-primary, 75%);
$nc-brand-primary-lighter87: get-lighter($nc-brand-primary, 87.5%);
$nc-brand-gray2-lighter50:   get-lighter($nc-brand-gray2, 50%);
$nc-brand-gray2-lighter75:   get-lighter($nc-brand-gray2, 75%);
$nc-brand-cta-lighter75:     get-lighter($nc-brand-cta, 75%);
$nc-brand-alert-lighter75:   get-lighter($nc-brand-alert, 75%);
$nc-brand-accent-lighter50:  get-lighter($nc-brand-accent, 50%);

$nc-brand-primary-darker25:  get-darker($nc-brand-primary, 25%);
$nc-brand-gray2-darker25:    get-darker($nc-brand-gray2, 25%);
$nc-brand-cta-darker25:      get-darker($nc-brand-cta, 25%);
$nc-brand-alert-darker25:    get-darker($nc-brand-alert, 25%);
$nc-brand-accent-darker25:   get-darker($nc-brand-accent, 25%);

// BEGIN CUSTOMIZATIONS
// variables below are the ones used by CSS components within Nucleus

// Typography
$nc-text-color: $nc-brand-gray;
$nc-alt-text-color: $nc-brand-gray2;
$nc-link-color: $nc-brand-primary;
$nc-link-hover-color: $nc-brand-primary-darker25;

// Buttons
$nc-primary-button-color: $nc-brand-primary;
$nc-primary-aux-button-color: $nc-brand-primary;
$nc-secondary-button-color: $nc-brand-gray2;
$nc-cta-button-color: $nc-brand-cta;

// Qty Picker
$nc-qty-increment-button-color: $nc-brand-primary;
$nc-qty-increment-button-hover-color: $nc-brand-primary-darker25;
$nc-qty-increment-button-disabled-color: $nc-brand-primary-lighter75;
$nc-qty-decrement-button-color: $nc-brand-gray2;
$nc-qty-decrement-button-hover-color: $nc-brand-gray2-darker25;

// Event Header
$nc-header-color: $nc-brand-primary;
$nc-header-text-color: $nc-white;
$nc-header-secondary-text-color: $nc-brand-primary-lighter75;

// Borders
$nc-base-border-color: $nc-brand-gray3;
$nc-input-border-color: $nc-brand-gray2;
$nc-caution-dialog-color: $nc-brand-caution;
$nc-cobrand-border-color: $nc-brand-gray3;

// Utility
$nc-resale-color: $nc-brand-accent;
$nc-success-color: $nc-brand-cta;
$nc-alert-color: $nc-brand-alert;
$nc-caution-color: $nc-brand-caution;
$nc-info-color: $nc-brand-gray;
$nc-label-color: $nc-brand-gray2;
$nc-modal-color: $nc-brand-primary;
$nc-transparent-color: rgba($nc-white, 0);
$nc-overlay-color: rgba($nc-black, 0.75);
$nc-outline-color: $nc-brand-primary-lighter75;
$nc-shadow-color: rgba($nc-black, 0.5);
$nc-perforated-shadow-color: rgba($nc-black, 0.25);

// Icons
$nc-icon-color: $nc-brand-gray2;
$nc-ada-icon-color: $nc-brand-primary;
$nc-verified-icon-ticket-color: $nc-brand-gray;
$nc-verified-icon-circle-color: $nc-brand-primary;
$nc-polling-circle-unfilled-color: $nc-brand-gray4;

// Breadcrumbs
$nc-breadcrumbs-logo-color: $nc-brand-gray2;
$nc-breadcrumbs-link-color: $nc-brand-gray2;

// Toggle Switch
$nc-toggle-switch-indicator-bg-color: $nc-white;
$nc-toggle-switch-off-bg-color: $nc-brand-gray2-lighter50;
$nc-toggle-switch-on-bg-color: $nc-brand-primary;

// Slider
$nc-slider-range-shadow-color: rgba($nc-black, 0.25);
$nc-slider-range-border-color: $nc-brand-gray;
$nc-slider-range-bg-color: $nc-brand-gray3;
$nc-slider-range-active-bg-color: $nc-brand-primary;
$nc-slider-knob-bg-color: $nc-white;
$nc-slider-knob-shadow-color: rgba($nc-black, 0.5);

// Misc
$nc-list-item-hover-color: $nc-brand-primary-lighter87;
$nc-page-section-bg-color: $nc-brand-gray4;
$nc-caret-legacy-color: $nc-brand-gray2-lighter50;
$nc-polling-refresh-bg-color: $nc-brand-gray;
$nc-tooltip-color: $nc-white;
