// TM Color Palette
// scss-lint:disable ColorVariable

// base colors
$brand-tm:       #009cde;
$brand-primary:  #e11d39;
$brand-cta:      #2cb3ad;
$brand-success:  #19ab20;
$brand-accent:   #d0006f;
$brand-accent2:  #2088b3;
$brand-alert:    #f00;
$brand-caution:  #fa3;
$brand-gray2:    #768692;
$brand-gray3:    #dfe4e7;
$brand-gray4:    #f6f7f9;
$brand-gray5:    #576671;
$black:          #000;
$white:          #fff;

// map hex values to names
$palette: (
  'gray': (
    'sierra':   get-darker($brand-gray2, 40%),
    'cascade':  $brand-gray2,
    'rocky':    $brand-gray3,
    'ridge':    $brand-gray4,
    'smoky':    $brand-gray5
  ),
  'blue': (
    'shasta':  $brand-accent2
  ),
  'green': (
    'yosemite': $brand-success,
    'tahoe':    $brand-cta
  ),
  'pink': (
    'catalina': $brand-accent
  ),
  'red': (
    'helen':    $brand-alert,
    'rainier':  $brand-primary
  ),
  'yellow': (
    'malibu':   $brand-caution
  )
);

// derived colors from base
$brand-gray: color('gray', 'sierra');

// shades/derivatives
$brand-primary-lighter50: get-lighter($brand-primary, 50%);
$brand-primary-lighter75: get-lighter($brand-primary, 75%);
$brand-primary-lighter87: get-lighter($brand-primary, 87.5%);
$brand-gray2-lighter50:   get-lighter($brand-gray2, 50%);
$brand-gray2-lighter75:   get-lighter($brand-gray2, 75%);
$brand-gray5-lighter50:   get-lighter($brand-gray5, 50%);
$brand-gray5-lighter75:   get-lighter($brand-gray5, 75%);
$brand-cta-lighter50:     get-lighter($brand-cta, 50%);
$brand-cta-lighter75:     get-lighter($brand-cta, 75%);
$brand-cta-lighter87:     get-lighter($brand-cta, 87.5%);
$brand-success-lighter75: get-lighter($brand-success, 75%);
$brand-alert-lighter75:   get-lighter($brand-alert, 75%);
$brand-accent-lighter50:  get-lighter($brand-accent, 50%);
$brand-accent2-lighter50: get-lighter($brand-accent2, 50%);

$brand-primary-darker25:  get-darker($brand-primary, 25%);
$brand-gray2-darker25:    get-darker($brand-gray2, 25%);
$brand-gray5-darker25:    get-darker($brand-gray5, 25%);
$brand-cta-darker25:      get-darker($brand-cta, 25%);
$brand-success-darker25:  get-darker($brand-success, 25%);
$brand-alert-darker25:    get-darker($brand-alert, 25%);

// Typography
$text-color: $brand-gray;
$alt-text-color: $brand-gray2;
$link-color: $brand-cta;
$link-hover-color: $brand-cta-darker25;

// Buttons
$primary-button-color: $brand-gray5;
$primary-aux-button-color: $brand-cta;
$secondary-button-color: $brand-gray5;
$cta-button-color: $brand-cta;

// Qty Picker
$qty-increment-button-color: $brand-cta;
$qty-increment-button-hover-color: $brand-cta-darker25;
$qty-increment-button-disabled-color: $brand-cta-lighter75;
$qty-decrement-button-color: $brand-gray5;
$qty-decrement-button-hover-color: $brand-gray5-darker25;

// Event Header
$header-color: $brand-primary;
$header-text-color: $white;
$header-secondary-text-color: $white;

// Borders
$base-border-color: $brand-gray3;
$input-border-color: $brand-gray2;
$caution-dialog-color: $brand-caution;
$cobrand-border-color: $brand-gray3;

// Utility
$resale-color: $brand-accent;
$success-color: $brand-cta;
$alert-color: $brand-alert;
$caution-color: $brand-caution;
$info-color: $brand-gray;
$label-color: $brand-gray2;
$modal-color: $brand-gray5;
$transparent-color: rgba($white, 0);
$overlay-color: rgba($black, 0.75);
$outline-color: $brand-cta-lighter75;
$shadow-color: rgba($black, 0.5);
$perforated-shadow-color: rgba($black, 0.25);

// Icons
$icon-color: $brand-gray5;
$ada-icon-color: $brand-tm;
$verified-icon-ticket-color: $brand-gray;
$verified-icon-circle-color: $brand-tm;
$polling-circle-unfilled-color: $brand-gray4;

// Breadcrumbs
$breadcrumbs-logo-color: $brand-gray2;
$breadcrumbs-link-color: $brand-gray2;

// Misc
$list-item-hover-color: $brand-cta-lighter87;
$page-section-bg-color: $brand-gray4;
$caret-legacy-color: $brand-gray2-lighter50;
$polling-refresh-bg-color: $brand-gray;
$tooltip-color: $white;

// Toggle Switch
$toggle-switch-indicator-bg-color: $white;
$toggle-switch-off-bg-color: $brand-gray2-lighter50;
$toggle-switch-on-bg-color: $brand-primary;

// Slider
$slider-range-shadow-color: rgba($black, 0.25);
$slider-range-border-color: $brand-gray;
$slider-range-bg-color: $brand-gray3;
$slider-range-active-bg-color: $brand-cta;
$slider-knob-bg-color: $white;
$slider-knob-shadow-color: rgba($black, 0.5);

// Tab Selections
$tab-item-color: $brand-gray2;
$tab-item-selected-color: $brand-gray2;

// Radio Icon
$radio-icon-bg-color: $white;
$radio-icon-selected-color: $link-color;
