// TM Sans font
@font-face {
  font-family: 'TM Sans';
  src: url('../font/TMSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TM Sans';
  src: url('../font/TMSans-Bold.woff') format('woff');
  font-weight: bold;
}


$nc-tm-sans: 'TM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$nc-monospace: Menlo, Consolas, 'Courier New', monospace;
$nc-default-font-size: 16px; // for media queries
$nc-base-font-size: 62.5%;   // == 10px

// Typography settings
$nc-base-font-family: $nc-tm-sans;
$nc-type-size-basis: 1.6rem;
$nc-type-scale-ratio: 1.125;
$nc-base-line-height: 1.4;
$nc-type-scale-digits: 1;

// Font sizes
$nc-font-scale-start: -4;
$nc-font-name-list:
  'milli',
  'centi',
  'uno',
  'hecto',
  'kilo',
  'mega',
  'giga',
  'tera',
  'peta',
  'exa',
  'zetta',
  'yotta',
  'bronto';
$nc-font-set-list:
  'sm',
  'md',
  'lg';
$nc-font-map: ();

@each $key in $nc-font-name-list {
  $nc-font-map: map-merge($nc-font-map, ($key:
    nc-generate-scale-map($nc-font-scale-start, $nc-font-set-list, $nc-type-size-basis, $nc-type-scale-ratio, $nc-type-scale-digits)
  ));
  $nc-font-scale-start: $nc-font-scale-start + 1;
}


@function nc-get-font($name, $size) {
  @return nc-get-nested-map($nc-font-map, $name, $size);
}







$nc-font-size-factor: 0.2;

// retrieve font-size
@function nc-fetch-font($set, $size: 'pint') {
  @return map-get(map-get($nc-font-sizes, $set), $size);
}

// return responsive font size
@function nc-get-quart-size($num) {
  @return $num + $nc-font-size-factor;
}

@function nc-get-gallon-size($num) {
  @return $num + ($nc-font-size-factor * 2);
}

// set default line height or custom
@function nc-get-lh($font, $lh) {
  $val: $lh;
  @if not $lh {
    $val: nc-calc-lh($font);
  }
  @return $val;
}

// calculate line height based on font size
@function nc-calc-lh($font-size) {
  $lh: $nc-header-line-height;
  @if ($font-size < 1.8) {
    $lh: $nc-base-line-height;
  }
  @return $lh;
}

// retrieve font-size
@function nc-fetch-font($set, $size: 'pint') {
  @return map-get(map-get($nc-font-sizes, $set), $size);
}

// deprecate
$nc-header-line-height: 1.2;
$nc-header-margin: 10px;

// deprecate
// Base font sizes
// DO NOT use these variables elsewhere
// See styleguide for documentation on defining font-sizes
$nc-base-xs-font: 1rem;
$nc-base-sm-font: 1.2rem;
$nc-base-md-font: 1.4rem;
$nc-base-lg-font: 1.8rem;
$nc-base-xl-font: 2.2rem;
$nc-base-xxl-font: 2.6rem;
$nc-base-xxxl-font: 4rem;

// deprecate
// Other font sizes
$nc-body-font-size: $nc-base-md-font;

// deprecate
$nc-font-sizes: (
  'xs': (
    'pint':   $nc-base-xs-font,
    'quart':  $nc-base-xs-font,
    'gallon': nc-get-quart-size($nc-base-xs-font)
  ),
  'sm': (
    'pint':   $nc-base-sm-font,
    'quart':  nc-get-quart-size($nc-base-sm-font),
    'gallon': nc-get-gallon-size($nc-base-sm-font)
  ),
  'md': (
    'pint':   $nc-base-md-font,
    'quart':  nc-get-quart-size($nc-base-md-font),
    'gallon': nc-get-gallon-size($nc-base-md-font)
  ),
  'lg': (
    'pint':   $nc-base-lg-font,
    'quart':  nc-get-quart-size($nc-base-lg-font),
    'gallon': nc-get-gallon-size($nc-base-lg-font)
  ),
  'xl': (
    'pint':   $nc-base-xl-font,
    'quart':  nc-get-quart-size($nc-base-xl-font),
    'gallon': nc-get-gallon-size($nc-base-xl-font)
  ),
  'xxl': (
    'pint':   $nc-base-xxl-font,
    'quart':  nc-get-quart-size($nc-base-xxl-font),
    'gallon': nc-get-gallon-size($nc-base-xxl-font)
  ),
  'xxxl': (
    'pint':   $nc-base-xxxl-font,
    'quart':  nc-get-quart-size($nc-base-xxxl-font),
    'gallon': nc-get-gallon-size($nc-base-xxxl-font)
  )
);
