// TM Sans font
@font-face {
  font-family: 'TM Sans';
  src: url('../font/TMSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TM Sans';
  src: url('../font/TMSans-Bold.woff') format('woff');
  font-weight: bold;
}


$nc-tm-sans: 'TM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$nc-monospace: Menlo, Consolas, 'Courier New', monospace;

// Typography settings
$nc-base-font-family: $nc-tm-sans;
$nc-type-size-basis: 1.6rem;
$nc-type-scale-ratio: 1.125;
$nc-base-line-height: 1.4;

// Default font sizes
$nc-default-font-size: 16px; // for media queries
$nc-base-font-size: 62.5%;   // == 10px
$nc-font-size-factor: 0.2;

// Font sizes
$nc-font-name-list:
  'milli',
  'centi',
  'uno',
  'hecto',
  'kilo',
  'mega',
  'giga',
  'tera',
  'peta',
  'exa',
  'zetta',
  'yotta',
  'bronto';
$nc-font-set-list:
  'sm',
  'md',
  'lg';
$nc-font-map: ();
$nc-font-set-start: -4;

@each $key in $nc-font-name-list {
  $nc-font-map: map-merge($nc-font-map, ($key:
    nc-gutenberg($nc-font-set-start, $nc-font-set-list, $nc-type-size-basis, $nc-type-scale-ratio)
  ));
  $nc-font-set-start: $nc-font-set-start + 1;
}




// retrieve font-size
@function nc-fetch-font($set, $size: 'pint') {
  @return map-get(map-get($nc-font-sizes, $set), $size);
}

// return responsive font size
@function nc-get-quart-size($num) {
  @return $num + $nc-font-size-factor;
}

@function nc-get-gallon-size($num) {
  @return $num + ($nc-font-size-factor * 2);
}

// set default line height or custom
@function nc-get-lh($font, $lh) {
  $val: $lh;
  @if not $lh {
    $val: nc-calc-lh($font);
  }
  @return $val;
}

// calculate line height based on font size
@function nc-calc-lh($font-size) {
  $lh: $nc-header-line-height;
  @if ($font-size < 1.8) {
    $lh: $nc-base-line-height;
  }
  @return $lh;
}

// retrieve font-size
@function nc-fetch-font($set, $size: 'pint') {
  @return map-get(map-get($nc-font-sizes, $set), $size);
}

// deprecate
$nc-header-line-height: 1.2;
$nc-header-margin: 10px;

// deprecate
// Base font sizes
// DO NOT use these variables elsewhere
// See styleguide for documentation on defining font-sizes
$nc-base-xs-font: 1rem;
$nc-base-sm-font: 1.2rem;
$nc-base-md-font: 1.4rem;
$nc-base-lg-font: 1.8rem;
$nc-base-xl-font: 2.2rem;
$nc-base-xxl-font: 2.6rem;
$nc-base-xxxl-font: 4rem;

// deprecate
// Other font sizes
$nc-body-font-size: $nc-base-md-font;
$nc-min-input-font-size: 1.6rem; // min required to avoid iOS zooming

// deprecate
$nc-font-sizes: (
  'xs': (
    'pint':   $nc-base-xs-font,
    'quart':  $nc-base-xs-font,
    'gallon': nc-get-quart-size($nc-base-xs-font)
  ),
  'sm': (
    'pint':   $nc-base-sm-font,
    'quart':  nc-get-quart-size($nc-base-sm-font),
    'gallon': nc-get-gallon-size($nc-base-sm-font)
  ),
  'md': (
    'pint':   $nc-base-md-font,
    'quart':  nc-get-quart-size($nc-base-md-font),
    'gallon': nc-get-gallon-size($nc-base-md-font)
  ),
  'lg': (
    'pint':   $nc-base-lg-font,
    'quart':  nc-get-quart-size($nc-base-lg-font),
    'gallon': nc-get-gallon-size($nc-base-lg-font)
  ),
  'xl': (
    'pint':   $nc-base-xl-font,
    'quart':  nc-get-quart-size($nc-base-xl-font),
    'gallon': nc-get-gallon-size($nc-base-xl-font)
  ),
  'xxl': (
    'pint':   $nc-base-xxl-font,
    'quart':  nc-get-quart-size($nc-base-xxl-font),
    'gallon': nc-get-gallon-size($nc-base-xxl-font)
  ),
  'xxxl': (
    'pint':   $nc-base-xxxl-font,
    'quart':  nc-get-quart-size($nc-base-xxxl-font),
    'gallon': nc-get-gallon-size($nc-base-xxxl-font)
  )
);



// Baseline for page
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $nc-base-font-size;
  color: $nc-text-color;
}

body {
  font-family: $nc-base-font-family;
  -webkit-font-smoothing: antialiased;
  line-height: $nc-base-line-height;
  letter-spacing: 0.3px;
  color: $nc-text-color;

  background-color: $nc-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  line-height: $nc-header-line-height;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

p {
  margin: 0 0 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: bold;
}

a {
  color: $nc-link-color;
  text-decoration: none;

  &:active,
  &:hover {
    color: $nc-link-hover-color;
    text-decoration: underline;
  }

  &:focus {
    outline: 0;
  }
}

abbr {
  text-decoration: none;

  border-bottom: 0;
}
