// Spacing
$nc-spacing-basis: 0.6rem;  // == 6px
$nc-spacing-ratio: 1.5;
$nc-spacing-digits: 1;
$nc-spacing-scale-start: -2;
$nc-spacing-name-list:
  'slim',
  'cozy',
  'compact',
  'moderate',
  'normal',
  'expanded',
  'spacious',
  'giant',
  'colossal';
$nc-spacing-set-list:
  'mini',
  'maxi';
$nc-spacing-map: ();

@each $key in $nc-spacing-name-list {
  $nc-spacing-map: map-merge(
    $nc-spacing-map, ($key: nc-generate-scale-map($nc-spacing-scale-start, $nc-spacing-set-list, $nc-spacing-basis, $nc-spacing-ratio, $nc-spacing-digits))
  );
  $nc-spacing-scale-start: $nc-spacing-scale-start + 1;
}


// Borders
$nc-base-border-style: 1px solid nc-theme('base-border-color');
$nc-input-border-style: 1px solid nc-theme('input-border-color');
$nc-title-icon-border-style: 1px solid $nc-white;
$nc-focused-border-style: 1px solid nc-theme('link-color');
$nc-success-border-style: 1px solid nc-theme('success-color');
$nc-caution-border-style: 1px solid nc-theme('caution-color');
$nc-alert-border-style: 1px solid nc-theme('alert-color');
$nc-info-border-style: 1px solid nc-theme('info-border-color');
$nc-tile-selected-style: 2px solid nc-theme('link-color');

// Radius and shadows
$nc-base-border-radius: 1px;
$nc-circle-border-radius: 50%;
$nc-shadow-x: 0;
$nc-shadow-y: 1px;
$nc-shadow-blur: 4px;
$nc-shadow-spread: 1px;
$nc-box-shadow-style: $nc-shadow-x $nc-shadow-y $nc-shadow-blur $nc-shadow-spread nc-theme('shadow-color');
$nc-inner-shadow-style: inset 0 1px 3px 0 nc-theme('shadow-color');

// Perforated edge shadow
$nc-perforated-shadow-x: 0;
$nc-perforated-shadow-y: 1px;
$nc-perforated-shadow-blur: 10px;
$nc-perforated-shadow-spread: 2px;
$nc-perforated-box-shadow-style: $nc-perforated-shadow-x $nc-perforated-shadow-y $nc-perforated-shadow-blur $nc-perforated-shadow-spread nc-theme('shadow-color');
$nc-perforated-inner-shadow-style: inset 0 1px 1px 0 nc-theme('shadow-color');

// Buttons
$nc-button-height: 36px;
$nc-button-padding: nc-spacing-val('normal');
$nc-button-border-size: 1px;

// Quantity picker
$nc-qty-picker-button-size: 40px;

// Toggle Switch
$nc-toggle-switch-button-size: 30px;

// Sizes
$nc-touch-size: 44px;
$nc-scrollbar-width: 20px;
$nc-rotator-height: 1.4em;
$nc-srs-min-width: 295px;
$nc-tooltip-caret: 15px;
$nc-tooltip-caret-lg: 20px;
$nc-ism-tooltip-width: 315px;
$nc-base-icon-size: 20px;
$nc-modal-close-size: 44px;
$nc-modal-close-size-lg: 56px;
$nc-modal-close-indicator: 18px;
$nc-modal-close-indicator-lg: 20px;
$nc-polling-size: 60px;
$nc-polling-border-size: 4px;

// Forms
$nc-min-input-font-size: 1.6rem; // min required to avoid iOS zooming
$nc-textfield-gutter-left: 10px;
$nc-input-height: 44px;
$nc-dropdown-chevron-width: 13px;
$nc-dropdown-chevron-height: 8px;
$nc-chkbox-size: 8px;
$nc-chkbox-thickness: 3px;
$nc-radio-label-offset: 10px;
$nc-input-padding: 'normal';

// Event Header
$nc-event-header-tm-short: 35px;
$nc-event-header-tm-full: 165px;
$nc-event-header-height: 8rem;
$nc-cobrand-header-offset: 0.5rem;
$nc-cobrand-header-logo-height: 3.4rem;

// Timer
$nc-timer-size: 55px;
$nc-timer-size-lg: 60px;
$nc-timer-border-thickness: 5px;
$nc-timer-opacity: 0.3;

// Breadcrumbs
$nc-breadcrumbs-logo-width: 83px;
$nc-breadcrumbs-logo-height: 11px;
$nc-breadcrumbs-max-width: 75px;
$nc-breadcrumbs-height: 4.9rem;
$nc-breadcrumbs-chevron-dim: 1.15em;
$nc-breadcrumbs-spacing: 5px;
$nc-breadcrumbs-chevron-border-width: 0.1em;

// Modal Dialogs
$nc-modal-content-height: 60vh;

// Animation
$nc-expando-animation-open: all 0.5s ease-out 0s;
$nc-expando-animation: all 0.3s ease-in 0s;

// SVG
$nc-svgs: (
  'pedge': 'data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-294%20392%2011%206%22%3E%3Cstyle%3E.st0%7Bfill%3A%23FFFFFF%3B%7D%20.st1%7Bfill%3Anone%3B%7D%3C%2Fstyle%3E%3Ctitle%3ERectangle%20255%3C%2Ftitle%3E%3Cg%20id%3D%22desktop%22%3E%3Cg%20id%3D%22receipt-copy-3%22%3E%3Cg%20id%3D%22Rectangle-255%22%3E%3Cpath%20id%3D%22path-1%22%20class%3D%22st0%22%20d%3D%22M-304%20398h12.1c0-2.5%201.2-3.7%203.5-3.7%202.2%200%203.5%201.2%203.5%203.7h12v-6h-31v6z%22%2F%3E%3Cpath%20id%3D%22path-1_1_%22%20class%3D%22st1%22%20d%3D%22M-304%20398h12.1c0-2.5%201.2-3.7%203.5-3.7%202.2%200%203.5%201.2%203.5%203.7h12v-6h-31v6z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E'
);

// z-indexes
$nc-z-indexes: (
  'timer-filler': 100,
  'timer-spinner': 200,
  'timer-mask': 200,
  'timer-indicator': 220,
  'arrow': 1,
  'event-footer': 50,
  'polling': 1,
  'hide': -1,
  'above-page': 1
);


// ************************************************************************** //
// Values below are deprecated and will no longer be available in Nucleus 2.0
// ************************************************************************** //

// Grid
$nc-total-columns: 12;
$nc-gutter-width: 30px;
$nc-gutter-width-half: $nc-gutter-width / 2;
