// config
$sg-swatch-height: 70px;
$sg-spacing: 1.5em;

@mixin code-style($sz: sm) {
  @include fixed-font($sz);

  padding: 2px 4px;
  border: $base-border-style;
  border-radius: 4px;
  font-family: $monospace;
  background-color: $brand-gray4;
}


.sg-header {
  @include span(full);
  @include outer-spacing($bottom: $spacing-lg);

  padding-top: $spacing-sm;
  padding-bottom: $spacing-sm;

  line-height: 1;

  background-color: $brand-primary;

  @include breakpoint($bp-md) {
    padding-top: increase-spacing($spacing-sm);
    padding-bottom: increase-spacing($spacing-sm);
  }
}

.nucleus-logo {
  width: 70px;
  height: 70px;

  fill: $white;
}

.sg-tm-logo {
  width: 200px;
  height: 27px;

  fill: $white;

  @include breakpoint($bp-md) {
    width: 240px;
    height: 35px;
  }
}

.sg-name {
  @include responsive-font('md');

  font-weight: bold;
  color: $white;
}

.sg-title {
  @include hdg-text('xl', $brand-gray);
}

.sg-nav {
  @include span(full);
  @include outer-spacing($bottom: $spacing-lg);
  @include responsive-font('sm');

  padding-bottom: $spacing-lg;

  border-bottom: $base-border-style;

  @include breakpoint($bp-md) {
    @include span(3);

    padding-bottom: increase-spacing($spacing-lg);

    border-bottom: 0;
  }

  @include breakpoint($bp-lg) {
    @include span(2);
  }
}

.sg-main {
  @include breakpoint($bp-md) {
    @include span(9);
  }

  @include breakpoint($bp-lg) {
    @include span(10);
  }
}

.sg-section {
  @include span(full);
  @include outer-spacing($bottom: $spacing-lg);
  @include responsive-font('md');

  padding-bottom: $spacing-lg;

  border-bottom: $base-border-style;

  @include breakpoint($bp-md) {
    padding-bottom: increase-spacing($spacing-lg);
  }

  .module {
    margin-bottom: $sg-spacing;
  }
}


.sg-hdg {
  @include hdg-text('xxl', $brand-primary);

  text-transform: uppercase;
}


.sg-subhdg {
  @include hdg-text('md', $brand-accent);

  text-transform: uppercase;
}

.sg-subhdg2 {
  @include hdg-text('sm', $brand-gray2, 5px);

  margin-top: 2em;

  text-transform: uppercase;
}

.sg-subhdg3 {
  @include hdg-text('sm', $brand-gray);

  margin-top: 2em;

  font-weight: normal;
  text-transform: uppercase;
}


.sg-list {
  @include unstyled-list();

  margin-bottom: 1em;

  line-height: 1.6;

  > li {
    margin-bottom: 0.5em;
  }
}


.sg-table {
  margin-bottom: 1em;

  @include breakpoint($bp-md) {
    display: inline-block;

    vertical-align: top;
  }

  td {
    @include responsive-font('sm');

    padding: 0 10px 5px 0;

    @include breakpoint($bp-md) {
      padding-right: 25px;
    }
  }
}

.sg-typography-table {
  td {
    padding: 5px 10px;

    vertical-align: top;
  }

  tr:nth-child(even) {
    background-color: $brand-gray4;
  }
}

.sg-swatch-table {
  td {
    width: 25%;
    padding-right: 15px;

    vertical-align: top;
  }

  .sg-swatch-na {
    padding-top: 25px;
    text-align: center;
  }
}

.sg-button-table {
  td {
    padding: 0 20px 10px 0;
  }
}


.sg-table-hdg {
  padding: 0 20px 5px 0;

  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.sg-typography-hdg {
  padding: 5px 10px;
}

.sg-typography-bp {
  white-space: nowrap;
  vertical-align: top;
}

.sg-code {
  @include code-style();
}

.sg-code-xs {
  @include code-style('xs');
}


// sample code style
.sg-sample-code {
  @include code-style();

  padding: 0 gutter();
  margin-bottom: 1em;
  clear: both;
  background: $brand-gray4;

  &:before {
    @include responsive-font('sm');

    display: block;
    padding: 5px 10px;
    margin: 0 (-($gutter-width / 2)) 1em;
    font-weight: bold;
    color: $white;
    background: $black;
    content: 'Example Usage';
  }
}

.sg-highlight-code {
  color: $brand-alert;
}


// swatches
.sg-swatch {
  position: relative;

  width: 100%;
  height: $sg-swatch-height;

  border-radius: $base-border-radius * 2;
}


@each $color, $shades in $palette {
  @each $name, $shade in $shades {
    .sg-swatch--#{$name} {
      background: $shade;

      &:before {
        position: absolute;
        bottom: 10px;
        left: 10px;

        @if ($name == 'rocky'
          or $name == 'ridge'
          or $name == 'havasu'
        ) {
          color: $black;
        }
        @else {
          color: $white;
        }

        content: '#{$shade}';
      }
    }
  }
}

.sg-swatch--state {
  width: 20vw;

  margin-bottom: 5px;

  @include breakpoint($bp-md) {
    width: 13vw;
  }

  @include breakpoint($bp-lg) {
    width: 15vw;
  }

  &:before {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

.sg-swatch--state.sg-swatch--pacific:before {
  content: 'pacific';
}

.sg-swatch--state.sg-swatch--cascade:before {
  content: 'cascade';
}

.sg-swatch--state.sg-swatch--yosemite:before {
  content: 'yosemite';
}

.sg-swatch--state.sg-swatch--helen:before {
  content: 'helen';
}

.sg-swatch--state.sg-swatch--malibu:before {
  content: 'malibu';
}

.sg-swatch--state.sg-swatch--catalina:before {
  content: 'catalina';
}

.sg-swatch--pacific-darker25 {
  background: $brand-primary-darker25;

  &:before {
    color: $white;

    content: '#{$brand-primary-darker25}';
  }
}

.sg-swatch--pacific-lighter50 {
  background: $brand-primary-lighter50;

  &:before {
    content: '#{$brand-primary-lighter50}';
  }
}

.sg-swatch--pacific-lighter75 {
  background: $brand-primary-lighter75;

  &:before {
    content: '#{$brand-primary-lighter75}';
  }
}

.sg-swatch--pacific-lighter87 {
  background: $brand-primary-lighter87;

  &:before {
    content: '#{$brand-primary-lighter87}';
  }
}

.sg-swatch--cascade-darker25 {
  background: $brand-gray2-darker25;

  &:before {
    color: $white;

    content: '#{$brand-gray2-darker25}';
  }
}

.sg-swatch--cascade-lighter50 {
  background: $brand-gray2-lighter50;

  &:before {
    content: '#{$brand-gray2-lighter50}';
  }
}

.sg-swatch--cascade-lighter75 {
  background: $brand-gray2-lighter75;

  &:before {
    content: '#{$brand-gray2-lighter75}';
  }
}

.sg-swatch--yosemite-darker25 {
  background: $brand-cta-darker25;

  &:before {
    color: $white;

    content: '#{$brand-cta-darker25}';
  }
}

.sg-swatch--yosemite-lighter75 {
  background: $brand-cta-lighter75;

  &:before {
    content: '#{$brand-cta-lighter75}';
  }
}

.sg-swatch--helen-darker25 {
  background: $brand-alert-darker25;

  &:before {
    color: $white;

    content: '#{$brand-alert-darker25}';
  }
}

.sg-swatch--helen-lighter75 {
  background: $brand-alert-lighter75;

  &:before {
    content: '#{$brand-alert-lighter75}';
  }
}

.sg-swatch--catalina-lighter50 {
  background: $brand-accent-lighter50;

  &:before {
    content: '#{$brand-accent-lighter50}';
  }
}



.sg-swatches {
  @include clearfix();

  @include breakpoint($bp-md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.sg-swatch-group {
  @include outer-spacing($bottom: $spacing-md);

  @include breakpoint($bp-md) {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
  }

  @include breakpoint($bp-lg) {
    width: 30%;
  }
}

.sg-swatch-info {
  margin-bottom: 10px;

  line-height: 1.6;
}

.sg-swatch-name {
  display: block;
  margin: 3px 0;
}

.sg-swatch-usage {
  margin-top: 5px;
}

.sg-swatch-state-usage {
  @include responsive-font('xs');

  margin: 5px 0 0 5px;
}


// font sizes
@each $name, $sizes in $font-sizes {
  .sg-#{$name}-font-size {
    $size: fetch-font($name, 'pint');

    font-size: $size;
    line-height: calc-lh($size);
  }

  .sg-#{$name}-font-size-quart {
    $size: fetch-font($name, 'quart');

    font-size: $size;
    line-height: calc-lh($size);
  }

  @if ($name != 'xs') {
    .sg-#{$name}-font-size-gallon {
      $size: fetch-font($name, 'gallon');

      font-size: $size;
      line-height: calc-lh($size);
    }
  }

  .sg-#{$name}-font-size-responsive {
    @include responsive-font($name);
  }
}

.sg-font-usage {
  @include responsive-font('sm');
}

// text styles
.sg-ex-bold {
  font-weight: bold;
}


// generate breakpoint classes
@each $device, $px in $breakpoints {
  .sg-#{$device}-bp {
    &:before {
      content: '#{$px} - ';
    }
  }
}

@each $device, $px in $breakpoints {
  .sg-#{$device}-limit {
    &:after {
      content: ' (up to #{$px - 1})';
    }
  }
}


// quantity buttons
.sg-embedded-qty-filter {
  width: 250px;
}


// lists {
.sg-list-box {
  margin-bottom: 1em;

  background-color: $white;
  border: $base-border-style;
}


// tooltips
.sg-tooltip {
  text-align: center;

  + .sg-tooltip {
    margin-top: 20px;
  }
}


// sec-row-seat
.sg-srs {
  @include outer-spacing($bottom: $spacing-md);

  width: $srs-min-width;
}

.sg-ism-tooltip {
  @include outer-spacing($bottom: $spacing-md);
}

.sg-input-wrapper {
  @include outer-spacing($bottom: $spacing-md);

  width: 33%;
  // padding: 10px;
}

.sg-module {
  width: 100%;

  @include breakpoint($bp-md) {
    width: 350px;
  }
}


.sg-unstyled-list {
  @include unstyled-list();
}


.sg-dialog {
  width: 300px;
  margin-bottom: 20px;

  @include breakpoint($bp-md) {
    width: 600px;
  }
}

.sg-dialog-modal {
  width: 600px;
  padding: 50px;
  margin-bottom: 20px;
  background-color: $overlay-color;
}
