// config
$code-bg-color: nc-color('ridge');
$main-hdg-color: nc-color('pacific');
$secondary-hdg-color: nc-color('catalina');
$table-alt-bg-color: nc-color('ridge');

$sg-swatch-height: 70px;
$sg-spacing: 1.5em;

@mixin code-style($sz: sm) {
  @include nc-fixed-font($sz);

  padding: 2px 4px;
  border: $nc-base-border-style;
  border-radius: 4px;
  font-family: $nc-monospace;
  font-weight: normal;
  background-color: $code-bg-color;
}

.html,
.scss {
  @include nc-type-scale('centi');
}

.sg__header {
  @include nc-outer-spacing($bottom: $nc-spacing-lg);

  float: left;
  width: 100%;
  padding-top: $nc-spacing-sm;
  padding-bottom: $nc-spacing-sm;
  line-height: 1;
  background-color: $nc-header-color;

  @include nc-breakpoint($nc-bp-md) {
    padding-top: nc-increase-spacing($nc-spacing-sm);
    padding-bottom: nc-increase-spacing($nc-spacing-sm);
  }
}

.sg__logo {
  width: 70px;
  height: 70px;
  fill: $nc-white;
}

.sg__version {
  @include nc-fixed-font('xs');
}

.sg__name {
  @include nc-type-scale('uno');

  font-weight: bold;
  color: $nc-white;
}

.sg__nav {
  @include nc-outer-spacing($bottom: $nc-spacing-lg);
  @include nc-type-scale('centi');

  float: left;
  width: 100%;
  padding: 0 $nc-gutter-width-half $nc-spacing-lg;
  border-bottom: $nc-base-border-style;

  @include nc-breakpoint($nc-bp-md) {
    width: 25%;
    padding: 0 $nc-gutter-width-half nc-increase-spacing($nc-spacing-lg);
    border-bottom: 0;
  }

  @include nc-breakpoint($nc-bp-lg) {
    width: 20%;
  }
}

.sg__main {
  float: left;
  width: 100%;

  @include nc-breakpoint($nc-bp-md) {
    width: 75%;
    padding: 0 $nc-gutter-width-half;
  }

  @include nc-breakpoint($nc-bp-lg) {
    width: 80%;
  }
}

.sg__section {
  @include nc-outer-spacing($bottom: $nc-spacing-lg);
  @include nc-type-scale('uno');

  float: left;
  width: 100%;
  padding: 0 $nc-gutter-width-half $nc-spacing-lg;

  border-bottom: $nc-base-border-style;

  @include nc-breakpoint($nc-bp-md) {
    padding-bottom: nc-increase-spacing($nc-spacing-lg);
  }
}


.sg__hdg {
  @include nc-hdg-text('xxl', $main-hdg-color);

  text-transform: uppercase;
}


.sg__subhdg {
  @include nc-hdg-text('md', $secondary-hdg-color);

  text-transform: uppercase;
}

.sg__subhdg2 {
  @include nc-hdg-text('sm', $nc-alt-text-color, 5px);

  margin-top: 2em;

  text-transform: uppercase;
}

.sg__subhdg3 {
  @include nc-hdg-text('sm', $nc-text-color);

  margin-top: 2em;

  font-weight: normal;
  text-transform: uppercase;
}


.sg__list {
  @include nc-unstyled-list();

  margin-bottom: 1em;

  line-height: 1.6;

  > li {
    margin-bottom: 0.5em;
  }
}


.sg__table {
  margin-bottom: 1em;

  @include nc-breakpoint($nc-bp-md) {
    display: inline-block;

    vertical-align: top;
  }
}

.sg__table-hdg {
  padding-right: 20px;
  padding-bottom: 5px;

  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.sg__table-cell {
  @include nc-inner-spacing(false, 0, $nc-spacing-sm, $nc-spacing-sm, 0);

  vertical-align: top;
}

.sg__typography-cell {
  padding-top: 10px;
  padding-left: 10px;
}

.sg__table-alternating-row {
  &:nth-child(even) {
    background-color: $table-alt-bg-color;
  }
}

.sg__typography-bp {
  white-space: nowrap;
  vertical-align: top;
}

.sg__code {
  @include code-style();
}

.sg__code--xs {
  @include code-style('xs');
}

.sg__highlight-code {
  font-style: italic;
  font-weight: bold;
}


// swatches
.sg__swatch {
  position: relative;

  width: 100%;
  height: $sg-swatch-height;

  border-radius: $nc-base-border-radius * 2;
}


// @each $color, $shades in $nc-palette {
//   @each $name, $shade in $shades {
//     .sg__swatch--#{$name} {
//       background: $shade;
//
//       &:before {
//         position: absolute;
//         bottom: 10px;
//         left: 10px;
//
//         @if ($name == 'rocky'
//           or $name == 'ridge'
//           or $name == 'havasu'
//         ) {
//           color: $nc-black;
//         }
//         @else {
//           color: $nc-white;
//         }
//
//         content: '#{$shade}';
//       }
//     }
//   }
// }

.sg__swatch--state {
  width: 20vw;

  margin-bottom: 5px;

  @include nc-breakpoint($nc-bp-md) {
    width: 13vw;
  }

  @include nc-breakpoint($nc-bp-lg) {
    width: 15vw;
  }

  &:before {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

.sg__swatch--state.sg__swatch--pacific:before {
  content: 'pacific';
}

.sg__swatch--state.sg__swatch--cascade:before {
  content: 'cascade';
}

.sg__swatch--state.sg__swatch--yosemite:before {
  content: 'yosemite';
}

.sg__swatch--state.sg__swatch--helen:before {
  content: 'helen';
}

.sg__swatch--state.sg__swatch--malibu:before {
  content: 'malibu';
}

.sg__swatch--state.sg__swatch--catalina:before {
  content: 'catalina';
}

.sg__swatch--pacific-darker25 {
  background: nc-color('pacific', 'dark');

  &:before {
    color: $nc-white;

    content: '#{nc-color('pacific', 'dark')}';
  }
}

.sg__swatch--pacific-lighter50 {
  background: nc-color('pacific', 'light');

  &:before {
    content: '#{nc-color('pacific', 'light')}';
  }
}

.sg__swatch--pacific-lighter75 {
  background: nc-color('pacific', 'muted');

  &:before {
    content: '#{nc-color('pacific', 'muted')}';
  }
}

.sg__swatch--pacific-lighter87 {
  background: nc-color('pacific', 'background');

  &:before {
    content: '#{nc-color('pacific', 'background')}';
  }
}

.sg__swatch--cascade-darker25 {
  background: nc-color('cascade', 'dark');

  &:before {
    color: $nc-white;

    content: '#{nc-color('cascade', 'dark')}';
  }
}

.sg__swatch--cascade-lighter50 {
  background: nc-color('cascade', 'light');

  &:before {
    content: '#{nc-color('cascade', 'light')}';
  }
}

.sg__swatch--cascade-lighter75 {
  background: nc-color('cascade', 'muted');

  &:before {
    content: '#{nc-color('cascade', 'muted')}';
  }
}

.sg__swatch--yosemite-darker25 {
  background: nc-color('yosemite', 'dark');

  &:before {
    color: $nc-white;

    content: '#{nc-color('yosemite', 'dark')}';
  }
}

.sg__swatch--yosemite-lighter75 {
  background: nc-color('yosemite', 'muted');

  &:before {
    content: '#{nc-color('yosemite', 'muted')}';
  }
}

.sg__swatch--helen-darker25 {
  background: nc-color('helen', 'dark');

  &:before {
    color: $nc-white;

    content: '#{nc-color('helen', 'dark')}';
  }
}

.sg__swatch--helen-lighter75 {
  background: nc-color('helen', 'muted');

  &:before {
    content: '#{nc-color('helen', 'muted')}';
  }
}

.sg__swatch--catalina-lighter50 {
  background: nc-color('catalina', 'light');

  &:before {
    content: '#{nc-color('catalina', 'light')}';
  }
}



.sg__swatches {
  @include nc-clearfix();

  @include nc-breakpoint($nc-bp-md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.sg__swatch-group {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  @include nc-breakpoint($nc-bp-md) {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
  }

  @include nc-breakpoint($nc-bp-lg) {
    width: 30%;
  }
}

.sg__swatch-info {
  margin-bottom: 10px;

  line-height: 1.6;
}

.sg__swatch-name {
  display: block;
  margin: 3px 0;
}

.sg__swatch-usage {
  margin-top: 5px;
}

.sg__swatch-state-usage {
  @include nc-fixed-font('xs');

  margin: 5px 0 0 5px;
}


// font sizes
@each $name, $sizes in $nc-font-sizes {
  .sg__#{$name}-font-size {
    $size: nc-fetch-font($name, 'pint');

    font-size: $size;
    line-height: nc-calc-lh($size);
  }

  .sg__#{$name}-font-size-quart {
    $size: nc-fetch-font($name, 'quart');

    font-size: $size;
    line-height: nc-calc-lh($size);
  }

  @if ($name != 'xs') {
    .sg__#{$name}-font-size-gallon {
      $size: nc-fetch-font($name, 'gallon');

      font-size: $size;
      line-height: nc-calc-lh($size);
    }
  }

  .sg__#{$name}-font-size-responsive {
    // @include nc-responsive-font($name);
  }
}

.sg__font-usage {
  @include nc-type-scale('centi');
}

// text styles
.sg__ex-bold {
  font-weight: bold;
}


// generate breakpoint classes
@each $device, $px in $nc-breakpoints {
  .sg__#{$device}-bp {
    &:before {
      content: '#{$px} - ';
    }
  }
}

@each $device, $px in $nc-breakpoints {
  .sg__#{$device}-limit {
    &:after {
      content: ' (up to #{$px - 1})';
    }
  }
}


// quantity buttons
.sg__embedded-qty-filter {
  width: 250px;
}


// lists {
.sg__list-box {
  margin-bottom: 1em;

  background-color: $nc-white;
  border: $nc-base-border-style;
}


// tooltips
.sg__tooltip {
  text-align: center;

  + .sg__tooltip {
    margin-top: 20px;
  }
}


// sec-row-seat
.sg__srs {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  width: $nc-srs-min-width;
}

.sg__ism-tooltip {
  @include nc-outer-spacing($bottom: $nc-spacing-md);
}

.sg__input-wrapper {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  width: 33%;
}

.sg__label-example {
  padding-left: 15px;
  padding-top: 3px;
}

.sg__label-example--light {
  background-color: nc-color('cascade', 'background');
}

.sg__label-example--dark {
  background-color: nc-color('sierra');
}


.sg__module {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  width: 100%;

  @include nc-breakpoint($nc-bp-md) {
    width: 350px;
  }
}


.sg__unstyled-list {
  @include nc-unstyled-list();
}


.sg__dialog {
  width: 300px;
  margin-bottom: 20px;

  @include nc-breakpoint($nc-bp-md) {
    width: 600px;
  }
}

.sg__dialog-modal {
  width: 600px;
  padding: 50px;
  margin-bottom: 20px;
  background-color: $nc-overlay-color;
}

.sg__breadcrumbs {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  &:last-child {
    @include nc-outer-spacing($bottom: 0);
  }
}

.sg__polling {
  width: 20px;
  background-color: nc-color('sierra');
}

.sg__price-slider--preview {
  @include nc-outer-spacing($bottom: $nc-spacing-md);
}
