/* stylelint-disable */
// config
$nav-bg-color: nc-color('ridge');
$nav-bg-hover-color: nc-color('sierra', 'background');
$code-bg-color: nc-color('ridge');
$main-hdg-color: nc-color('pacific');
$secondary-hdg-color: nc-color('catalina');
$table-alt-bg-color: nc-color('ridge');

$header-height: 10rem;
$nav-width: 20rem;
$sg-swatch-height: 70px;
$sg-spacing: 1.5em;

$stacking-order: (
  'header':   500,
  'nav':      400
);

@mixin code-style($sz: sm) {
  @include nc-fixed-font($sz);

  padding: 2px 4px;
  border: $nc-base-border-style;
  border-radius: 4px;
  font-family: $nc-monospace;
  font-weight: normal;
  background-color: $code-bg-color;
}

.html,
.scss {
  @include nc-type-scale('centi');
}

.sg-header {
  @include nc-spacing($inside: ('left': 'normal', 'right': 'normal'));

  height: $header-height;
  background: $nc-tm-gradient;
  z-index: nc-z('header', $stacking-order);

  @include nc-breakpoint($nc-bp-md) {
    margin-left: $nav-width;
  }
}

.tm-logo {
  width: 125px;
  height: 17px;
  fill: $nc-black;
}

.nucleus-logo {
  width: 50px;
  height: 50px;
  fill: $nc-white;
}

.sg-version {
  @include nc-type-scale('milli');
}

.sg__title {
  @include nc-type-scale('giga', $lh: $header-height);

  font-weight: normal;
  color: $nc-white;
}

.sg-nav {
  @include nc-type-scale('centi');

  @include nc-spacing(
    $outside: ('bottom': 'moderate'),
    $inside: ('top': 'moderate', 'bottom': 'moderate'),
    $responsive: false
  );

  border-bottom: $nc-base-border-style;
  z-index: nc-z('nav', $stacking-order);

  @include nc-breakpoint($nc-bp-md) {
    @include nc-drop-shadow();

    position: fixed;
    top: 0;
    width: $nav-width;
    height: 100vh;
    background-color: $nav-bg-color;
  }
}

.sg-nav__logo {
  @include nc-spacing($inside: 'moderate');

  @include nc-breakpoint($max: $nc-bp-md - 1) {
    display: none;
  }
}

.sg-nav__list {
  @include nc-unstyled-list();
  @include nc-spacing($inside: ('bottom': 'moderate'));

  @include nc-breakpoint($nc-bp-md) {
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
  }
}

.sg-nav__link {
  @include nc-spacing($inside: (
    'top': 'slim',
    'bottom': 'slim',
    'left': 'moderate',
    'right': 'moderate'
    )
  );

  display: block;
  transition: background-color 0.5s ease,
              color 0.5s ease;

  &:hover {
    text-decoration: none;
    background-color: $nav-bg-hover-color;
  }
}

.sg-nav__link--active {
  $active-border-size: 5px;

  padding-left: calc(#{nc-get-spacing('moderate', 'mini')} - #{$active-border-size});
  border-left: $active-border-size solid nc-color('catalina');

  @include nc-breakpoint($nc-bp-md) {
    padding-left: calc(#{nc-get-spacing('moderate', 'maxi')} - #{$active-border-size});
  }
}

.sg-main {
  @include nc-spacing(
    $outside: ('top': 'normal'),
    $inside: ('left': 'normal', 'right': 'normal')
  );

  @include nc-breakpoint($nc-bp-md) {
    top: $header-height;
    margin-left: $nav-width;
    height: calc(100vh - #{$header-height});
  }
}

.sg__section {
  @include nc-type-scale('uno');
  @include nc-spacing(
    $outside: ('top': 'normal', 'bottom': 'normal'),
    $inside: ('bottom': 'normal')
  );

  border-bottom: $nc-base-border-style;
}


.sg__hdg {
  @include nc-type-scale('giga');

  font-weight: normal;
  color: $main-hdg-color;
}


.sg__subhdg {
  @include nc-type-scale('kilo');
  @include nc-spacing($outside: ('top': 'moderate'));

  font-weight: normal;
  color: $main-hdg-color;
}

.sg__subhdg2 {
  @include nc-type-scale('uno');
}

.sg__subhdg3 {
  @include nc-type-scale('centi');
}


.sg__list {
  @include nc-unstyled-list();

  margin-bottom: 1em;

  line-height: 1.6;

  > li {
    margin-bottom: 0.5em;
  }
}


.sg__table {
  margin-bottom: 1em;

  @include nc-breakpoint($nc-bp-md) {
    display: inline-block;

    vertical-align: top;
  }
}

.sg__table-hdg {
  padding-right: 20px;
  padding-bottom: 5px;

  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.sg__table-cell {
  @include nc-inner-spacing(false, 0, $nc-spacing-sm, $nc-spacing-sm, 0);

  vertical-align: top;
}

.sg__typography-cell {
  padding-top: 10px;
  padding-left: 10px;
}

.sg__table-alternating-row {
  &:nth-child(even) {
    background-color: $table-alt-bg-color;
  }
}

.sg__typography-bp {
  white-space: nowrap;
  vertical-align: top;
}

.sg__code {
  @include code-style();
}

.sg__code--xs {
  @include code-style('xs');
}

.sg__highlight-code {
  font-style: italic;
  font-weight: bold;
}


// swatches
.sg__swatch {
  position: relative;

  width: 100%;
  height: $sg-swatch-height;

  border-radius: $nc-base-border-radius * 2;
}


// @each $color, $shades in $nc-palette {
//   @each $name, $shade in $shades {
//     .sg__swatch--#{$name} {
//       background: $shade;
//
//       &:before {
//         position: absolute;
//         bottom: 10px;
//         left: 10px;
//
//         @if ($name == 'rocky'
//           or $name == 'ridge'
//           or $name == 'havasu'
//         ) {
//           color: $nc-black;
//         }
//         @else {
//           color: $nc-white;
//         }
//
//         content: '#{$shade}';
//       }
//     }
//   }
// }

.sg__swatch--state {
  width: 20vw;

  margin-bottom: 5px;

  @include nc-breakpoint($nc-bp-md) {
    width: 13vw;
  }

  @include nc-breakpoint($nc-bp-lg) {
    width: 15vw;
  }

  &:before {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

.sg__swatch--state.sg__swatch--pacific:before {
  content: 'pacific';
}

.sg__swatch--state.sg__swatch--cascade:before {
  content: 'cascade';
}

.sg__swatch--state.sg__swatch--yosemite:before {
  content: 'yosemite';
}

.sg__swatch--state.sg__swatch--helen:before {
  content: 'helen';
}

.sg__swatch--state.sg__swatch--malibu:before {
  content: 'malibu';
}

.sg__swatch--state.sg__swatch--catalina:before {
  content: 'catalina';
}

.sg__swatch--pacific-darker25 {
  background: nc-color('pacific', 'dark');

  &:before {
    color: $nc-white;

    content: '#{nc-color('pacific', 'dark')}';
  }
}

.sg__swatch--pacific-lighter50 {
  background: nc-color('pacific', 'light');

  &:before {
    content: '#{nc-color('pacific', 'light')}';
  }
}

.sg__swatch--pacific-lighter75 {
  background: nc-color('pacific', 'muted');

  &:before {
    content: '#{nc-color('pacific', 'muted')}';
  }
}

.sg__swatch--pacific-lighter87 {
  background: nc-color('pacific', 'background');

  &:before {
    content: '#{nc-color('pacific', 'background')}';
  }
}

.sg__swatch--cascade-darker25 {
  background: nc-color('cascade', 'dark');

  &:before {
    color: $nc-white;

    content: '#{nc-color('cascade', 'dark')}';
  }
}

.sg__swatch--cascade-lighter50 {
  background: nc-color('cascade', 'light');

  &:before {
    content: '#{nc-color('cascade', 'light')}';
  }
}

.sg__swatch--cascade-lighter75 {
  background: nc-color('cascade', 'muted');

  &:before {
    content: '#{nc-color('cascade', 'muted')}';
  }
}

.sg__swatch--yosemite-darker25 {
  background: nc-color('yosemite', 'dark');

  &:before {
    color: $nc-white;

    content: '#{nc-color('yosemite', 'dark')}';
  }
}

.sg__swatch--yosemite-lighter75 {
  background: nc-color('yosemite', 'muted');

  &:before {
    content: '#{nc-color('yosemite', 'muted')}';
  }
}

.sg__swatch--helen-darker25 {
  background: nc-color('helen', 'dark');

  &:before {
    color: $nc-white;

    content: '#{nc-color('helen', 'dark')}';
  }
}

.sg__swatch--helen-lighter75 {
  background: nc-color('helen', 'muted');

  &:before {
    content: '#{nc-color('helen', 'muted')}';
  }
}

.sg__swatch--catalina-lighter50 {
  background: nc-color('catalina', 'light');

  &:before {
    content: '#{nc-color('catalina', 'light')}';
  }
}



.sg__swatches {
  @include nc-clearfix();

  @include nc-breakpoint($nc-bp-md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.sg__swatch-group {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  @include nc-breakpoint($nc-bp-md) {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
  }

  @include nc-breakpoint($nc-bp-lg) {
    width: 30%;
  }
}

.sg__swatch-info {
  margin-bottom: 10px;

  line-height: 1.6;
}

.sg__swatch-name {
  display: block;
  margin: 3px 0;
}

.sg__swatch-usage {
  margin-top: 5px;
}

.sg__swatch-state-usage {
  @include nc-fixed-font('xs');

  margin: 5px 0 0 5px;
}


// font sizes
@each $name, $sizes in $nc-font-sizes {
  .sg__#{$name}-font-size {
    $size: nc-fetch-font($name, 'pint');

    font-size: $size;
    line-height: nc-calc-lh($size);
  }

  .sg__#{$name}-font-size-quart {
    $size: nc-fetch-font($name, 'quart');

    font-size: $size;
    line-height: nc-calc-lh($size);
  }

  @if ($name != 'xs') {
    .sg__#{$name}-font-size-gallon {
      $size: nc-fetch-font($name, 'gallon');

      font-size: $size;
      line-height: nc-calc-lh($size);
    }
  }

  .sg__#{$name}-font-size-responsive {
    // @include nc-responsive-font($name);
  }
}

.sg__font-usage {
  @include nc-type-scale('centi');
}

// text styles
.sg__ex-bold {
  font-weight: bold;
}


// generate breakpoint classes
@each $device, $px in $nc-breakpoints {
  .sg__#{$device}-bp {
    &:before {
      content: '#{$px} - ';
    }
  }
}

@each $device, $px in $nc-breakpoints {
  .sg__#{$device}-limit {
    &:after {
      content: ' (up to #{$px - 1})';
    }
  }
}


// quantity buttons
.sg__embedded-qty-filter {
  width: 250px;
}


// lists {
.sg__list-box {
  margin-bottom: 1em;

  background-color: $nc-white;
  border: $nc-base-border-style;
}


// tooltips
.sg__tooltip {
  text-align: center;

  + .sg__tooltip {
    margin-top: 20px;
  }
}


// sec-row-seat
.sg__srs {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  width: $nc-srs-min-width;
}

.sg__ism-tooltip {
  @include nc-outer-spacing($bottom: $nc-spacing-md);
}

.sg__input-wrapper {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  width: 33%;
}

.sg__label-example {
  padding-left: 15px;
  padding-top: 3px;
}

.sg__label-example--light {
  background-color: nc-color('cascade', 'background');
}

.sg__label-example--dark {
  background-color: nc-color('sierra');
}


.sg__module {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  width: 100%;

  @include nc-breakpoint($nc-bp-md) {
    width: 350px;
  }
}


.sg__unstyled-list {
  @include nc-unstyled-list();
}


.sg__dialog {
  width: 300px;
  margin-bottom: 20px;

  @include nc-breakpoint($nc-bp-md) {
    width: 600px;
  }
}

.sg__dialog-modal {
  width: 600px;
  padding: 50px;
  margin-bottom: 20px;
  background-color: $nc-overlay-color;
}

.sg__breadcrumbs {
  @include nc-outer-spacing($bottom: $nc-spacing-md);

  &:last-child {
    @include nc-outer-spacing($bottom: 0);
  }
}

.sg__polling {
  width: 20px;
  background-color: nc-color('sierra');
}

.sg__price-slider--preview {
  @include nc-outer-spacing($bottom: $nc-spacing-md);
}
