// TODO: This file is gross and needs to be scrubbed
.accessible-seating__accessibility-badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.accessible-seating__badge-image {
  height: 20px;
}

.accessible-seating__sub-header {
  display: block;
  font-weight: bold;
}

.accessible-seating-header {
  display: inline-block;
}
