.alert-dialog {
  border: $alert-border-style;
}

.alert-dialog__header {
  background-color: $alert-color;
}

.alert-dialog__title {
  @include dialog-title('sm');
}

.alert-dialog__title-icon {
  border: 1px solid $white;
  border-radius: 20px;
  fill: $white;
  height: 20px;
  padding: 3px;
  vertical-align: middle;
  width: 20px;
}

.alert-dialog__title-text {
  padding-left: 7px;
  vertical-align: middle;
}

.alert-dialog__content {
  @include dialog-content();
}
