$nc-breadcrumbs-width: strip-units(fetch-font('xs', 'quart') * $nc-breadcrumbs-chevron-dim);
$nc-breadcrumbs-border-width: strip-units((fetch-font('xs', 'quart') * $nc-breadcrumbs-chevron-border-width) * 2);
$nc-breadcrumbs-chevron-size: ($nc-breadcrumbs-width + $nc-breadcrumbs-border-width) * 10px;

.breadcrumbs {
  @include nc-unstyled-list();
  @include nc-responsive-font('xs', $nc-breadcrumbs-height);
  @include nc-inner-spacing($left: $nc-spacing-sm, $right: $nc-spacing-sm);

  display: flex;
  border: $nc-base-border-style;

  @include nc-breakpoint($max: $nc-bp-md - 1) {
    display: none;
   }
}

.breadcrumbs__item {
  @include nc-truncate-text();

  flex: 0 0 auto;
  float: left;
  max-width: $nc-breadcrumbs-max-width + $nc-breadcrumbs-border-width + $nc-breadcrumbs-chevron-size + $nc-breadcrumbs-spacing;

  &:before {
    position: relative;
    display: inline-block;
    width: $nc-breadcrumbs-chevron-dim;
    height: $nc-breadcrumbs-chevron-dim;
    margin-right: $nc-breadcrumbs-spacing;
    vertical-align: text-bottom;
    border-color: $nc-input-border-color;
    border-style: solid;
    border-width: $nc-breadcrumbs-chevron-border-width $nc-breadcrumbs-chevron-border-width 0 0;
    content: '';
    transform: scale(0.5, 0.9) rotate(45deg);
  }

  &:first-child:before {
    display: none;
  }

  &:last-child {
    @include nc-truncate-text();

    flex: 1 1 auto;
  }
}

.breadcrumbs__item--logo,
.breadcrumbs__item:last-child {
  max-width: none;
}

.breadcrumbs__item--logo {
  flex: 0 0 $nc-breadcrumbs-logo-width;
}

.breadcrumbs__brand-logo {
  width: $nc-breadcrumbs-logo-width;
  height: $nc-breadcrumbs-logo-height;
  fill: $nc-breadcrumbs-logo-color;
}

.breadcrumbs__link {
  color: $nc-breadcrumbs-link-color;
}
