// standard buttons are 44px height
.button {
  @include btn($link-color, $white, $link-hover-color);

  // gray button
  &--secondary {
    background-color: $secondary-button-color;

    &:active,
    &:focus,
    &:hover {
      background-color: $secondary-button-hover-color;
    }
  }

  // call to action buttons
  // reserved for buttons that lead to / are part of checkout
  &--cta {
    padding-right: $button-padding-cta;
    padding-left: $button-padding-cta;

    background-color: $checkout-button-color;

    &:active,
    &:focus,
    &:hover {
      background-color: $checkout-button-hover-color;
    }
  }

  &--full {
    width: 100%;
  }
}
