.button-aux {
  @include btn($brand-primary, $hoverstate: true);

  text-transform: none;

  border-radius: $button-aux-radius;
}

.button-aux--secondary {
  @include btn-color($brand-gray2, $white, $hoverstate: true);
}

.button-aux--full {
  @include breakpoint($max: $bp-md - 1) {
    width: 100%;
  }
}
