.button-aux {
  @include nc-btn($nc-primary-aux-button-color, $hoverstate: true);

  text-transform: none;
  border-radius: $nc-button-height / 2;

  @include nc-breakpoint($nc-bp-md) {
    border-radius: $nc-button-height-lg / 2;
  };
}

.button-aux--secondary {
  @include nc-btn-color($nc-secondary-button-color, $nc-white, $hoverstate: true);
}

.button-aux--full {
  @include nc-breakpoint($max: $nc-bp-md - 1) {
    width: 100%;
  }
}

.button-aux--minor {
  @include nc-responsive-font('sm');

  min-height: $nc-button-minor-height;
  padding: 0 $nc-button-minor-padding;
  border-radius: $nc-button-minor-height / 2;

  @include nc-breakpoint($nc-bp-md) {
    min-height: $nc-button-minor-height-lg;
    padding: 0 $nc-button-minor-padding-lg;
    border-radius: $nc-button-minor-height-lg / 2;
  }
}
