.page-header {
  position: relative;
}

.cobrand-header {
  @include inner-spacing($right: $spacing-sm, $left: $spacing-sm);

  z-index: z('above-page');
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-color;
  border-bottom: 1px solid rgba($cobrand-border-color, 0.25);

  @include breakpoint($bp-lg) {
    position: relative;
    height: 0;
    padding: 0;
  }
}

.cobrand-header__logo {
  @include inner-spacing($top: $spacing-sm, $bottom: $spacing-sm);

  width: 150px;
  height: $cobrand-header-logo-height;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;

  @include breakpoint($bp-lg) {
    position: absolute;
    top: $cobrand-header-offset;
    left: $gutter-width / 2;
    width: 200px;
    height: $event-header-height - ($cobrand-header-offset * 2);
    line-height: $event-header-height;
  }
}

.cobrand-header__tm-logo {
  @include vertically-center();

  width: 90px;
  height: 12px;
  fill: $white;

  @include breakpoint($bp-lg) {
    display: none;
  }
}

.cobrand-header__mlb-ticketmaster {
  @include cobrand-header-logo('../img/mlb-ticketmaster-light.svg');
}

.cobrand-header__verified {
  @include cobrand-header-logo('../img/verified-pacific.svg');
}

.cobrand-header__verified--timer {
  @include breakpoint($bp-lg) {
    display: none;
  }
}
