.page-header {
  position: relative;
}

.cobrand-header {
  @include inner-spacing($right: $spacing-sm, $left: $spacing-sm);

  z-index: z('above-page');
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $brand-primary;
  border-bottom: 1px solid rgba($brand-gray3, 0.25);

  @include breakpoint($bp-lg) {
    position: relative;
    height: 0;
    padding: 0;
  }
}

.cobrand-header__logo {
  @include inner-spacing($top: $spacing-sm, $bottom: $spacing-sm);

  width: 150px;
  height: $touch-size;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;

  @include breakpoint($bp-lg) {
    position: absolute;
    left: $gutter-width / 2;
    width: 200px;
    height: $event-header-height;
    line-height: $event-header-height;
  }
}

.cobrand-header__tm-logo {
  @include vertically-center();

  width: 90px;
  height: 12px;
  fill: $white;

  @include breakpoint($bp-lg) {
    display: none;
  }
}

.cobrand-header__verified {
  width: 150px;
  height: $touch-size;
  text-align: right;
  // determine based on cobrand background color
  background-image: url('../img/verified-pacific.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 125px;

  @include breakpoint($bp-lg) {
    position: absolute;
    right: $gutter-width / 2;
    width: 200px;
    height: $event-header-height;
    line-height: $event-header-height;
    background-size: 175px;
  }
}

.cobrand-header__verified--timer {
  @include breakpoint($bp-lg) {
    display: none;
  }
}
