// concrete classes
.heading-primary {
  @include hdg-text($hdg-primary-font-size, $brand-gray);
}


.heading-secondary {
  @include hdg-text($hdg-secondary-font-size, $brand-gray2);
}


.heading-section {
  @include hdg-text($hdg-section-font-size, $brand-gray, 0);
}


.alt-copy {
  @include alt-copy();
}


.legal-copy {
  @include alt-copy('xs');
}


.truncate-text {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}
