
$countdown-size: 60px;
$countdown-half-size: $countdown-size / 2;
$countdown-thickness: 5px;
$timer-duration: 5s;
$timer-duration-half: $timer-duration / 2;

.countdown {
  width: $countdown-size;
  height: $countdown-size;
  position: relative;
}

.countdown__clock {
  @include responsive-font('md');
  @include vertically-center();

  color: $white;
  text-align: center;
  backface-visibility: hidden;
}

.countdown__indicator {
  width: $countdown-size;
  height: $countdown-size;
  position: absolute;
  clip: rect(0px, $countdown-size, $countdown-size, $countdown-half-size);
}

.circle {
  width: $countdown-size;
  height: $countdown-size;
  border: $countdown-thickness solid $white;
  border-radius: 50%;
  position: absolute;
  clip: rect(0px, $countdown-half-size, $countdown-size, 0px);
  background: $transparent-color;
}

.countdown__description {
  width: $countdown-size;
  height: $countdown-size;
  border: $countdown-thickness solid rgba($white, 0.25);
  border-radius: $countdown-half-size;
  position: absolute;
}


div[data-anim~=base] {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function:linear;
}

.countdown__indicator[data-anim~=wrapper] {
  animation-duration: 0.01s;
  animation-delay: $timer-duration-half;
  animation-name: close-wrapper;
}

.circle[data-anim~=left] {
  animation-duration: $timer-duration;
  animation-name: left-spin;
}

.circle[data-anim~=right] {
  animation-duration: $timer-duration-half;
  animation-name: right-spin;
}


@keyframes right-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes left-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}
