.debug-info {

  position: fixed;
  right: 10px;
  bottom: 10px;

  padding: 20px;

  &__header {
    padding-bottom: 10px;

    font-size: fontsy('lg');
  }

  &__data-table {
    font-size: fontsy('md');
  }

  &__cell {
    padding: 10px;

    border: 1px solid $brand-gray3;
  }

  &__head-cell {
    border: 1px solid $brand-gray3;
  }

  &__table-row {
    background: $brand-gray4;

    &--fail {
      background: color('red', 'hood');
    }
  }
}
