.delimited-list {
  @include unstyled-list();

  margin-bottom: 1em;
}

.delimited-list--embedded {
  margin-bottom: 0;
}

.delimited-list__item {
  @include inner-spacing($top: $spacing-sm, $bottom: $spacing-sm);

  border-top: $base-border-style;

  &:first-child {
    border-top: 0;
  }
}

.delimited-list__item--selected {
  background-color: $list-item-hover-color;
}

.delimited-list__item--embedded {
  @include inner-spacing($spacing-sm);
}

.delimited-list__item--compact {
  @include breakpoint($max: $bp-md - 1) {
    padding: ($spacing-sm / 2) 0;
    border: 0;
  }
}


// TODO: clean outs
.module__content + .delimited-list {
  border-top: $base-border-style;
}
