.delivery__radio-input {
  display: none;
}

.delivery__radio-label {
  @include responsive-font('md');

  display: block;
  padding: $module-padding-lg;

  @include breakpoint($max: $bp-md) {
    padding: 15px 8px;
  }
}

.delivery__label-desc {
  display: block;
  margin: 0;
}

.delivery__label-price {
  float: right;
}

.delivery__free-icon {
  color: $brand-cta;
}

.delivery__free-icon,
.delivery__price-icon {
  margin-left: 0.5em;
}

.delivery__sub-item {
  padding-left: 45px;
  margin-bottom: 1em;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.delivery__sub-item--mobile {
  background-image: url(map-get($svgs, 'icon-mobile'));
}

.delivery__sub-item--credit-card {
  background-image: url(map-get($svgs, 'icon-credit-card'));
}

.delivery__sub-item--print-at-home {
  background-image: url(map-get($svgs, 'icon-print-at-home'));
}

.delivery__sub-item:last-child {
  margin-bottom: 0;
}

.delivery__sub-item-title {
  font-weight: bold;
}

.delivery__sub-item-desc {
  margin: 0;
}

.delivery__sub-list {
  @include unstyled-list();

  margin-top: 1rem;
}
