.dropdown {
  position: relative;
  width: 100%;
}

.dropdown__chevron {
  @include chevron();

  position: absolute;
  right: 10px;
  bottom: 12px;
}

.dropdown__select {
  @include responsive-font('lg');

  width: 100%;
  padding: 20px 0 5px 10px;
  color: $brand-gray;
  cursor: pointer;
  background: none;
  border: 0;
  border-bottom: $textfield-border-style;
  border-radius: 0;
  appearance: none;

  &:focus,
  &:active {
    border-bottom: $focused-border-style;
    outline: 0;
  }

  &:focus ~ .dropdown__chevron,
  &:active ~ .dropdown__chevron {
    @include chevron($brand-primary);
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $brand-gray;
  }
}

.dropdown__select.is-error-field {
  border-bottom: $error-border-style;
}

.dropdown__select.is-error-field ~ .input-group__label, 
.dropdown__select.is-error-field ~ .input-group__label .input-group__required {
  color: $brand-alert;
}

.dropdown__select.is-error-field ~ .dropdown__chevron {
  @include chevron($brand-alert);
}
