.dropdown {
  position: relative;
  width: 100%;
}

.dropdown__icon-chevron {
  @include nc-icon($nc-icon-color, $nc-dropdown-chevron-size, $nc-dropdown-chevron-size);

  position: absolute;
  right: 10px;
  bottom: 15px;
}

.dropdown__select {
  @include nc-responsive-font('lg');

  position: relative;
  z-index: 1;
  width: 100%;
  height: $nc-input-height;
  padding: 20px ($nc-dropdown-chevron-size + 19px) 0 10px;
  color: $nc-text-color;
  cursor: pointer;
  background: none;
  border: 0;
  border-bottom: $nc-input-border-style;
  border-radius: 0;
  appearance: none;

  &:focus,
  &:active {
    border-bottom: $nc-focused-border-style;
    outline: 0;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $nc-text-color;
  }

  &:focus ~ .dropdown__icon-chevron,
  &:active ~ .dropdown__icon-chevron {
    fill: $nc-primary-button-color;
  }
}

.dropdown__select.is-error-field {
  border-bottom: $nc-alert-border-style;
}

.dropdown__select.is-error-field ~ .input-group__label,
.dropdown__select.is-error-field ~ .input-group__label .input-group__required {
  color: $nc-alert-color;
}

.dropdown__select.is-error-field ~ .dropdown__icon-chevron {
  fill: $nc-alert-color;
}
