.event-footer {
  @include clearfix();
  @include span(full);
  @include responsive-font('xl');

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: z('event-footer');
  width: 100%;
  height: auto;
  padding-top: $spacing-sm;
  padding-bottom: $spacing-sm;
  background: $brand-gray4;
  border-top: $base-border-style;
}

.event-footer__alt-copy {
  @include alt-copy('md');

  white-space: nowrap;
}
