.event-details__datevenue {
  padding: $module-padding-sm 0;
  border-top: 1px solid $brand-gray3;
  border-bottom: 1px solid $brand-gray3;

  @include breakpoint($bp-md) {
    padding: $module-padding-lg 0;
  }
}

.event-details__datevenue-title {
  @include responsive-font('md');

  font-weight: bold;
  white-space: nowrap;
  vertical-align: top;
}

.event-details__datevenue-title--date:before {
  @include icon('icon-timer');

  margin-right: 10px;
}

.event-details__datevenue-title--pin:before {
  @include icon('icon-pin');

  margin-right: 8px;
}

.event-details__datevenue-block {
  padding-top: 10px;
  vertical-align: top;
}

.event-details__datevenue-row:first-child > .event-details__datevenue-block {
  padding-top: 0;
}

.event-details__datevenue-info {
  display: block;
  padding-left: 20px;
}

.event-details__lineup-content {
  overflow-x: auto;

  @include breakpoint($max: $bp-md - 1) {
    @include bleed-content($module-padding-sm, ($module-padding-sm * 2));
  }

  @include breakpoint($bp-md) {
    overflow-x: hidden;
  }
}

.event-details__lineup-list {
  @include unstyled-list();

  display: inline-flex;

  @include breakpoint($bp-md) {
    display: inline-block;
    overflow-x: hidden;
  }
}

.event-details__lineup-item {
  max-width: 120px;
  text-align: center;

  @include breakpoint($bp-md) {
    display: inline-block;
    max-width: 140px;
  }
}

.event-details__lineup-expand-item {
  display: none;

  @include breakpoint($bp-md) {
    display: block;
    width: 100%;
  }
}

.event-details__lineup-expand-link {
  @include unbutton();

  padding-top: 10px;

  .event-details:hover {
    text-decoration: underline;
  }
}

.event-details__lineup-img {
  min-width: 120px;
  min-height: 90px;
  border: 1px solid $white;

  @include breakpoint($bp-md) {
    min-width: 140px;
    min-height: 100px;
  }
}

.event-details__lineup-artist {
  @include responsive-font('sm');

  display: block;
  padding-right: 5px;
  padding-left: 5px;

  @include breakpoint($bp-md) {
    color: $brand-gray;

    &:hover {
      color: $brand-gray;
    }
  }
}


.slider-open > .event-details--legacy__content {
  margin-bottom: 10px;

  @include breakpoint($bp-lg) {
    margin-top: 10px;
  }
}
