.event {
  @include span(full nest);
  @include clearfix();
  @include responsive-font('md');

  padding: 0;
  border-bottom: $base-border-style;
}

.event--legacy {
  padding-top: 15px;
  border-bottom: 0;

  @include breakpoint($bp-md) {
    padding-top: 20px;
  }

  @include breakpoint($bp-lg) {
    padding-top: 30px;
  }
}

.event__event-info {
  @include span(full);

  position: relative;
  overflow: hidden;
  text-align: center;

  @include breakpoint($max: $bp-md - 1) {
    position: relative;
  }

  @include breakpoint($bp-md) {
    text-align: left;
  }
}

.event__event-details {
  @include span(full nest);
  @include responsive-font('sm');
}

.event__event-details-link {
  margin-bottom: 10px;

  @include breakpoint($max: $bp-md - 1) {
    @include bleed-x(gutter());
    border-bottom: $base-border-style;
  }

  @include breakpoint($bp-md) {
    margin: 10px 0;
  }
}

.event__event-details-toggle {
  @include unbutton();

  position: relative;
  display: inline-block;
  text-decoration: none;
  background-color: $white;
  border: 0;

  @include breakpoint($max: $bp-md - 1) {
    @include hide-text;

    top: 10px;
    width: 20px;
    padding: 0 15px;
    overflow: visible;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus {
    color: get-darker($brand-primary);
  }

  &:active {
    outline: none;
  }

  &:after {
    @include toggle('icon-expand');

    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    content: '';

    @include breakpoint($bp-md) {
      right: auto;
      left: auto;
      margin-left: 4px;
    }
  }
}

.event__event-details-toggle .toggle-close:after {
  @include toggle('icon-collapse');
}

.event__overlay {
  @include overlay(45px, $overlay-light-bg-color);

  @include breakpoint($bp-lg) {
    padding-top: 0;
  }
}

.event__polling {
  position: relative;
  top: 38%;
}

.event__background-image {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.3;
  filter: blur(20px);
  transform: translateY(-50%);

  @include target-ie() {
    display: none;
  }
}

.event__content {
  position: relative;
  z-index: z('event');
  align-items: center;
  text-align: center;

  @include breakpoint($bp-md) {
    display: flex;
    min-height: 155px;
  }
}
