.sg-event-header {
  position: absolute;
  left: 0;
  right: 0;
}

.event-header {
  @include responsive-font('md');

  position: relative;
  display: flex;
  align-items: center;
  min-height: $event-header-height;
  background-color: $brand-primary;
  text-align: center;
  color: $white;
}

.event-header__event-info {
  flex: 1 1 77vw;
}

.event-header__event-info--checkout {
  flex: 1 1 57vw;
}

.event-header__title {
  @include responsive-font('xl', 1);
}

.event-header__venue-time {
  color: get-lighter($brand-primary);
  white-space: nowrap;
}

.event-header__venue {
  display: inline-block;
  max-width: 30vw;
  vertical-align: top;
}

.event-header__venue--apart,
.event-header__datestamp--apart {
  display: block;
}

.event-header__venue--apart {
  max-width: calc(100% - 160px);
  margin: auto;
}

.event-header__venue-separator--apart {
  display: none;
}

.event-header__supportive {
  width: 42px;
  flex: 0 0 auto;
  text-align: center;
  background: $brand-gray;
}

.event-header__supportive--checkout {
  width: 80px;
}

.event-header__expand {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: $white;
  line-height: 1;
}

.event-header__expand-link {
  @include unbutton($white, 0);

  width: 100%;
}




.event-header__main-text {
  color: $white;
  text-align: center;
}

.event-header__sub-text {
  @include responsive-font('sm');

  color: get-lighter($brand-primary);
  text-align: center;
}

.event-header__timer {
  float: right;
}
