.expando-button {
  @include unbutton($padding: 0);

  line-height: 0;
  vertical-align: middle;
}

.expando-button--container {
  width: 19px;
  height: 19px;
  border: $input-border-style;
  border-radius: 100%;
}

.expando-button__icon-chevron {
  transition: $expando-animation;
}

.expando-button__icon-chevron--open {
  transform: rotate(180deg);
  transition: $expando-animation;
}
