.expando-picker {
  font-size: 0;
}

.expando-picker__button {
  @include unbutton($padding: 0);

  line-height: 0;
  vertical-align: middle;
}

.expando-picker__icon {
  width: $expando-picker-button-width-size;
  height: $expando-picker-button-height-size;

  transition: $default-panel-animation;

  fill: $brand-gray2;
}

.expando-picker__icon-open {
  transform: rotate(180deg);

  transition: $default-panel-animation;
}

.expando-picker__panel {
  height: 0;

  overflow: hidden;

  opacity: 0;

  transition: $default-panel-animation;
}

.expando-picker__panel-open {
  height: auto;

  margin-top: 5px;
  margin-bottom: 5px;

  opacity: 1;

  transition: $default-panel-animation-open;
}
