.expando__button {
  @include unbutton($padding: 0);
  line-height: 0;
  vertical-align: middle;
}

.expando__chevron {
  @include chevron($width: $expando-button-width-size, $height: $expando-button-height-size);
  transition: $default-content-animation;
  fill: $brand-gray2;
}

.expando__chevron-open {
  transform: rotate(180deg);
  transition: $default-content-animation;
}

.expando__content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: $default-content-animation;
}

.expando__content-open {
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 1;
  transition: $default-content-animation-open;
}
