$filter-modal-padding: 10px;

.filter-modal {
  @include module();

  &__title-controls {
    @include responsive-font-old('md');

    padding: $filter-modal-padding;

    text-align: center;

    border-bottom: $light-border-style;
  }

  &__title {
    @include responsive-font-old('md');

    margin: 1px;

    font-weight: normal;
  }

  &__controls {
    position: absolute;
    top: 11px;

    width: 100%;

    @include breakpoint($bp-md) {
      top: 12px;
    }
  }

  &__content-wrapper {
    @include responsive-font-old('md');

    padding: $filter-modal-padding;

    background-color: $secondary-bg-color;
  }

  &__button-container {
    padding: $filter-modal-padding;

    border-top: $light-border-style;
  }

  &__filter-title {
    @include hdg-text('md');
  }

  &__control-btn {
    @extend %btn-transparent;
    color: $link-color;
  }

  &__cancel-btn {
    position: absolute;
    left: 0;
  }

  &__reset-btn {
    position: absolute;
    right: 20px;
  }

  &__apply-btn {
    @include responsive-font-old('md');

    width: 100%;
    padding: 12px 0;

    color: $white;

    background-color: $link-color;
    border: 0;
    border-radius: 3px;

  }
}
