.icon-ada {
  @include nc-icon($nc-ada-icon-color);
}

.icon-alert {
  @include nc-icon($nc-icon-color);
}

.icon-check {
  @include nc-icon($nc-icon-color);
}

.icon-chevron {
  @include nc-icon($nc-icon-color, 13px, 8px);
}

.icon-chevron--top {
  transform: rotate(180deg);
}

.icon-chevron--right {
  transform: rotate(-90deg);
}

.icon-chevron--left {
  transform: rotate(90deg);
}

.icon-chevron-alt {
  @include nc-icon($nc-icon-color, 12px, 20px);
}

.icon-chevron-alt--right {
  transform: rotate(180deg);
}

.icon-menu {
  @include nc-icon($nc-icon-color);
}

.icon-search {
  @include nc-icon($nc-icon-color);
}

.icon-minus {
  @include nc-icon($nc-icon-color);
}

.icon-more {
  @include nc-icon($nc-icon-color);
}

.icon-plus {
  @include nc-icon($nc-icon-color);
}

.icon-plus--circled {
  width: 9px;
  height: 9px;
}

.icon-close {
  @include nc-icon($nc-icon-color);

  transform: rotate(45deg);
}

.icon-resale {
  @include nc-icon($nc-resale-color);
}

.icon-ticket {
  @include nc-icon($nc-icon-color);
}

.icon-caution {
  @include nc-icon($nc-caution-color);
}

.icon-polling-checkmark {
  @include nc-icon($nc-link-color, $nc-polling-size, $nc-polling-size);
}

.icon-polling-refresh {
  @include nc-icon($nc-white);
}

.icon-verified {
  @include nc-icon($nc-verified-icon-ticket-color);

  color: $nc-verified-icon-circle-color;
}

.icon-lock {
  @include nc-icon($nc-caution-color);
}

.icon-unlock {
  @include nc-icon($nc-icon-color);
}
