.icon-ada {
  @include icon($ada-icon-color);
}

.icon-alert {
  @include icon($icon-color);
}

.icon-check {
  @include icon($icon-color);
}

.icon-chevron {
  @include icon($icon-color, 13px, 8px);
}

.icon-chevron--top {
  transform: rotate(180deg);
}

.icon-chevron--right {
  transform: rotate(-90deg);
}

.icon-chevron--left {
  transform: rotate(90deg);
}

.icon-chevron-alt {
  @include icon($icon-color, 12px, 20px);
}

.icon-chevron-alt--right {
  transform: rotate(180deg);
}

.icon-menu {
  @include icon($icon-color);
}

.icon-search {
  @include icon($icon-color);
}

.icon-minus {
  @include icon($icon-color);
}

.icon-more {
  @include icon($icon-color);
}

.icon-info {
  @include icon($icon-color);
}

.icon-plus {
  @include icon($icon-color);
}

.icon-plus--circled {
  width: 9px;
  height: 9px;
}

.icon-close {
  @include icon($icon-color);

  transform: rotate(45deg);
}

.icon-resale {
  @include icon($resale-color);
}

.icon-ticket {
  @include icon($icon-color);
}

.icon-caution {
  @include icon($caution-color);
}

.icon-polling-checkmark {
  @include icon($link-color, $polling-size, $polling-size);
}

.icon-polling-refresh {
  @include icon($white);
}

.icon-verified {
  @include icon($verified-icon-ticket-color);

  color: $verified-icon-circle-color;
}

.icon-lock {
  @include icon($caution-color);
}

.icon-unlock {
  @include icon($icon-color);
}
