.icon-ada {
  @include icon($brand-primary);
}

.icon-chevron {
  @include icon($brand-gray2, 13px, 8px);
}

.icon-chevron--top {
  transform: rotate(180deg);
}

.icon-chevron--right {
  transform: rotate(-90deg);
}

.icon-chevron--left {
  transform: rotate(90deg);
}

.icon-minus {
  @include icon($brand-gray2);
}

.icon-plus {
  @include icon($brand-gray2);
}

.icon-plus--circled {
  width: 9px;
  height: 9px;
}

.icon-close {
  @include icon($brand-gray2);

  transform: rotate(45deg);
}

.icon-resale {
  @include icon($brand-accent);
}

.icon-ticket {
  @include icon($brand-gray2);
}

.icon-caution {
  @include icon($brand-caution);
}

.icon-polling-refresh {
  @include icon($white, 20px, 20px);
}

.icon-verified {
  @include icon($brand-gray, 20px, 20px);

  color: $brand-primary;
}
