.info-dialog {
  border: $info-border-style;
}

.info-dialog__header {
  background-color: $info-color;
}

.info-dialog__title {
  @include dialog-title('sm');
}

.info-dialog__title-icon {
  @include dialog-title-icon();

  transform: rotate(180deg);
}

.info-dialog__title-text {
  @include dialog-title-text();
}

.info-dialog__content {
  @include dialog-content;
}
