.input-group {
  @include nc-clearfix();

  position: relative;
}

.input-group__label {
  @include nc-responsive-font('lg');

  position: absolute;
  bottom: $nc-input-label-bottom;
  left: $nc-textfield-gutter-left;
  color: $nc-label-color;
  pointer-events: none;
  transition: $nc-form-label-animation;
}

.input-group__text-field {
  @include nc-responsive-font('lg');
  @include nc-textfield-underline();

  height: $nc-input-height;
  padding-bottom: 0;
  padding-left: $nc-textfield-gutter-left;
  color: $nc-text-color;

  &:focus,
  &:active {
    @include nc-textfield-active();
  }
}

.input-group.is-error-field {
  height: 44px;
  padding-top: 18px;
  margin-top: 0;
  border-radius: 0;

  @include nc-breakpoint($nc-bp-md) {
    border-radius: 5px;
  }
}

.input-group__tooltip {
  position: absolute;
  top: -10px;
  right: 7px;

  @include nc-breakpoint($nc-bp-md) {
    right: -20px;
  }
}

.input-group__required {
  color: $nc-link-color;
}

// Toggle States
.input-group__text-field.has-content + .input-group__label,
.dropdown__select.has-content + .input-group__label {
  @include nc-form-label();

  bottom: $nc-input-label-bottom-active;
}

.input-group__text-field:active + .input-group__label,
.input-group__text-field.has-content:active + .input-group__label,
.input-group__text-field:focus + .input-group__label,
.input-group__text-field.has-content:focus + .input-group__label,
.dropdown__select.has-content:active + .input-group__label,
.dropdown__select.has-content:focus + .input-group__label {
  @include nc-form-label($nc-label-color);

  bottom: $nc-input-label-bottom-active;
}
