.input-group {
  position: relative;
}

.input-group__label {
  @include text-field-label();

  display: block;
}

.input-group__text-field {
  @include text-field-input();

  margin-bottom: $form-label-vspace;
}

.input-group__text-field.filled {
  padding: 20px 10px 6px;
}

.input-group ~ .input-group {
  margin-top: $input-group-vspace;
}

.input-group ~ .submit-button {
  @include btn();

  margin-top: $input-group-vspace;

  @include breakpoint($max: $bp-md - 1) {
    width: 100%;
  }
}
