.input-group {
  @include clearfix();

  position: relative;
}

.input-group__label {
  @include responsive-font('lg');

  position: absolute;
  bottom: $input-label-bottom;
  left: $textfield-gutter-left;
  color: $brand-gray2;
  pointer-events: none;
  transition: $form-label-animation;
}

.input-group__text-field {
  @include responsive-font('lg');
  @include textfield-underline();

  padding-left: $textfield-gutter-left;
  color: $brand-gray;

  &:focus,
  &:active {
    @include textfield-active();
  }
}

// usage examples/documentation for everything below?
.input-group__text-field-cin {
  @include responsive-font('lg');
  @include textfield-underline();

  width: 80%;
  color: $brand-gray;

  @include breakpoint($bp-md) {
    @include textfield-box();

    width: 100%;
  }

  &:focus,
  &:active {
    @include textfield-active();
  }
}

.input-group__text-field-box {
  @include responsive-font('lg');
  @include textfield-box();

  margin-right: -10px;
  margin-left: -10px;
  color: $brand-gray;

  @include breakpoint($bp-md) {
    margin: 0;
  }

  &:focus,
  &:active {
    @include textfield-active();
  }
}

.input-group__dropdown-wrapper {
  width: 100%;

  &:after {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 0;
    height: 0;
    color: $brand-gray2;
    pointer-events: none;
    border-top: 7px solid $brand-gray2;
    border-right: 5px solid rgba(255, 255, 255, 0);
    border-left: 5px solid rgba(255, 255, 255, 0);
    content: '';

    @include breakpoint($bp-md) {
      top: 18px;
      right: 10px;
    }
  }
}

.input-group.is-error-field {
  height: 44px;
  padding-top: 18px;
  margin-top: 0;
  border-radius: 0;

  @include breakpoint($bp-md) {
    border-radius: 5px;
  }
}

.input-group__tooltip {
  position: absolute;
  top: -10px;
  right: 7px;

  @include breakpoint($bp-md) {
    right: -20px;
  }
}

.input-group__required {
  color: $brand-primary;
}

// Toggle States
.input-group__text-field.has-content + .input-group__label,
.input-group__text-field-cin.has-content + .input-group__label,
.input-group__text-field-box.has-content + .input-group__label,
.dropdown__select.has-content + .input-group__label {
  @include responsive-font('xs');

  bottom: $input-label-bottom-active;
  color: $brand-gray2;
}

.input-group__text-field:active + .input-group__label,
.input-group__text-field-cin:active + .input-group__label,
.input-group__text-field-box:active + .input-group__label,
.input-group__text-field.has-content:active + .input-group__label,
.input-group__text-field:focus + .input-group__label,
.input-group__text-field-cin:focus + .input-group__label,
.input-group__text-field-box:focus + .input-group__label,
.input-group__text-field.has-content:focus + .input-group__label,
.dropdown__select.has-content:active + .input-group__label,
.dropdown__select.has-content:focus + .input-group__label {
  @include responsive-font('xs');

  bottom: $input-label-bottom-active;
  color: $brand-primary;
}
