.ism {
  position: relative;
}

.ism.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ism__mini-map {
  position: absolute;
  top: 0;
  right: 10px;
  display: none;
  width: 100px;
  height: 100px;

  @include breakpoint($bp-md) {
    top: 0;
    right: 60px;
    width: 170px;
    height: 170px;
  }
}

.ism__mini-map--active {
  display: block;
}

.ism__legend {
  display: none;

  @include breakpoint($bp-md) {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: z('ism-legend');
    display: block;
  }
}

.ism__nav-home {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(map-get($svgs, 'ism-nav-home'));
  background-size: 100%;
  user-select: none;
}

.ism__nav-plus {
  top: 40px;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(map-get($svgs, 'ism-nav-plus')) 0 0;
  background-size: 100%;
  user-select: none;
}

.ism__nav-minus {
  top: 80px;
  left: 0;
  width: 40px;
  height: 35px;
  cursor: pointer;
  background: url(map-get($svgs, 'ism-nav-minus')) 0 191px;
  background-size: 100%;
  user-select: none;
}

.ism__tooltip-module {
  z-index: z('ism-tooltip-module'); // prolly don't need
  display: inline-block;
  padding: 5px;
}

.ism__tooltip-title {
  font-weight: bold;
}

.ism__tooltip-text {
  font-weight: normal;
}

.ism__map {
  position: relative;
  width: 100%;
  padding: 0;
  padding-bottom: 80%;

  @include breakpoint($bp-md) {
    padding-bottom: 80%;
  }

  @include breakpoint($bp-lg) {
    padding-bottom: 50%;
  }
}

.ism__map--crop {
  height: 60vh;
  padding: 0;
}

.ism__map--fullscreen {
  height: 100%;
  padding-bottom: 150%;

  @include breakpoint($bp-md) {
    height: 100vh;
    padding: 0;
  }
}

.ism__map-tooltip {
  position: relative;
  z-index: z('ism-map-tooltip');
  display: block;
  height: 90px;
  padding: 5px;
  background: $white;
  border: 1px solid $brand-gray3;
  border-radius: 0;
}

// Northward tooltips
// Creates a small triangle extender for the tooltip
.ism__map-tooltip:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: z('ism-carat'); // prolly don't need
  display: block;
  width: 0;
  margin-left: -6px;
  font-size: 10px;
  line-height: 1;
  color: $tooltip-shadow-color;
  pointer-events: none;
  border-color: $white $transparent-color;
  border-style: solid;
  border-width: 10px 10px 0;
  content: '';
}

.ism__map-tooltip:before {
  position: absolute;
  bottom: -11px;
  left: 50%;
  z-index: z('ism-tooltip-before');  // prolly don't need
  display: block;
  width: 0;
  margin-left: -7px;
  border-color: $brand-gray3 $transparent-color;
  border-style: solid;
  border-width: 11px 11px 0;
  content: '';
}
