.w {
  position: absolute;
  top: 50%;
  right: -10px;
  display: block;
  margin-top: -11px;
  border-color: $transparent-color $dark-border-color;
  border-style: solid;
  border-width: 11px 0 11px 11px;
}

.w:after {
  position: absolute;
  top: -10px;
  right: 1px;
  display: block;
  border-color: $transparent-color $white;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  content: '';
}

.e {
  position: absolute;
  top: 50%;
  left: -10px;
  display: block;
  margin-top: -11px;
  border-color: $transparent-color $dark-border-color;
  border-style: solid;
  border-width: 11px 11px 11px 0;
}

.e:after {
  position: absolute;
  top: -10px;
  left: 1px;
  display: block;
  border-color: $transparent-color $white;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  content: '';
}

.n {
  position: absolute;
  bottom: -10px;
  left: 50%;
  display: block;
  margin-left: -11px;
  border-color: $dark-border-color $transparent-color;
  border-style: solid;
  border-width: 11px 11px 0;
}

.n:after {
  position: absolute;
  bottom: 1px;
  left: -10px;
  display: block;
  border-color: $white $transparent-color;
  border-style: solid;
  border-width: 10px 10px 0;
  content: '';
}

.s {
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: 1;
  display: block;
  width: 0;
  margin-left: -11px;
  border-color: $dark-border-color $transparent-color;
  border-style: solid;
  border-width: 0 11px 11px;
}

.s:after {
  position: absolute;
  top: 1px;
  left: -10px;
  z-index: 1;
  display: block;
  width: 0;
  border-color: $white $transparent-color;
  border-style: solid;
  border-width: 0 10px 10px;
  content: '';
}
