.modal {
  @include module();
}

.modal__content {
  max-height: 75vh;

  overflow-x: hidden;
  overflow-y: auto;
}

.modal__section {
  @include outer-spacing($bottom: $spacing-md);
}

.modal__legal-copy {
  margin-top: $content-vspace-legal-sm;

  @include breakpoint($bp-md) {
    margin-top: $content-vspace-legal-lg;
  }
}
