.modal-dialog {
  @include drop-shadow();
}

.modal-dialog__header {
  position: relative;
  background-color: $brand-primary;
  border-top-right-radius: $base-border-radius;
  border-top-left-radius: $base-border-radius;
}

.modal-dialog__title {
  @include dialog-title('lg');

  padding-right: $modal-close-size;
  padding-left: $modal-close-size;
  text-align: center;

  @include breakpoint($bp-md) {
    padding-right: $modal-close-size-lg;
    padding-left: $modal-close-size-lg;
  }
}

.modal-dialog__close {
  @include unbutton($padding: 0);

  position: absolute;
  top: 0;
  right: 0;
  width: $modal-close-size;
  height: $modal-close-size;
  line-height: 0;

  @include breakpoint($bp-md) {
    width: $modal-close-size-lg;
    height: $modal-close-size-lg;
  }
}

.modal-dialog__close-indicator {
  @include icon($white, $modal-close-indicator, $modal-close-indicator);

  transform: rotate(45deg);

  @include breakpoint($bp-md) {
    width: $modal-close-indicator-lg;
    height: $modal-close-indicator-lg;
  }
}

.modal-dialog__content {
  @include dialog-content($pad: $spacing-md);
}

.modal-dialog__content--informational {
  border-bottom-right-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
}

.modal-dialog__footer {
  @include inner-spacing($spacing-sm);

  background: $white;
  border-top: $base-border-style;
  border-bottom-right-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
}

.modal-dialog__button {
  width: 100%;
}

.modal-dialog--center {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
