.module {
  @include drop-shadow();

  position: relative;
  background: $white;
}

.module--perforated {
  &:after {
    position: absolute;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 5px;
    background: transparent url(map-get($svgs, pedge)) repeat-x 0 0 scroll;
    content: '';
  }
}

.module__content {
  @include inner-spacing($spacing-sm);
}

.module__srs {
  border-bottom: $base-border-style;
}
