/** @define delimited-list; weak */

.nc-delimited-list {
  @include nc-unstyled-list();

  margin-bottom: 1em;
}

.nc-delimited-list--embedded {
  margin-bottom: 0;
}

.nc-delimited-list__item {
  @include nc-spacing($inside: ('top': 'compact', 'bottom': 'compact'));

  border-top: $nc-base-border-style;

  &:first-child {
    border-top: 0;
  }
}

.nc-delimited-list__item--selected {
  background-color: nc-theme('list-item-hover-color');
}

.nc-delimited-list__item--embedded {
  @include nc-spacing($inside: 'compact');
}

.nc-delimited-list__item--compact {
  @include nc-breakpoint($max: $nc-bp-md - 1) {
    @include nc-spacing($inside: ('top': 'cozy', 'bottom': 'cozy'), $responsive: false);

    border: 0;
  }
}


/* stylelint-disable plugin/selector-bem-pattern */
// holdover from v0.x -- we shouldn't be using multi-class selectors anymore
.nc-module__content + .nc-delimited-list {
  border-top: $nc-base-border-style;
}
/* stylelint-enable plugin/selector-bem-pattern */
