/** @define timer; weak */

$nc-timer-duration: 30s;

@keyframes timer-rota {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes timer-opa {
  0% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

.nc-timer {
  position: relative;
  width: $nc-timer-size;
  height: $nc-timer-size;
  margin: auto;
  background-color: nc-theme('header-color');

  @include nc-breakpoint($nc-bp-lg) {
    width: $nc-timer-size-lg;
    height: $nc-timer-size-lg;
  }
}

.nc-timer__indicator {
  @include nc-type-scale('centi');
  @include nc-vertically-center(absolute);

  z-index: nc-z('timer-indicator');
  width: 100%;
  color: $nc-white;
  text-align: center;
}

.nc-timer__spinner {
  @include nc-timer-base($nc-white);

  z-index: nc-z('timer-spinner');
  border-right: 0;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  animation: timer-rota $nc-timer-duration linear infinite;
}

.nc-timer__filler {
  @include nc-timer-base($nc-white);

  left: 50%;
  z-index: nc-z('timer-filler');
  border-left: 0;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  opacity: 0;
  animation: timer-opa $nc-timer-duration steps(1, end) infinite reverse;
}

.nc-timer__bg {
  width: 100%;
  height: 100%;
  background-color: nc-theme('transparent-color');
  border: $nc-timer-border-thickness solid rgba($nc-white, $nc-timer-opacity);
  border-radius: 100%;
  opacity: 1;
}

.nc-timer__mask {
  @include nc-timer-base(rgba($nc-white, $nc-timer-opacity));

  position: absolute;
  top: 0;
  left: 0;
  z-index: nc-z('timer-mask');
  width: 50%;
  height: 100%;
  background-color: nc-theme('header-color');
  border-right: 0;
  border-radius: 200% 0 0 200% / 100%;
  opacity: 1;
  animation: timer-opa $nc-timer-duration steps(1, end) infinite;
}
