/** @define caution-dialog; weak */

.nc-caution-dialog {
  border: $nc-caution-border-style;
}

.nc-caution-dialog__header {
  background-color: nc-theme('caution-color');
}

.nc-caution-dialog__title {
  @include nc-dialog-title('sm');
}

.nc-caution-dialog__title-icon {
  @include nc-dialog-title-icon();
}

.nc-caution-dialog__title-text {
  @include nc-dialog-title-text();
}

.nc-caution-dialog__content {
  @include nc-dialog-content();
}
