$nc-breadcrumbs-width: nc-strip-units(nc-get-font('milli', 'md') * $nc-breadcrumbs-chevron-dim);
$nc-breadcrumbs-border-width: nc-strip-units((nc-get-font('milli', 'md') * $nc-breadcrumbs-chevron-border-width) * 2);
$nc-breadcrumbs-chevron-size: ($nc-breadcrumbs-width + $nc-breadcrumbs-border-width) * 10px;

.nc-breadcrumbs {
  @include nc-unstyled-list();
  @include nc-type-scale('milli', $nc-breadcrumbs-height);
  @include nc-spacing($inside: ('left': 'compact', 'right': 'compact'));

  display: flex;
  border: $nc-base-border-style;

  @include nc-breakpoint($max: $nc-bp-md - 1) {
    display: none;
   }
}

.nc-breadcrumbs__item {
  @include nc-truncate-text();

  flex: 0 0 auto;
  float: left;
  max-width: $nc-breadcrumbs-max-width + $nc-breadcrumbs-border-width + $nc-breadcrumbs-chevron-size + $nc-breadcrumbs-spacing;

  &:before {
    position: relative;
    display: inline-block;
    width: $nc-breadcrumbs-chevron-dim;
    height: $nc-breadcrumbs-chevron-dim;
    margin-right: $nc-breadcrumbs-spacing;
    vertical-align: text-bottom;
    border-color: $nc-input-border-color;
    border-style: solid;
    border-width: $nc-breadcrumbs-chevron-border-width $nc-breadcrumbs-chevron-border-width 0 0;
    content: '';
    transform: scale(0.5, 0.9) rotate(45deg);
  }

  &:first-child:before {
    display: none;
  }

  &:last-child {
    @include nc-truncate-text();

    flex: 1 1 auto;
  }
}

.nc-breadcrumbs__item--logo,
.nc-breadcrumbs__item:last-child {
  max-width: none;
}

.nc-breadcrumbs__item--logo {
  flex: 0 0 $nc-breadcrumbs-logo-width;
}

.nc-breadcrumbs__brand-logo {
  width: $nc-breadcrumbs-logo-width;
  height: $nc-breadcrumbs-logo-height;
  fill: $nc-breadcrumbs-logo-color;
}

.nc-breadcrumbs__link {
  color: $nc-breadcrumbs-link-color;
}
