/** @define product-info; weak */

.nc-product-info__title {
  @include nc-type-scale('kilo');
}

.nc-product-info__moderate-title {
  @include nc-type-scale('centi');
}

.nc-product-info__desc {
  @include nc-type-scale('centi');
  @include nc-alt-copy();
}
