/** @define tooltip; weak */

.nc-tooltip {
  @include nc-drop-shadow();
  @include nc-tooltip-position('bottom');

  position: relative;
  background-color: nc-theme('tooltip-bg-color');
  border-radius: $nc-base-border-radius;

  &::after {
    position: absolute;
    display: block;
    width: $nc-tooltip-caret;
    height: $nc-tooltip-caret;
    background-color: nc-theme('tooltip-bg-color');
    content: '';
    transform: rotate(45deg);

    @include nc-breakpoint($nc-bp-md) {
      width: $nc-tooltip-caret-lg;
      height: $nc-tooltip-caret-lg;
    }
  }
}

.nc-tooltip--right {
  @include nc-tooltip-position('right');
}

.nc-tooltip--left {
  @include nc-tooltip-position('left');
}

.nc-tooltip--top {
  @include nc-tooltip-position('top');
}

.nc-tooltip--ism {
  width: $nc-ism-tooltip-width;

  @include nc-breakpoint($nc-bp-md) {
    width: $nc-ism-tooltip-width + 20;
  }
}

.nc-tooltip__content {
  @include nc-padding('moderate');
  @include nc-type-scale('centi');
}

.nc-tooltip__srs {
  @include nc-margin(('bottom': '-moderate'));
  @include nc-padding(('bottom': 'moderate'));

  border-bottom: $nc-base-border-style;
}

.nc-tooltip__delimited-list {
  @include nc-padding(('right': 'moderate', 'left': 'moderate'));
  @include nc-type-scale('centi');

  margin-bottom: 0;
}

.nc-tooltip__delimited-list + .nc-tooltip__content {
  @include nc-margin(('right': 'moderate', 'left': 'moderate'));

  padding-right: 0;
  padding-left: 0;
  border-top: $nc-base-border-style;
}

.nc-tooltip--ism__subtotal {
  @include nc-type-scale('giga');
}

.nc-tooltip__legal {
  @include nc-type-scale('milli');
  @include nc-padding((
    'right': 'moderate',
    'bottom': 'moderate',
    'left': 'moderate'
  ));
}
