/** @define polling-checkmark; weak */

@keyframes ui-spinner-rotate-left {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ui-spinner-rotate-right {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nc-polling-checkmark {
  position: relative;
  width: $nc-polling-size;
  height: $nc-polling-size;
  overflow: hidden;
  background: none repeat scroll 0 0 nc-theme('polling-circle-unfilled-color');
  border-radius: 50%;
}

.nc-polling-checkmark::after {
  position: absolute;
  top: $nc-polling-border-size;
  left: $nc-polling-border-size;
  display: block;
  width: $nc-polling-size - ($nc-polling-border-size * 2);
  height: $nc-polling-size - ($nc-polling-border-size * 2);
  background: none repeat scroll 0 0 $nc-white;
  border-radius: 50%;
  content: '';
  box-shadow: 0 0 10px rgba($nc-black, 0.1);
}

.nc-polling-checkmark__left {
  @include nc-polling-checkmark-ring();

  left: 0;
}

.nc-polling-checkmark__right {
  @include nc-polling-checkmark-ring();

  left: 50%;
}

.nc-polling-checkmark__left::after,
.nc-polling-checkmark__right::after {
  @include nc-polling-checkmark-animate();
}

.nc-polling-checkmark__left::after {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  animation-delay: 1.25s;
  animation-name: ui-spinner-rotate-right;
}

.nc-polling-checkmark__right::after {
  left: -100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transform-origin: 100% 50% 0;
}

.nc-polling-checkmark__icon {
  position: relative;
  z-index: nc-z('polling');
}
