/** @define heading-lined; weak  */

.nc-heading-lined {
  @include nc-spacing(
    $outside: ('bottom': 'compact'),
    $inside: ('left': 'compact', 'right': 'compact')
  );

  position: relative;
  display: table;
  color: $nc-alt-text-color;
  text-align: center;
  white-space: nowrap;

  &::before,
  &::after {
    position: relative;
    top: 0.63em;
    display: table-cell;
    width: 45%;
    border-top: $nc-base-border-style;
    content: '';
  }

  &::before {
    right: nc-get-spacing('compact', 'mini');

    @include nc-breakpoint($nc-bp-md) {
      right: nc-get-spacing('compact', 'maxi');
    }
  }

  &::after {
    left: nc-get-spacing('compact', 'mini');

    @include nc-breakpoint($nc-bp-md) {
      left: nc-get-spacing('compact', 'maxi');
    }
  }
}

.nc-heading-lined--primary {
  @include nc-type-scale('kilo');
}

.nc-heading-lined--secondary {
  @include nc-type-scale('uno');
}
