.nc-input-group {
  @include nc-clearfix();

  position: relative;
}

.nc-input-group__label {
  @include nc-type-scale('centi');
  @include nc-spacing($outside: ('bottom': 'cozy'));

  display: block;
  letter-spacing: 2px;
  color: $nc-label-color;
  text-transform: uppercase;
}

.nc-input-group__label.nc-input-group__label--dark {
  color: $nc-label-dark-color;
}

.nc-input-group__label.nc-input-group__label--light {
  color: $nc-label-light-color;
}

.nc-input-group__required {
  @include nc-spacing($outside: ('left': 'slim'));

  color: $nc-input-active-border-color;
}

.nc-input-group__text-field {
  @include nc-base-field();

  padding: 0 15px;
  appearance: none;

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px $nc-input-background-color inset;
  }

  &::placeholder {
    color: $nc-placeholder-text-color;
  };
}

.nc-input-group__error-message {
  @include nc-type-scale('uno');
  @include nc-spacing($outside: ('top': 'cozy'));

  display: block;
  color: $nc-alert-color;
}

.nc-dropdown__select.nc-dropdown__select--error,
.nc-input-group__text-field.nc-input-group__text-field--error {
  border-color: $nc-alert-color;
}

.nc-input-group__label.nc-input-group__label--error {
  color: $nc-alert-color;
}

.nc-dropdown__icon-chevron.nc-dropdown__icon-chevron--error {
  fill: $nc-alert-color;
}

.nc-input-group__required.nc-input-group__required--error {
  color: $nc-alert-color;
}
