/** @define input-group; weak */

.nc-input-group {
  @include nc-clearfix();

  position: relative;
}

.nc-input-group__label {
  @include nc-type-scale('centi');
  @include nc-margin(('bottom': 'compact'));

  display: block;
  letter-spacing: 2px;
  color: nc-theme('label-color');
  text-align: left;
  text-transform: uppercase;
}

.nc-input-group__label--dark {
  color: nc-theme('label-dark-color');
}

.nc-input-group__label--light {
  color: nc-theme('label-light-color');
}

.nc-input-group__required {
  @include nc-margin(('left': 'cozy'));

  color: nc-theme('link-color');
}

.nc-input-group__text-field {
  @include nc-base-field();

  padding: 0 15px;
  appearance: none;

  &::placeholder {
    color: nc-theme('placeholder-text-color');
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px nc-theme('input-bg-color') inset;
  }
}

.nc-input-group__error-message {
  @include nc-type-scale('uno');
  @include nc-margin(('top': 'compact'));

  display: block;
  color: nc-theme('alert-color');
}

.nc-input-group__text-field--error {
  border-color: nc-theme('alert-color');
}

.nc-input-group__label--error {
  color: nc-theme('alert-color');
}

.nc-input-group__required--error {
  color: nc-theme('alert-color');
}
