/** @define cobrand-header; weak */

.nc-cobrand-header {
  @include nc-spacing($inside: ('right': 'compact', 'left': 'compact'));

  z-index: nc-z('above-page');
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $nc-header-color;
  border-bottom: 1px solid rgba($nc-cobrand-border-color, 0.25);

  @include nc-breakpoint($nc-bp-lg) {
    position: relative;
    height: 0;
    padding: 0;
  }
}

.nc-cobrand-header__logo {
  @include nc-spacing($inside: ('top': 'compact', 'bottom': 'compact'));

  width: 150px;
  height: $nc-cobrand-header-logo-height;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;

  @include nc-breakpoint($nc-bp-lg) {
    position: absolute;
    top: $nc-cobrand-header-offset;
    left: $nc-gutter-width / 2;
    width: 200px;
    height: $nc-event-header-height - ($nc-cobrand-header-offset * 2);
    line-height: $nc-event-header-height;
  }
}

.nc-cobrand-header__tm-logo {
  @include nc-vertically-center();

  width: 90px;
  height: 12px;
  fill: $nc-white;

  @include nc-breakpoint($nc-bp-lg) {
    display: none;
  }
}

.nc-cobrand-header__verified {
  width: 150px;
  height: $nc-touch-size;
  text-align: right;
  // determine based on cobrand background color
  background-image: url('../img/verified-pacific.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 125px;

  @include nc-breakpoint($nc-bp-lg) {
    position: absolute;
    top: 0;
    right: $nc-gutter-width / 2;
    width: 200px;
    height: $nc-event-header-height;
    line-height: $nc-event-header-height;
    background-size: 175px;
  }

  @include nc-target-ie-edge() {
    @include nc-breakpoint($nc-bp-lg) {
      position: absolute;
      top: 0;
      right: 20px;
    }
  }
}

.nc-cobrand-header__verified--mlb {
  width: 150px;
  padding-top: 15px;
  background-image: none;

  @include nc-breakpoint($nc-bp-md) {
    width: 200px;
  }

  @include nc-breakpoint($nc-bp-lg) {
    padding-top: 7px;
  }
}

.nc-cobrand-header__mlb-svg {
  width: 150px;

  @include nc-breakpoint($nc-bp-md) {
    width: 200px;
  }

  @include nc-target-ie() {
    height: 20px;
  }

  @include nc-target-ie-edge() {
    height: 20px;

    @include nc-breakpoint($nc-bp-lg) {
      position: absolute;
      top: 30px;
      right: 0;
    }
  }
}

.nc-cobrand-header__verified--timer {
  @include nc-breakpoint($nc-bp-lg) {
    display: none;
  }
}
