/** @define heading-lined; weak  */

.nc-heading-lined {
  @include nc-margin(('bottom': 'moderate'));
  @include nc-padding(('left': 'moderate', 'right': 'moderate'));

  position: relative;
  display: table;
  color: nc-theme('alt-text-color');
  text-align: center;
  white-space: nowrap;

  &::before,
  &::after {
    position: relative;
    top: 0.63em;
    display: table-cell;
    width: 45%;
    border-top: $nc-base-border-style;
    content: '';
  }

  &::before {
    right: nc-get-spacing('moderate', 'mini');

    @include nc-breakpoint($nc-bp-md) {
      right: nc-get-spacing('moderate', 'maxi');
    }
  }

  &::after {
    left: nc-get-spacing('moderate', 'mini');

    @include nc-breakpoint($nc-bp-md) {
      left: nc-get-spacing('moderate', 'maxi');
    }
  }
}

.nc-heading-lined--primary {
  @include nc-type-scale('kilo');
}

.nc-heading-lined--secondary {
  @include nc-type-scale('uno');
}
