/** @define button-outlined; weak */

.nc-button-outlined {
  @include nc-btn(nc-theme('alert-color'), $hoverstate: true, $outlined: true);
}

.nc-button-outlined--static {
  padding: 0 20px;
}

.nc-button-outlined--full {
  width: 100%;
}
