/** @define dropdown; weak */

.nc-dropdown {
  position: relative;
  width: 100%;
}

.nc-dropdown__icon-chevron {
  @include nc-icon(nc-theme('icon-color'), $nc-dropdown-chevron-width, $nc-dropdown-chevron-height);

  position: absolute;
  right: 15px;
  bottom: 18px;
  pointer-events: none;
}

.nc-dropdown__select {
  @include nc-base-field();

  position: relative;
  padding: 0 ($nc-dropdown-chevron-width + 19px) 0 15px;
  cursor: pointer;
  appearance: none;

  &:-moz-focusring {
    color: nc-theme('transparent-color');
    text-shadow: 0 0 0 nc-theme('text-color');
  }

  &:focus ~ .nc-dropdown__icon-chevron,
  &:active ~ .nc-dropdown__icon-chevron {
    fill: nc-theme('primary-button-color');
  }

  &:focus ~ .nc-dropdown__icon-chevron.nc-dropdown__icon-chevron--error,
  &:active ~ .nc-dropdown__icon-chevron.nc-dropdown__icon-chevron--error {
    fill: nc-theme('alert-color');
  }
}

.nc-dropdown__select--error {
  border-color: nc-theme('alert-color');
}

.nc-dropdown__icon-chevron--error {
  fill: nc-theme('alert-color');
}
