/** @define polling-refresh; weak */

@keyframes wipe {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.nc-polling-refresh {
  @include nc-polling-refresh();
}

.nc-polling-refresh__filled {
  position: absolute;
  top: 0;
  left: 0;
  z-index: nc-z('hide');
}
