$nc-cart-padding: (
  'top': 'compact',
  'right': $nc-gutter-width-half,
  'bottom': 'moderate',
  'left': $nc-gutter-width-half
);

.nc-cart {
  @include nc-clearfix();
  @include nc-spacing($inside: $nc-cart-padding, $responsive: false);

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: nc-z('cart');
  width: 100%;
  height: auto;
  // padding: $nc-spacing-sm $nc-gutter-width-half $nc-spacing-md;
  white-space: nowrap;
  background: $nc-page-section-bg-color;
  border-top: $nc-base-border-style;
}

.nc-cart__total {
  text-align: right;
}

.nc-cart__total-amt {
  @include nc-type-scale('giga');
}

.nc-cart__total-desc {
  @include nc-alt-copy('md');
}
