/** @define qty-picker; weak */

.nc-qty-picker {
  font-size: 0;
  white-space: nowrap;
}

.nc-qty-picker__button {
  @include nc-unbutton($padding: 0);

  width: $nc-qty-picker-button-size;
  height: $nc-qty-picker-button-size;
  line-height: 0;
  background: nc-theme('link-color');
  border-radius: 100%;

  @include nc-breakpoint($nc-bp-lg) {
    &:focus,
    &:hover {
      background: nc-hover(nc-theme('link-color'));
    }
  }

  &:active {
    background: nc-hover(nc-theme('link-color'));
  }
}

.nc-qty-picker__button--decrement {
  background: nc-theme('secondary-button-color');

  @include nc-breakpoint($nc-bp-lg) {
    &:focus,
    &:hover {
      background: nc-hover(nc-theme('secondary-button-color'));
    }
  }

  &:active {
    background: nc-hover(nc-theme('secondary-button-color'));
  }
}

/* stylelint-disable plugin/selector-bem-pattern */
// holder from v0.x -- we shouldn't be using multi-class selectors anymore
.nc-qty-picker__button--decrement.nc-is-disabled,
/* stylelint-enable plugin/selector-bem-pattern */
.nc-qty-picker__number--disabled {
  visibility: hidden;
}

.nc-qty-picker__button.nc-is-disabled {
  background: nc-disabled(nc-theme('link-color'));
}

.nc-qty-picker__icon-minus,
.nc-qty-picker__icon-plus {
  width: 18px;
  height: 18px;
  fill: $nc-white;
}

.nc-qty-picker__number {
  @include nc-type-scale('giga', $nc-qty-picker-button-size);

  display: inline-block;
  width: $nc-qty-picker-button-size;
  height: $nc-qty-picker-button-size;
  color: nc-theme('text-color');
  text-align: center;
  vertical-align: top;

  &:hover {
    text-decoration: none;
  }
}
