/** @define cobrand-header; weak */

// .nc-page-header {
//   position: relative;
// }

.nc-cobrand-header {
  @include nc-inner-spacing($right: $nc-spacing-sm, $left: $nc-spacing-sm);

  z-index: nc-z('above-page');
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $nc-header-color;
  border-bottom: 1px solid rgba($nc-cobrand-border-color, 0.25);

  @include nc-breakpoint($nc-bp-lg) {
    position: relative;
    height: 0;
    padding: 0;
  }
}

.nc-cobrand-header__logo {
  @include nc-inner-spacing($top: $nc-spacing-sm, $bottom: $nc-spacing-sm);

  width: 150px;
  height: $nc-cobrand-header-logo-height;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;

  @include nc-breakpoint($nc-bp-lg) {
    position: absolute;
    top: $nc-cobrand-header-offset;
    left: $nc-gutter-width / 2;
    width: 200px;
    height: $nc-event-header-height - ($nc-cobrand-header-offset * 2);
    line-height: $nc-event-header-height;
  }
}

.nc-cobrand-header__tm-logo {
  @include nc-vertically-center();

  width: 90px;
  height: 12px;
  fill: $nc-white;

  @include nc-breakpoint($nc-bp-lg) {
    display: none;
  }
}

.nc-cobrand-header__verified {
  @include nc-cobrand-header-logo('../img/verified-pacific.svg');

  @include nc-target-ie-edge() {
    @include nc-breakpoint($nc-bp-lg) {
      position: absolute;
      right: 20px;
    }
  }
}

.nc-cobrand-header__verified--mlb {
  width: 150px;
  padding-top: 15px;
  background-image: none;

  @include nc-breakpoint($nc-bp-md) {
    width: 200px;
  }

  @include nc-breakpoint($nc-bp-lg) {
    padding-top: 7px;
  }
}

.nc-cobrand-header__mlb-svg {
  width: 150px;

  @include nc-breakpoint($nc-bp-md) {
    width: 200px;
  }

  @include nc-target-ie() {
    height: 20px;
  }

  @include nc-target-ie-edge() {
    height: 20px;

    @include nc-breakpoint($nc-bp-lg) {
      position: absolute;
      top: 30px;
      right: 0;
    }
  }
}

.nc-cobrand-header__verified--timer {
  @include nc-breakpoint($nc-bp-lg) {
    display: none;
  }
}
