// apply this to the body tag
.nc-page {
  font-family: $nc-base-font-family;
  -webkit-font-smoothing: antialiased;
  line-height: $nc-base-line-height;
  color: $nc-text-color;
  background-color: $nc-white;
}

// use wrapper to set background color for a particular section of the page
.nc-page__wrapper {
  clear: both;
  background-color: $nc-page-section-bg-color;
}

.nc-page__wrapper-footer {
  clear: both;
  background-color: $nc-white;
}

// use frame to set max-width and other structural styling here
.nc-page__frame {
  @include nc-clearfix();

  max-width: $nc-bp-xl;
  margin: \auto;
  clear: both;
}

// use content to set default font size for text
.nc-page__content {
  @include nc-clearfix();
  @include nc-responsive-font('md');

  @include nc-breakpoint($nc-bp-lg) {
    padding: 0 $nc-gutter-width;
  }
}
