// adapted from https://github.com/rstacruz/nprogress

.nprogress-custom-parent {
  position: relative;

  overflow: hidden;

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: z('nprogress-bar');

    width: 100%;
    height: 3px;

    background: $progress-bar-color;
    box-shadow: 0 1px 1px 1px rgba($black, 0.2);
  }

  // tip of progress bar
  .peg {
    position: absolute;
    right: 0;

    display: block;
    width: 20px;
    height: 100%;

    background: $progress-gradient;

    opacity: 1;
  }
}


@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
