.order-info__heading {
  display: flex;

  @include breakpoint($min: $bp-xs) {
    padding: 10px;
    border-bottom: 1px solid $brand-gray3;
  }

  @include breakpoint($min: $bp-md) {
    padding: 20px;
    border-bottom: 1px solid $brand-gray3;
  }

  @include breakpoint($min: $bp-lg) {
    display: none;
  }
}

.order-info__ticket-name,
.order-info__ticket-seats {
  display: block;
}

.order-info__ticket-info {
  margin: 0;
  border-bottom: 1px solid $brand-gray3;

  @include breakpoint($min: $bp-xs) {
    padding: 15px 0;
    margin: 0 10px 15px;
  }

  @include breakpoint($min: $bp-md) {
    padding: 20px 0;
    margin: 0 20px 15px;
  }
}

.order-info__ticket-type {
  @include alt-copy();
}

.order-info__price-item {
  display: flex;
  justify-content: space-between;

  @include breakpoint($min: $bp-xs) {
    margin: 0 10px 10px;
  }

  @include breakpoint($min: $bp-md) {
    margin: 0 20px 15px;
  }
}

.order-info__price-title {
  @include fixed-font('md');
}

.order-info__price-desc {
  @include alt-copy();
  display: block;
}

// TODO: fix usage in React first
// scss-lint:disable SelectorFormat
.order-info__price-desc-feePrice {
  display: inline-block;
  min-width: 40px;
  margin-right: 10px;
}

.order-info__price-desc-feeDescription {
  display: inline-block;
}
// scss-lint:enable SelectorFormat

.order-info__price-total {
  display: flex;
  justify-content: space-between;

  @include breakpoint($min: $bp-xs) {
    padding: 0 10px 15px;
  }

  @include breakpoint($min: $bp-md) {
    padding: 0 20px 20px;
  }
}

.order-info__order-amt-header {
  @include hdg-text('xl');

  font-weight: bold;
}

// TODO: fix usage in React first
// scss-lint:disable SelectorFormat
.order-info__order-amtTotal {
  @include hdg-text('xl');
}
// scss-lint:enable SelectorFormat

.order-info__order-amt {
  @include hdg-text('xl');
}
