.order-info {

  &__heading {
    display: flex;

    @include breakpoint($min: $bp-xs) {
      padding: 10px;

      border-bottom: 1px solid $brand-gray3;
    }

    @include breakpoint($min: $bp-md) {
      padding: 20px;

      border-bottom: 1px solid $brand-gray3;
    }

    @include breakpoint($min: $bp-lg) {
      display: none;
    }

  }

  &__ticket-name,
  &__ticket-seats {
    display: block;
  }

  &__ticket-info {
    margin: 0;

    border-bottom: 1px solid $brand-gray3;

    @include breakpoint($min: $bp-xs) {
      padding: 15px 0;
      margin: 0 10px 15px;
    }

    @include breakpoint($min: $bp-md) {
      padding: 20px 0;
      margin: 0 20px 15px;
    }

  }

  &__ticket-type {
    @include alt-copy();
  }

  &__price-item {
    display: flex;
    justify-content: space-between;

    @include breakpoint($min: $bp-xs) {
      margin: 0 10px 10px;
    }

    @include breakpoint($min: $bp-md) {
      margin: 0 20px 15px;
    }
  }

  &__price-title {
    @include fixed-font('md');
  }

  &__price-desc {
    @include alt-copy();
    display: block;
  }

  &__price-desc-feePrice {
    display: inline-block;
    min-width: 40px;
    margin-right: 10px;
  }

  &__price-desc-feeDescription {
    display: inline-block;
  }

  &__price-total {
    display: flex;
    justify-content: space-between;

    @include breakpoint($min: $bp-xs) {
      padding: 0 10px 15px;
    }

    @include breakpoint($min: $bp-md) {
      padding: 0 20px 20px;
    }
  }

  &__order-amt-header {
    @include hdg-text('xl');

    font-weight: bold;
  }

  &__order-amtTotal {
    @include hdg-text('xl');
  }

  &__order-amt {
    @include hdg-text('xl');
  }

}
