// apply this to the body tag
.page {
  font-family: $nc-base-font-family;
  -webkit-font-smoothing: antialiased;
  line-height: $nc-base-line-height;
  color: $nc-text-color;
  background-color: $nc-white;
}

// use wrapper to set background color for a particular section of the page
.page__wrapper {
  clear: both;
  background-color: $nc-page-section-bg-color;
}

.page__wrapper-footer {
  clear: both;
  background-color: $nc-white;
}

// use frame to set max-width and other structural styling here
.page__frame {
  @include container($nc-bp-xl);
  @include nc-clearfix();

  clear: both;
}

// use content to set default font size for text
.page__content {
  @include nc-clearfix();
  @include nc-responsive-font('md');

  @include nc-breakpoint($nc-bp-lg) {
    @include pad($nc-gutter-width no-gutters);
  }
}
