// apply this to the body tag
.page {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $white;
}

// use wrapper to set background color for a particular section of the page
.page__wrapper {
  clear: both;
  background-color: $page-section-bg-color;
}

.page__wrapper-footer {
  clear: both;
  background-color: $white;
}

// use frame to set max-width and other structural styling here
.page__frame {
  @include container($bp-xl);
  @include clearfix();

  clear: both;
}

// use content to set default font size for text
.page__content {
  @include clearfix();
  @include responsive-font('md');

  @include breakpoint($bp-lg) {
    @include pad($gutter-width no-gutters);
  }
}
