.payment__radio-input {
  display: none;
}

.payment__radio-label {
  @include inner-spacing($spacing-sm);
  @include responsive-font('md');

  display: block;

  @include breakpoint($max: $bp-md - 1) {
    padding: 15px 8px;
  }
}

.payment__label-desc {
  display: block;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.payment__issuer-name {
  @include hide-text();

  display: inline-block;
  height: 0;
}

.payment__type,
.payment__type-icon {
  display: inline-block;
  width: 30px;
}

.payment__type {
  position: relative;
}

.payment__type-icon {
  position: absolute;
  top: -4px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px auto;
}

.payment__icon-visa {
  background-image: url(map-get($svgs, 'icon-visa'));
}

.payment__icon-mc {
  background-image: url(map-get($svgs, 'icon-mc'));
}

.payment__icon-discover {
  background-image: url(map-get($svgs, 'icon-discover'));
}

.payment__icon-amex {
  background-image: url(map-get($svgs, 'icon-amex'));
}

.payment__last-digits {
  margin-left: 0.5em;

  &:before {
    margin-right: 0.5em;
    content: '\2022\2022\2022\2022';
  }
}

.payment__expiration {
  margin-left: 40px;
}
