.perforated-frame {
  @include drop-shadow();

  position: relative;
  background: $white;

  &:after {
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 5px;
    display: block;
    background: transparent url(map-get($svgs, pedge)) repeat-x 0 0 scroll;
    content: '';
  }
}

.perforated-frame__content {
  @include inner-spacing($spacing-sm);
}

.perforated-frame__content + .perforated-frame__content {
  border-top: $base-border-style;
}
