.perforated-frame {
  box-shadow: $perforated-box-shadow-style;
}

.perforated-frame__content {
  @include inner-spacing($spacing-sm);
}

.perforated-frame__content + .perforated-frame__content {
  border-top: $base-border-style;
}

.perforated-edge {
  position: relative;
  top: -2px;
  height: 5px;

  background: transparent url(map-get($svgs, pedge)) repeat-x 0 0 scroll;
}
