// scss-lint:disable ImportantRule
// We need to use !important declarations to override ICE
// due to their frickin' lack of configurability

.place[status="OPEN"] {
  fill: $brand-primary !important;

  &:hover {
    fill: $brand-gray !important;
    stroke: 0 !important;
  }
}

.place[status="RESALE"] {
  fill: $brand-accent !important;
}

.place[selected="true"] {
  fill: $brand-gray !important;
  fill-opacity: 1 !important;
  stroke: 0 !important;
}

.place[selectable="true"] {
  &:hover {
    fill: $brand-gray !important;
    fill-opacity: 1 !important;
    stroke: 0 !important;
  }
}

.place[status="SOLD"] {
  fill: $brand-gray2 !important;
}

