.polling-refresh {
  position: relative;
  z-index: z('polling');
  height: 20px;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: z('hide');
    width: 20px;
    height: 20px;
    background-color: rgba($polling-refresh-bg-color, 0.9);
    content: '';
    animation: $polling-refresh-animation;
  }
}

.polling-refresh__filled {
  position: absolute;
  top: 0;
  left: 0;
  z-index: z('hide');
}
