.polling__image {
  width: 100px;
  height: 100px;
  margin: auto;
  background: url('../img/polling.png') no-repeat center center transparent;
  background-size: 100%;
  animation: spin 0.8s linear infinite;
}

.polling__header {
  padding-top: 40px;
  margin: auto;
  font-size: $base-md-font;
  color: $brand-gray;
  text-align: center;
}
