.qty-picker {
  font-size: 0;
  white-space: nowrap;
}

.qty-picker__button {
  @include unbutton($padding: 0);

  width: $qty-picker-button-size;
  height: $qty-picker-button-size;
  line-height: 0;
  background: $brand-primary;
  border-radius: 100%;

  &:hover {
    background: $brand-primary-darker25;
  }
}

.qty-picker__button--decrement {
  background: $brand-gray2;

  &:hover {
    background: $brand-gray2-darker25;
  }
}

.qty-picker__button--decrement[disabled],
.qty-picker__number--disabled {
  visibility: hidden;
}

.qty-picker__button--increment[disabled] {
  background: $brand-primary-lighter75;
}

.qty-picker__icon-minus,
.qty-picker__icon-plus {
  width: 18px;
  height: 18px;
  fill: $white;
}

.qty-picker__number {
  @include responsive-font('xl', $qty-picker-button-size);

  display: inline-block;
  width: $qty-picker-button-size;
  height: $qty-picker-button-size;
  color: $brand-gray;
  text-align: center;
  vertical-align: top;

  &:hover {
    text-decoration: none;
  }
}
