.quick-picks {

  &__content {
    padding: $module-padding-sm;
  }

  &__listings {
    overflow: auto;

    @include breakpoint($bp-md) {
      height: calc(100vh - 360px);
    }
  }

  &__module {
    width: 100%;

    @include breakpoint($min: $bp-md) {
      width: $qp-width-lg;
    }
  }

  &__module-left {
    float: left;

    width: 100%;
    margin-bottom: 100px;

    @include breakpoint($min: $bp-md) {
      width: $qp-width-lg;
      height: 100vh;

      padding-right: $gutter-width;
      padding-left: $gutter-width;
      margin-bottom: 0;

      border-right: $dark-border-style;
    }
  }

  &__item {
    border-bottom: $light-border-style;

    @include breakpoint($min: $bp-sm2) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item:last-child {
    border: 0;
  }

  &__item-name {
    @include bold-text();

    display: block;

    @include breakpoint($max: $bp-lg) {
      width: 100%;
    }
  }

  &__item-desc {
    display: block;
  }
}
