.recaptcha-modal__container {
  padding: 10px;

  @include breakpoint($bp-md) {
    padding: 20px;
  }
}

.recaptcha-modal__title {
  @include responsive-font('xl');
}

.recaptcha-modal__recaptcha {
  padding-top: 10px;
  padding-bottom: 10px;

  @include breakpoint($bp-md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.recaptcha-modal__error-code {
  color: $white;
}
