.seat-info {
  display: inline-block;
  flex-grow: 1;
}

.seat-info__label {
  font-size: $font-size-sm;
  color: $brand-gray2;
}

.seat-info__text {
  font-size: $font-size-md;
  color: $brand-gray;
}

.seat-info--center {
  text-align: center;
}

.seat-info--right {
  text-align: right;
}
