$slider-handle-size: 30px;
$slider-handle-size-large: 32px;
$slider-range-height: 5px;
$slider-range-top: ($slider-handle-size - $slider-range-height) / 2;
$slider-range-top-large: ($slider-handle-size-large - $slider-range-height) / 2;

.price-slider__slider {
  @include outer-spacing($left: $slider-handle-size / 2, $right: $slider-handle-size / 2);
}

.slider {
  @include slider-bar($slider-range-top, $slider-range-height);
  position: relative;
  top: $slider-range-top-large;
  display: block;
}

.slider-track {
  @include slider-bar($slider-range-top, $slider-range-height);

  position: absolute;

  width: 0;

  background-color: $slider-range-active-bg-color;

  transition: all ease-out 0.2s;
}

.slider-handle {
  position: absolute;
  top: -$slider-range-top;

  width: $slider-handle-size;
  height: $slider-handle-size;
  margin-left: -($slider-handle-size / 2);

  cursor: pointer;
  background: $slider-knob-bg-color;

  border-radius: $slider-handle-size / 2;
  box-shadow: 0 1px 4px $slider-knob-shadow-color;

  transition: right,left ease-out 0.2s;

  @include breakpoint($min: $bp-md) {
    width: $slider-handle-size-large;
    height: $slider-handle-size-large;
    margin-left: -($slider-handle-size-large / 2);

    border-radius: $slider-handle-size-large / 2;
  }

  &.is-active,
  &:focus {
    outline: none;
  }
}
