// srs = sec row seat
.srs {
  position: relative;

  display: flex;
  min-width: $srs-min-width;
  justify-content: space-between;

  white-space: nowrap;
}

.srs__set {
  flex: 1 1 auto;

  text-align: center;

  &:first-child {
    text-align: left;
  }

  &:last-child {
    text-align: right;
  }
}

.srs__label,
.srs__value {
  display: block;
}

.srs__label {
  @include responsive-font('sm', 1);

  color: $brand-gray2;
  font-weight: normal;
  text-transform: uppercase;
}

.srs__value {
  @include responsive-font('xl', 1);

  font-weight: bold;
  color: $brand-gray;
}
