.ticket-info {
  @include clearfix();
}

.ticket-info__description-group {
  float: left;
}

.ticket-info__quantity-group {
  float: right;
  text-align: right;
}

.ticket-info__offer-type,
.ticket-info__offer-unit-price {
  color: $brand-gray2;
}
