.ticket__type {
  display: block;
}

.ticket__price {
  @include responsive-font('md');

  display: block;
}

// old stuff
.ticket__ticket-price {
  display: block;
}

.ticket__ticket-price-rolledup {
  @include responsive-font('md');
  @include alt-copy();

  display: block;

  font-weight: bold;

  @include breakpoint($bp-md) {
    display: inline;
  }
}

.ticket__ticket-fees {
  @include alt-copy();

  display: block;

  @include breakpoint($bp-md) {
    display: inline;
  }
}

.ticket__details-btn {
  @include unbutton();
}

.ticket__ada-text {
  @include hide-btn-text();
}
