.ticket-list {
  @include unstyled-list();
}

.ticket-list__item {
  @include clearfix();

  padding: 15px 0;
  border-top: $base-border-style;
}

.ticket-list__item:first-child {
  padding-top: 0;
  border-top: 0;
}

.ticket-list__item:last-child {
  padding-bottom: 0;
}

.ticket-list__list-scrollable {
  max-height: 240px;
  overflow: auto;

  @include breakpoint($bp-md) {
    max-height: 500px;
  }
}
