.tile-selection {
  @include tile();
}

.tile-selection__content {
  @include inner-spacing($spacing-sm);

  color: $brand-gray2;
}

.tile-selection__content:not(:first-child) {
  border-top: $base-border-style;
}

.tile-selection--selected {
  border: $tile-selected-style;
}

.tile-selection__selected-text {
  font-weight: bold;
  color: $brand-primary;
}
