.timer {
  position: relative;
  width: $timer-size;
  height: $timer-size;
  background: $timer-bg-color;

  @include breakpoint($bp-lg) {
    width: $timer-size-lg;
    height: $timer-size-lg;
  }
}

.timer__indicator {
  @include responsive-font('md');

  position: absolute;
  top: 50%;
  z-index: z('timer-indicator');
  width: 100%;
  color: $white;
  text-align: center;
  transform: translateY(-50%);
}

.timer__spinner {
  @include timer-base();

  z-index: z('timer-spinner');
  border-right: 0;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  animation: timer-rota 5 + s linear infinite;
}

.timer__filler {
  @include timer-base();

  left: 50%;
  z-index: z('timer-filler');
  border-left: 0;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  opacity: 0;
  animation: timer-opa 5 + s steps(1, end) infinite reverse;
}

.timer__bg {
  width: 100%;
  height: 100%;
  background-color: $timer-bg-color;
  border: $timer-border-off;
  border-radius: 100%;
  opacity: 1;

  @include breakpoint($bp-lg) {
    border-width: 7px;
  }
}

.timer__mask {
  @include timer-base();

  position: absolute;
  top: 0;
  left: 0;
  z-index: z('timer-mask');
  width: 50%;
  height: 100%;
  background-color: $timer-bg-color;
  border: $timer-border-off;
  border-right: 0;
  border-radius: 200% 0 0 200% / 100%;
  opacity: 1;
  animation: timer-opa 5 + s steps(1, end) infinite;

  @include breakpoint($bp-lg) {
    border-width: 7px;
  }
}
