.timer {
  background: $timer-bg-color;
  height: $timer-size;
  position: relative;
  width: $timer-size;

  @include breakpoint($bp-lg) {
    height: $timer-size-lg;
    width: $timer-size-lg;
  }
}

.timer__indicator {
  @include responsive-font($timer-font-size);

  color: $white;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 220;

}

.timer__spinner {
  @include timer-base();

  animation: timer-rota 5 + s linear infinite;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  border-right: 0;
  z-index: 200;
}

.timer__filler {
  @include timer-base();

  animation: timer-opa 5 + s steps(1, end) infinite reverse;
  border-left: 0;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0; 
  left: 50%;
  opacity: 0;
  z-index: 100;
}

.timer__bg {
  background-color: $timer-bg-color;
  border: $timer-border-off;
  border-radius: 100%;
  height: 100%;
  opacity: 1;
  width: 100%;

  @include breakpoint($bp-lg) {
    border-width: 7px;
  }
}

.timer__mask {
  @include timer-base();

  animation: timer-opa 5 + s steps(1, end) infinite;
  background-color: $timer-bg-color;
  border: $timer-border-off;
  border-radius: 200% 0 0 200% / 100%;
  border-right: 0;

  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 201;

  @include breakpoint($bp-lg) {
    border-width: 7px;
  }
}
