// Toggle Switch CSS

// Toggle Switch Button Element

.toggle-switch__button{
  @include toggle-switch-button();
}

.toggle-switch__button--active {
  @include toggle-switch-color($toggle-switch-on-bg-color);
}

.toggle-switch__button--active-resale {
  @include toggle-switch-color($resale-color);
}

// Toggle Switch OFF Element

.toggle-switch__off {
  @include toggle-switch-element(4px 8px 0 28px);
}

// Toggle Switch ON Element

.toggle-switch__on {
  @include toggle-switch-element(4px 30px 0 8px);
}

// Toggle Switch On/Off State

.toggle-switch--hidden {
  width: 0;
  padding: 0;
}

// Toggle Switch Indicator Element

.toggle-switch__indicator {
  @include toggle-switch-element(4px, $toggle-switch-button-size, true);
}

// Toggle Switch Indicator Position States

.toggle-switch__indicator--right {
  right: -1px;
}

.toggle-switch__indicator--left {
  left: -1px;
}

