.tooltip {
  @include drop-shadow();
  @include tooltip-position('bottom');

  position: relative;

  background-color: $tooltip-color;
  border-radius: $base-border-radius;

  &:after {
    position: absolute;

    display: block;
    height: $tooltip-caret;
    width: $tooltip-caret;

    background-color: $tooltip-color;

    transform: rotate(45deg);
    content: '';

    @include breakpoint($bp-md) {
      height: $tooltip-caret-lg;
      width: $tooltip-caret-lg;
    }
  }
}

.tooltip--right {
  @include tooltip-position('right');
}

.tooltip--left {
  @include tooltip-position('left');
}

.tooltip--top {
  @include tooltip-position('top');
}

.tooltip--ism {
  width: $ism-tooltip-width;

  @include breakpoint($bp-md) {
    width: $ism-tooltip-width + 20;
  }
}

.tooltip__content {
  @include inner-spacing($spacing-sm);
  @include responsive-font('sm');
}

.tooltip__srs {
  @include inner-spacing($bottom: $spacing-sm);

  border-bottom: $base-border-style;
}


// Unused tooltip, keeping here temporarily for reference
// .tooltip-b {
//   @include drop-shadow();
//
//   position: relative;
//
//   margin-top: 30px;
//
//   background-color: $white;
//   border-radius: $base-border-radius;
//
//   &:before {
//     position: absolute;
//     bottom: -($tooltip-caret + 1);
//     left: 50%;
//
//     display: block;
//     width: 0;
//     margin-left: -10px;
//
//     border-color: get-lighter($brand-gray2, 50%) $transparent-color;
//     border-style: solid;
//     border-width: ($tooltip-caret + 1) 10px 0;
//
//     content: '';
//   }
//
//   // shadow shape
//   @include target-ie() {
//   }
//
//   // caret
//   &:after {
//     position: absolute;
//     bottom: -($tooltip-caret - 1);
//     left: 50%;
//
//     display: block;
//     width: 0;
//     margin-left: -($tooltip-caret / 2);
//
//     border-color: $white $transparent-color;
//     border-style: solid;
//     border-width: $tooltip-caret ($tooltip-caret / 2) 0;
//
//     content: '';
//   }
// }
