.waiting-list {
  position: relative;
}

.waiting-list__form {
  margin: auto;
}

.waiting-list__notify-btn {
  @include btn();

  margin: 15px 0 0 10px;
  font-weight: bold;
}

.waiting-list__text-field-input {
  @include text-field-input();

  width: 150px;
  margin: 15px 0 0 10px;
}
