// get color from palette; default shade is 'base'
@function nc-color($name, $shade: 'base', $map: $nc-current-palette) {
  @return map-get(map-get($map, $name), $shade);
}

// calculate different shades
@function nc-darker($color, $percent: 25%) {
  @return mix(#000, $color, $percent);
}

@function nc-lighter($color, $percent: 75%) {
  @return mix(#fff, $color, $percent);
}

@function nc-hover($color) {
  @if ($color == #fff) {
    @return nc-color('pacific', 'background');
  }

  @return mix(#000, $color, 25%);
}

@function nc-disabled($color) {
  @return mix(#fff, $color, 75%);
}

@function nc-generate-shades($colors, $color, $shades: $nc-shades) {
  $map: ();
  $val: '';
  $shade-name: map-keys($shades);

  $base: map-get($colors, $color);
  $map: map-merge($map, ('base': $base));

  @each $key in $shade-name {
    $percentage: map-get($shades, $key);

    @if ($key == 'dark') {
      $val: nc-darker($base, $percentage);
    }
    @else {
      $val: nc-lighter($base, $percentage);
    }

    $map: map-merge($map, ($key: $val));
  }

  @return $map;
}


/* stylelint-disable color-no-hex */
// defining color palette
$nc-black: #000;
$nc-white: #fff;

$nc-base-colors: (
  'sierra':     #475058,
  'cascade':    #768692,
  'rocky':      #dfe4e7,
  'ridge':      #f6f7f9,
  'pacific':    #009cde,
  'malibu':     #fa3,
  'catalina':   #d0006f
);

$nc-shades: (
  'dark':       25%,
  'light':      50%,
  'muted':      75%,
  'background': 87.5%
);

$nc-tm-colors: map-merge(
  $nc-base-colors, (
    'yosemite':   #19ab20,
    'helen':      #f00
  )
);

$nc-ln-colors: map-merge(
  $nc-base-colors, (
    'smoky':      #576671,
    'rainier':    #e11d39,
    'tahoe':      #2cb3ad,
    'shasta':     #2088b3
  )
);
/* stylelint-enable color-no-hex */
