@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url($file + '_x2.' + $type);
    background-size: $width $height;
  }
}
