// standard button mixin
@mixin btn($bgcolor: $brand-primary, $txtcolor: $brand-gray, $hovercolor: 'undefined') {
  padding: $button-padding;

  font-size: $button-font-size;
  font-weight: normal;
  text-align: center;
  color: $txtcolor;
  white-space: nowrap;

  background-color: $bgcolor;
  border: 0;
  border-radius: $button-border-radius;
  box-shadow: none;

  @if ($hovercolor != 'undefined') {
    &:active,
    &:focus,
    &:hover {
      background-color: $hovercolor;
    }
  }

  // small buttons are 30px height
  &--small {
    padding: $button-padding-sm;

    font-size: $button-font-size-sm;
  }

}

// outlined button mixin
@mixin btn-outlined($color, $hovercolor) {
  padding: $button-outlined-padding;

  font-size: $button-font-size;
  font-weight: normal;
  text-align: center;
  color: $color;
  white-space: nowrap;

  background-color: $white;
  border: 1px solid $color;
  border-radius: $button-border-radius;
  box-shadow: none;

  &:active,
  &:focus,
  &:hover {
    color: $hovercolor;

    border-color: $hovercolor;
  }

  // small buttons are 30px height
  &--small {
    padding: $button-outlined-padding-sm;

    font-size: $button-font-size-sm;
  }

}



// These are depcreated!!
// DO NOT use these anymore
// refer to components/_button.scss for the classes to use
%btn-primary {
  @include btn($brand-primary, $white, $brand-primary-darker);
}

%btn-secondary {
  @include btn($brand-gray2, $white, $brand-gray2);
}

%btn-tertiary {
  @include btn($brand-cta, $white, $brand-cta-darker);
}

%btn-remove {
  @include btn($white, $brand-alert, $white);
  font-size: $font-size-sm;

  border: 1px solid $brand-alert;
}

%btn-transparent {
  @include btn(transparent);
  padding: 0;
}

%btn-quaternary {
  @include btn($bgcolor: $white, $txtcolor: $brand-primary);
  border: $focused-border-style;
}
