/* stylelint-disable sh-waqar/declaration-use-variable */
// Disable linter because we're passing in the color as a variable, so we need
// to call the nc-get-darker/lighter functions dynamically instead of with set vars

// mixin to create buttons
@mixin nc-btn($color: $primary-button-color, $txtcolor: $nc-white, $height: $nc-button-height, $hoverstate: false, $outlined: false) {
  @include nc-btn-base($height);

  @if not $outlined {
    @include nc-btn-color($color, $txtcolor, $hoverstate: $hoverstate);
  }
  @else {
    @include nc-btn-outlined($color, $hoverstate: $hoverstate);
  }
}

// shared base for buttons
@mixin nc-btn-base($height) {
  @include nc-type-scale('uno', $height);

  display: inline-block;
  min-height: $height;
  padding: 0 $nc-button-padding;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border-radius: $nc-button-border-radius;
  box-shadow: none;

  @include nc-breakpoint($nc-bp-md) {
    min-height: $nc-button-height-lg;
    padding: 0 $nc-button-padding-lg;
    line-height: $nc-button-height-lg;
  }

  &:hover {
    text-decoration: none;
  }
}

// set the button color
@mixin nc-btn-color($bgcolor, $txtcolor, $hoverstate: false) {
  color: $txtcolor;
  background-color: $bgcolor;
  border: 0;

  @if $hoverstate {
    &:active,
    &:focus,
    &:hover {
      color: $txtcolor;
    }

    &:active {
      background-color: nc-get-darker($bgcolor);
    }

    @include nc-breakpoint($nc-bp-lg) {
      &:focus,
      &:hover {
        color: $txtcolor;
        background: nc-get-darker($bgcolor);
      }
    }
  }

  &[disabled] {
    @include nc-btn-disabled($bgcolor);
  }
}

// set the outlined color
@mixin nc-btn-outlined($color, $hoverstate: false) {
  color: $color;
  background-color: $nc-white;
  border: 1px solid $color;

  @if $hoverstate {
    &:active {
      color: nc-get-darker($color);
      border-color: nc-get-darker($color);
    }

    @include nc-breakpoint($nc-bp-lg) {
      &:focus,
      &:hover {
        color: nc-get-darker($color);
        border-color: nc-get-darker($color);
      }
    }
  }

  &[disabled] {
    @include nc-btn-disabled($color, $outlined: true);
  }
}

// set disabled color
@mixin nc-btn-disabled($color, $outlined: false) {
  @if not $outlined {
    background-color: nc-get-lighter($color);
  }
  @else {
    color: nc-get-lighter($color);
    border-color: nc-get-lighter($color);
  }
}

// unstyled button
@mixin nc-unbutton($txtcolor: $nc-link-color, $padding: $nc-button-padding, $nowrap: 'nowrap') {
  padding: 0 $padding;
  font-weight: normal;
  color: $txtcolor;
  text-align: center;
  background-color: $nc-transparent-color;
  border: 0;
  border-radius: 0;
  box-shadow: none;

  @if ($nowrap == 'nowrap') {
    white-space: nowrap;
  }

  &:hover,
  &:focus {
    color: $nc-link-hover-color;
    text-decoration: underline;
  }
}

// icon button
@mixin nc-icon-button() {
  @include nc-unbutton($padding: 0);

  line-height: 0;
}


// styles toggle switch button
@mixin nc-toggle-switch-button() {
  @include nc-unbutton($padding: 0);
  @include nc-type-scale('uno', $responsive: false);
  @include nc-toggle-switch-color();

  position: relative;
  height: $nc-toggle-switch-button-size;
  min-width: $nc-toggle-switch-button-size * 2;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 40px;
}


// sets toggle switch color
@mixin nc-toggle-switch-color($color: $nc-toggle-switch-off-bg-color) {
  color: $nc-toggle-switch-indicator-bg-color;
  background-color: $color;
  box-shadow: inset 0 1px 10px nc-get-darker($color);
}

// styles inner elements of the toggle switch
@mixin nc-toggle-switch-element($padding, $width: auto, $is-indicator: false) {
  display: inline-block;
  padding: $padding;
  overflow: hidden;
  vertical-align: top;

  @if $is-indicator {
    position: absolute;
    top: 1px;
    width: $width;
    height: $width;
    background-color: $nc-white;
    border-radius: 100%;
  }

  @else {
    width: $width;
    height: $nc-toggle-switch-button-size;
  }
}
