// mixin to create buttons
@mixin nc-btn($color: $primary-button-color, $txtcolor: $nc-white, $height: $nc-button-height, $hoverstate: false, $outlined: false, $responsive: true) {
  @include nc-btn-base($height, $responsive);

  @if not $outlined {
    @include nc-btn-color($color, $txtcolor, $hoverstate);
  }
  @else {
    @include nc-btn-outlined($color, $hoverstate);
  }
}

// shared base for buttons
@mixin nc-btn-base($height, $responsive) {
  @include nc-type-scale('milli', $lh: $height);

  display: inline-block;
  min-height: $height;
  padding: 0 $nc-button-padding;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border-radius: $nc-button-border-radius;
  box-shadow: none;

  @if ($responsive) {
    @include nc-breakpoint($nc-bp-md) {
      min-height: $nc-button-height-lg;
      padding: 0 $nc-button-padding-lg;
      line-height: $nc-button-height-lg;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

// set the button color
@mixin nc-btn-color($bgcolor, $txtcolor, $hoverstate: false) {
  color: $txtcolor;
  background-color: $bgcolor;
  border: 1px solid $bgcolor;

  @if $hoverstate {
    &:active,
    &:focus,
    &:hover {
      color: $txtcolor;
    }

    &:active {
      background-color: nc-darker($bgcolor);
      border: 1px solid nc-darker($bgcolor);
    }

    @include nc-breakpoint($nc-bp-lg) {
      &:focus,
      &:hover {
        color: $txtcolor;
        background: nc-darker($bgcolor);
        border: 1px solid nc-darker($bgcolor);
      }
    }
  }

  &[disabled] {
    @include nc-btn-disabled($bgcolor);
  }
}

// set the outlined color
@mixin nc-btn-outlined($color, $hoverstate: false) {
  color: $color;
  background-color: transparent;
  border: 1px solid $color;

  @if $hoverstate {
    &:active {
      color: nc-darker($color);
      border-color: nc-darker($color);
    }

    @include nc-breakpoint($nc-bp-lg) {
      &:focus,
      &:hover {
        color: nc-darker($color);
        border-color: nc-darker($color);
      }
    }
  }

  &[disabled] {
    @include nc-btn-disabled($color, $outlined: true);
  }
}

// set disabled color
@mixin nc-btn-disabled($color, $outlined: false) {
  @if not $outlined {
    background-color: nc-lighter($color);
    border: 1px solid nc-lighter($color);
  }
  @else {
    color: nc-lighter($color);
    border-color: nc-lighter($color);
  }
}

// unstyled button
@mixin nc-unbutton($txtcolor: nc-theme('link-color'), $padding: $nc-button-padding, $nowrap: 'nowrap') {
  padding: 0 $padding;
  font-weight: normal;
  color: $txtcolor;
  text-align: center;
  background-color: nc-theme('transparent-color');
  border: 0;
  border-radius: 0;
  box-shadow: none;

  @if ($nowrap == 'nowrap') {
    white-space: nowrap;
  }

  &:hover,
  &:focus {
    color: nc-hover(nc-theme('link-color'));
    text-decoration: underline;
  }
}

// icon button
@mixin nc-icon-button() {
  @include nc-unbutton($padding: 0);

  line-height: 0;
}


// styles toggle switch button
@mixin nc-toggle-switch-button() {
  @include nc-unbutton($padding: 0);
  @include nc-type-scale('uno', $responsive: false);
  @include nc-toggle-switch-color();

  position: relative;
  height: $nc-toggle-switch-button-size;
  min-width: $nc-toggle-switch-button-size * 2;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 40px;
}


// sets toggle switch color
@mixin nc-toggle-switch-color($color: nc-theme('toggle-switch-off-bg-color')) {
  color: nc-theme('toggle-switch-indicator-bg-color');
  background-color: $color;
  box-shadow: inset 0 1px 10px nc-darker($color);
}

// styles inner elements of the toggle switch
@mixin nc-toggle-switch-element($padding, $width: auto, $is-indicator: false) {
  display: inline-block;
  padding: $padding;
  overflow: hidden;
  vertical-align: top;

  @if $is-indicator {
    position: absolute;
    top: 1px;
    width: $width;
    height: $width;
    background-color: $nc-white;
    border-radius: 100%;
  }

  @else {
    width: $width;
    height: $nc-toggle-switch-button-size;
  }
}
