@mixin nc-cobrand-header-logo($svg-url) {
  width: 150px;
  height: $nc-touch-size;
  text-align: right;
  // determine based on cobrand background color
  background-image: url($svg-url);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 125px;

  @include nc-breakpoint($nc-bp-lg) {
    position: absolute;
    right: $nc-gutter-width / 2;
    width: 200px;
    height: $nc-event-header-height;
    line-height: $nc-event-header-height;
    background-size: 175px;
  }
}
