@mixin nc-dialog-title($size) {
  $name: nc-remap-type-size($size);

  @include nc-type-scale($name);
  @include nc-spacing($inside: 'compact');

  font-weight: normal;
  color: $nc-white;
  content: $name;
}

@mixin nc-dialog-title-icon($width: $nc-base-icon-size, $height: $nc-base-icon-size) {
  width: $width;
  height: $height;
  padding: 3px;
  vertical-align: middle;
  border: $nc-title-icon-border-style;
  border-radius: $nc-base-icon-size;
  fill: $nc-white;
}

@mixin nc-dialog-title-text($width: $nc-base-icon-size, $height: $nc-base-icon-size) {
  padding-left: 10px;
  vertical-align: middle;
}

@mixin nc-dialog-content($color: $nc-alt-text-color, $pad: 'compact') {
  @include nc-type-scale('centi');
  @include nc-spacing($inside: $pad);

  color: $color;
  background-color: $nc-white;
}
