// Use to create drop-shadow effect for irregular shaped objects.
// For normal box-shaped objects, use the regular box-shadow CSS3 property
// For more info, see: http://thenewcode.com/600/Creating-a-True-Cross-Browser-Drop-Shadow-Effect-With-CSS3-/blog/600/Creating-a-True-Cross-Browser-Drop-Shadow-Effect-With-CSS-amp-SVG-SVG

@mixin nc-drop-shadow($x: $nc-shadow-x, $y: $nc-shadow-y, $blur: $nc-shadow-blur, $spread: $nc-shadow-spread, $color: $nc-shadow-color) {

  // CSS3 drop-shadow filter renders differently, so we need to halve the value
  $modern-blur: $blur / 2;

  // IE8-9 fallback
  /* stylelint-disable property-no-vendor-prefix, string-quotes */
  // allow special case
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=#{$x}, OffY=#{$y}, Color='#{$color}')";
  /* stylelint-enable property-no-vendor-prefix, string-quotes */

  // modern browsers
  filter: drop-shadow($x $y $modern-blur $color);

  // Work around for iOS/Safari. Tooltip would flicker without this http://stackoverflow.com/a/13020881
  backface-visibility: hidden;

  // IE10+
  @include nc-target-ie() {
    box-shadow: $x $y $blur $spread $color;
  }
}
