
@mixin form-dropdown-simple {
  -webkit-appearance: none;
  -moz-appearance: none;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $black;
  }

  &::-ms-expand {
    display: none;
  }

  &.is-error-field {
    border: $error-border-style;
  }
}

@mixin form-dropdown {
  @include form-dropdown-simple();

  height: auto;
  padding: 10px;
  border: $base-border-style;
  background: $white;
}
