// Use to create drop-shadow effect for irregular shaped objects.
// For normal box-shaped objects, use the regular box-shadow CSS3 property
// For more info, see: http://thenewcode.com/600/Creating-a-True-Cross-Browser-Drop-Shadow-Effect-With-CSS3-/blog/600/Creating-a-True-Cross-Browser-Drop-Shadow-Effect-With-CSS-amp-SVG-SVG

@mixin drop-shadow($x: $shadow-x, $y: $shadow-y, $blur: $shadow-blur, $spread: $shadow-spread, $color: $shadow-color) {

  // CSS3 drop-shadow filter renders differently, so we need to halve the value
  $modern-blur: $blur / 2;

  // Work around for iOS/Safari. Tooltip would flicker without this http://stackoverflow.com/a/13020881
  backface-visibility: hidden;

  // IE8-9 fallback
  // scss-lint:disable VendorPrefix
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=#{$x}, OffY=#{$y}, Color='#{$color}')";

  // modern browsers
  filter: drop-shadow($x $y $modern-blur $color);

  // IE10+
  @include target-ie() {
    box-shadow: $x $y $blur $spread $color;
  }
}
