@mixin footer-sprite($icon, $position: before) {
  &:#{$position} {
    display: inline-block;
    width: 18px;
    height: 18px;

    vertical-align: text-bottom;
    background-image: url('../img/footer-sprite.png');
    background-position: map-get(map-get($sprites, footer), $icon);
    background-repeat: no-repeat;

    content: '';

    @if $position == before {
      margin-right: 5px;
    }
    @if $position == after {
      margin-left: 5px;
    }

    @content;
  }
}
