@mixin form-label($color: $label-color) {
  @include responsive-font('xs');

  color: $color;
}

@mixin base-textfield() {
  width: 100%;
  border: 0;
  border-bottom: $input-border-style;

  &.is-error-field {
    color: $alert-color;
    border-bottom: $alert-border-style;
  }

  &.is-error-field + .input-group__label,
  &.is-error-field + .input-group__label > .input-group__required {
    color: $alert-color;
  }
}

@mixin textfield-underline() {
  @include base-textfield();

  position: relative;
  padding-top: $input-label-height;
  padding-bottom: 5px;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

@mixin textfield-active() {
  border-bottom-color: $link-color;
  outline: none;
  background: none;
}

// TODO: verify this is needed
// DO NOT USE
@mixin textfield-box() {
  @include base-textfield();
}
