@mixin nc-form-label($color: $nc-label-color) {
  @include nc-responsive-font('xs');

  color: $color;
}

@mixin nc-base-textfield() {
  width: 100%;
  border: 0;
  border-bottom: $nc-input-border-style;

  &.is-error-field {
    color: $nc-alert-color;
    border-bottom: $nc-alert-border-style;
  }

  &.is-error-field + .input-group__label,
  &.is-error-field + .input-group__label > .input-group__required {
    color: $nc-alert-color;
  }
}

@mixin nc-textfield-underline() {
  @include nc-base-textfield();

  position: relative;
  padding-top: $nc-input-label-height;
  padding-bottom: 5px;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

@mixin nc-textfield-active() {
  border-bottom-color: $nc-link-color;
  outline: none;
  background: none;
}

// TODO: verify this is needed
// DO NOT USE
@mixin nc-textfield-box() {
  @include nc-base-textfield();
}
