// deprecate
@mixin nc-hide-text {
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
}

@mixin nc-hide-btn-text {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
