@mixin nc-split-content($gutter: normal, $responsive: true) {
  display: flex;
  align-items: center;
  width: 100%;

  &__primary {
    flex: 1 1 100%;
  }

  &__secondary {
    @include nc-padding((left: $gutter), $responsive: $responsive);

    flex: 0 0 auto;

    // we don't want left padding if it's the first item
    &:first-child {
      padding-left: 0;
    }
  }

  &__primary--top,
  &__secondary--top {
    align-self: flex-start;
  }

  &__primary--bottom,
  &__secondary--bottom {
    align-self: flex-end;
  }

  &__secondary + &__primary {
    @include nc-padding((left: $gutter), $responsive: $responsive);
  }
}


@mixin nc-visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
