@mixin module($padding: $spacing-sm) {
  @include clearfix();

  background-color: $white;
  border-radius: $module-border-radius;
  box-shadow: $box-shadow-style;

  &__content {
    @include clearfix();
    @include inner-spacing($padding);

    p:last-child {
      margin-bottom: 0;
    }
  }
}
