@mixin nc-polling-checkmark-ring() {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}


@mixin nc-polling-checkmark-animate() {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0 0 $nc-link-color;
  opacity: 0.8;
  animation: ui-spinner-rotate-left 3s infinite;
  animation-delay: 0.625s;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  transform-origin: 0 50% 0;
  border-radius: 999px;
  content: '';
}


@mixin nc-polling-refresh($size: $nc-base-icon-size, $bg: $nc-polling-refresh-bg-color) {
  position: relative;
  z-index: nc-z('polling');
  height: $size;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: nc-z('hide');
    width: $size;
    height: $size;
    background-color: rgba($bg, 0.9);
    content: '';
    animation: $nc-polling-refresh-animation;
  }
}
