@mixin polling-checkmark-ring() {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}


@mixin polling-checkmark-animate() {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0 0 $link-color;
  opacity: 0.8;
  animation: ui-spinner-rotate-left 3s infinite;
  animation-delay: 0.625s;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  transform-origin: 0 50% 0;
  border-radius: 999px;
  content: '';
}
