$slide-animation: 1s;

@mixin nc-slider($min-ht: 0, $max-ht: 8888px) {
  max-height: $min-ht;
  overflow: hidden;
  transition: $slide-animation;

  /* stylelint-disable selector-class-pattern */
  // holder from v0.x -- we shouldn't be using multi-class selectors anymore
  &.slider-open {
    max-height: $max-ht;
    transition: $slide-animation;
  }
  /* stylelint-enable selector-class-pattern */
}

@mixin nc-slider-ease($min-ht: 0, $max-ht: 1000px) {
  max-height: $min-ht;
  overflow: hidden;

  @content;

  /* stylelint-disable selector-class-pattern */
  // holder from v0.x -- we shouldn't be using multi-class selectors anymore
  &.slider-open {
    max-height: $max-ht;
    transition: max-height $slide-animation ease-in;
  }
  /* stylelint-enable selector-class-pattern */
}

@mixin nc-slider-bar($slider-range-top: 0, $slider-range-height: 5px) {
  position: relative;
  top: $slider-range-top;
  width: 100%;
  height: $slider-range-height;
  background-color: nc-theme('slider-range-bg-color');
  border: 1px nc-theme('slider-range-border-color');
  border-radius: 4px;
  box-shadow: inset 0 1px 0 nc-theme('slider-range-shadow-color');
}
