$slide-animation: 1s;

@mixin slider($min-ht: 0, $max-ht: 8888px) {
  max-height: $min-ht;
  overflow: hidden;
  transition: $slide-animation;

  &.slider-open {
    max-height: $max-ht;

    transition: $slide-animation;
  }
}

@mixin slider-ease($min-ht: 0, $max-ht: 1000px) {
  overflow: hidden;
  max-height: $min-ht;

  @content;

  &.slider-open {
    max-height: $max-ht;
    transition: max-height $slide-animation ease-in;
  }
}

@mixin slider-bar($slider-range-top: 0, $slider-range-height: 5px) {
  position: relative;
  top: $slider-range-top;
  width: 100%;
  height: $slider-range-height;
  background-color: $slider-range-bg-color;
  border: 1px $slider-range-border-color;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 $slider-range-shadow-color;
}
