@mixin nc-outer-spacing($val: false, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  @include nc-set-spacing('margin', $val, $top, $right, $bottom, $left);
}

@mixin nc-inner-spacing($val: false, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  @include nc-set-spacing('padding', $val, $top, $right, $bottom, $left);
}

@mixin nc-set-spacing($type, $val, $top, $right, $bottom, $left) {
  @if ($val and $val != 'custom') {
    #{$type}: $val;

    @include nc-breakpoint($nc-bp-md) {
      #{$type}: nc-increase-spacing($val);
    }
  }
  @else {
    #{$type}: $top $right $bottom $left;

    @include nc-breakpoint($nc-bp-md) {
      #{$type}: nc-increase-spacing($top) nc-increase-spacing($right) nc-increase-spacing($bottom) nc-increase-spacing($left);
    }
  }
}
