@mixin target-ipad($orientation: false) {
  @if ($orientation) {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: #{$orientation}) {
      @content;
    }
  }

  @else {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      @content;
    }
  }
}
