@mixin nc-type-scale($set, $lh: $nc-base-line-height, $responsive: true) {
  font-size: nc-get-font($set, 'sm');
  line-height: $lh;

  @if ($responsive) {
    @include nc-breakpoint($nc-bp-sm) {
      font-size: nc-get-font($set, 'md');
    }

    @include nc-breakpoint($nc-bp-md) {
      font-size: nc-get-font($set, 'lg');
    }
  }
}


@mixin nc-alt-copy($set: false, $lh: $nc-base-line-height, $responsive: true) {
  @if $set {
    $name: nc-remap-type-size($set);

    @include nc-type-scale($name, $lh: $lh, $responsive: $responsive);
  }

  font-weight: expanded;
  color: nc-theme('alt-text-color');
}


@mixin nc-truncate-text($width: false) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// possibly deprecate
@mixin nc-hdg-text($set, $color: nc-theme('text-color'), $mb: $nc-header-margin) {
  $name: nc-remap-type-size($set);

  @include nc-type-scale($name);

  margin-bottom: $mb;
  font-weight: bold;
  color: $color;

  @include nc-breakpoint($nc-bp-md) {
    margin-bottom: $mb * 2;
  }
}


// deprecated
@mixin nc-responsive-font($set: 'md', $lh: false) {
  @include nc-type-adapter($set, $lh, true);
}

@mixin nc-fixed-font($set: 'md', $lh: false) {
  @include nc-type-adapter($set, $lh, false);
}

@mixin nc-type-adapter($set, $lh, $responsive) {
  $name: nc-remap-type-size($set);

  @if not $lh {
    $lh: $nc-base-line-height;
  }

  @include nc-type-scale($name, $lh, $responsive);
}
