@mixin nc-type-scale($set, $lh: $nc-base-line-height, $responsive: true) {
  font-size: nc-get-nested-map($nc-font-map, $set, 'sm');
  line-height: $lh;

  @if ($responsive) {
    @include nc-breakpoint($nc-bp-sm) {
      font-size: nc-get-nested-map($nc-font-map, $set, 'md');
    }

    @include nc-breakpoint($nc-bp-md) {
      font-size: nc-get-nested-map($nc-font-map, $set, 'lg');
    }
  }
}


@mixin nc-alt-copy($set: false) {
  @if $set {
    @include nc-responsive-font($set);
  }

  font-weight: normal;
  color: $nc-alt-text-color;
}


@mixin nc-truncate-text() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@mixin nc-hdg-text($set, $color: $nc-text-color, $mb: $nc-header-margin) {
  @include nc-responsive-font($set);

  margin-bottom: $mb;
  font-weight: bold;
  color: $color;

  @include nc-breakpoint($nc-bp-md) {
    margin-bottom: $mb * 2;
  }
}


// deprecated
@mixin nc-responsive-font($set: 'md', $lh: false) {
  $name: '';

  @if ($set == 'xs') {
    $name: 'milli';
  }
  @else if ($set == 'sm') {
    $name: 'centi';
  }
  @else if ($set == 'md') {
    $name: 'uno';
  }
  @else if ($set == 'lg') {
    $name: 'kilo';
  }
  @else if ($set == 'xl') {
    $name: 'giga';
  }
  @else if ($set == 'xxl') {
    $name: 'peta';
  }
  @else {
    @warn 'invalid size specified';
  }

  @include nc-type-scale($name, $lh);
}


@mixin nc-fixed-font($set: 'md', $lh: false) {
  $name: '';

  @if ($set == 'xs') {
    $name: 'milli';
  }
  @else if ($set == 'sm') {
    $name: 'centi';
  }
  @else if ($set == 'md') {
    $name: 'uno';
  }
  @else if ($set == 'lg') {
    $name: 'kilo';
  }
  @else if ($set == 'xl') {
    $name: 'giga';
  }
  @else if ($set == 'xxl') {
    $name: 'peta';
  }
  @else {
    @warn 'invalid size specified';
  }

  @include nc-type-scale($name, $lh, false);
}
