// mixins
@mixin bold-text($weight: $bold-weight) {
  font-weight: $weight;
}


@mixin responsive-font($set: 'md', $lh: false) {
  $pint: fetch-font($set);

  font-size: $pint;
  line-height: get-lh($pint, $lh);

  @include breakpoint($bp-sm) {
    $quart: fetch-font($set, 'quart');

    font-size: $quart;
    line-height: get-lh($quart, $lh);
  }

  // there's no gallon size for XS, so skip it
  @if ($set != 'xs') {
    @include breakpoint($bp-md) {
      $gallon: fetch-font($set, 'gallon');

      font-size: $gallon;

      @if ($set == 'md' and not $lh) {
        $lh: $base-line-height;
      }

      line-height: get-lh($gallon, $lh);
    }
  }
}


@mixin fixed-font($set: 'md', $lh: false) {
  $size: fetch-font($set, 'quart');

  font-size: $size;
  line-height: get-lh($size, $lh);
}


@mixin hdg-text($set, $color: $brand-gray, $mb: 5px) {
  @include bold-text();
  @include responsive-font($set);

  margin-bottom: $mb;
  color: $color;
}


@mixin alt-copy($set: 'sm') {
  @include responsive-font($set);

  font-weight: normal;
  color: $brand-gray2;
}
