// mixins
@mixin nc-responsive-font($set: 'md', $lh: false) {
  $pint: fetch-font($set);

  font-size: $pint;
  line-height: get-lh($pint, $lh);

  @include nc-breakpoint($nc-bp-sm) {
    $quart: fetch-font($set, 'quart');

    font-size: $quart;
    line-height: get-lh($quart, $lh);
  }

  @include nc-breakpoint($nc-bp-md) {
    $gallon: fetch-font($set, 'gallon');

    font-size: $gallon;

    @if ($set == 'md' and not $lh) {
      $lh: $nc-base-line-height;
    }

    line-height: get-lh($gallon, $lh);
  }
}


@mixin nc-fixed-font($set: 'md', $lh: false) {
  $size: fetch-font($set, 'quart');

  font-size: $size;
  line-height: get-lh($size, $lh);
}


@mixin nc-hdg-text($set, $color: $text-color, $mb: $nc-header-margin) {
  @include nc-responsive-font($set);

  margin-bottom: $mb;
  font-weight: bold;
  color: $color;

  @include nc-breakpoint($nc-bp-md) {
    margin-bottom: $mb * 2;
  }
}


@mixin nc-alt-copy($set: false) {
  @if $set {
    @include nc-responsive-font($set);
  }

  font-weight: normal;
  color: $nc-alt-text-color;
}


@mixin nc-truncate-text() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
