@mixin nc-timer-base($color) {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: nc-theme('transparent-color');
  border: $nc-timer-border-thickness solid $color;
  transform-origin: 100% 50%;
}
