@mixin timer-base() {
  position: absolute;
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  background-color: $brand-primary;
  border: $timer-border-on;

  @include breakpoint($bp-lg) {
    border-width: 7px;
  }
}
