$toaster-padding: 5px;
$toaster-opacity: 0.9;

@mixin toaster($radius: $base-border-radius) {
  padding: $toaster-padding;
  color: $white;
  white-space: nowrap;
  background-color: $brand-gray;
  border-radius: $radius;
  opacity: $toaster-opacity;
}
