// config
$toggle-size: 20px;


// mixins
@mixin toggle($state: false) {
  @if $state {
    @include svg($state);
  }

  @include hide-text();

  display: inline-block;
  width: $toggle-size;
  height: $toggle-size;

  background-repeat: no-repeat;

  &__text {
    @include hide-btn-text();
  }
}

@mixin toggle-btn() {
  @include toggle();

  transform: translateY(0%);
  float: right;

  font-size: 0;
  line-height: 0;

  border: 0;
  background: transparent;

  &.toggle-open {
    @include toggle('icon-expand');
  }

  &.toggle-close {
    @include toggle('icon-collapse');
  }
}
