// Misc
$base-border-radius: 3px;
$box-shadow-style: 0 2px 6px 0 $box-shadow-color;
$inner-shadow-style: inset 0 1px 3px 0 $box-shadow-color;
$event-image-size: 205px;
$qp-width-lg: 360px;
$ticket-bag-ht: 70px;   // approximate; needed by map/list toaster button
$footer-height: 2.8rem;


// Modules
$module-padding-sm: 15px;
$module-padding-lg: 20px;
$module-border-radius: $base-border-radius * 2;
$module-shadow-style: $box-shadow-style;
$module-bg-color: $white;


// Ticket Bag
$ticket-bag-padding: 10px;


// Spacing
// control spacing of major content areas on a page
$vertical-spacing-sm: 20px;
$vertical-spacing-lg: 40px;

// control spacing between sections of content
$content-vspace-sm: $module-padding-sm;
$content-vspace-lg: $module-padding-lg;
$content-vspace-legal-sm: $content-vspace-sm * 2;
$content-vspace-legal-lg: $content-vspace-lg * 2;

// control spacing of form elements
$form-label-vspace: 10px;
$input-group-vspace: 10px;

// Buttons
$button-border-radius: $base-border-radius;
$button-padding: 12px 20px 11px 20px;           // ~44px height
$button-padding-sm: 6px 10px;                   // ~30px height
$button-outlined-padding: 11px 20px 10px 20px;  // ~44px height
$button-outlined-padding-sm: 5px 10px;          // ~30px height
$button-padding-cta: 40px;


// Border Styles
$dark-border-style: 1px solid $dark-border-color;
$light-border-style : 1px solid $light-border-color;
$focused-border-style: 1px solid $border-focused-color;
$error-border-style: 1px solid $border-error-color;
$outline-style: 3px solid $outline-color;
$tile-list-item-selected-style: 2px solid $border-focused-color;


// Animation
$text-enter: all 0.5s ease-in;
$text-leave: all 0.5s ease-in;

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ticket-spin1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ticket-spin2 {
  0% {
    opacity: 0.1;
    transform: rotate(90deg);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.1;
    transform: rotate(405deg);
  }
}

@keyframes ticket-spin3 {
  0% {
    opacity: 0.1;
    transform: rotate(45deg);
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.1;
    transform: rotate(450deg);
  }
}

@keyframes ticket-spin4 {
  0% {
    opacity: 0.01;
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.01;
    transform: rotate(495deg);
  }
}

@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);

    transform-origin: 50% 50%;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);

    transform-origin: 50% 50%;
  }
}

@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    transform: scale(1, 1);

    transform-origin: 50% 50%;
  }

  100% {
    opacity: 0;
    transform: scale(0, 0);

    transform-origin: 50% 50%;
  }
}


img,
picture {
  max-width: 100%;
  margin: 0;
}


// disable outline of form elements on focus in Chrome
input,
select,
textarea,
button {
  &:focus {
    outline: $outline-style;
  }
}


input,
select,
textarea {
  padding: 0;

  font-size: $min-input-font-size;
}


// Firefox fix to get button sizing in line with Chrome
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  margin-top: -1px;

  border: 0;
}
