// Font Families
$georgia: Georgia, Cambria, 'Times New Roman', Times, serif;
$helvetica: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$lucida-grande: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
$monospace: Menlo, Consolas, 'Courier New', monospace;
$verdana: Verdana, Geneva, sans-serif;
$arial: Arial, Helvetica, Roboto, sans-serif;


// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $arial;
$header-font-family: $base-font-family;
$bold-weight: 700;
$bold-letter-spacing : -0.025em;
$header-letter-spacing: $bold-letter-spacing;


// Default font sizes
$default-font-size: 16px; // for media queries
$base-font-size: 62.5%;   // == 10px


// Base font sizes
// DO NOT use these variables!
// Declaring font-sizes should always be via fontsy() or responsive-font()
$font-size-xs : 1rem;
$font-size-sm : 1.2rem;
$font-size-md : 1.4rem;
$font-size-lg : 1.8rem;
$font-size-xl : 1.8rem;
$font-size-plus-factor: 0.2;
$font-size-plus-factor-xl: 0.6;


// convert px to em
@function em($px, $context: $default-font-size) {
  @if ($px == 0) { @return 0; }
  @return $px / $context * 1em;
}


// Headings
$hdg-primary-font-size: xl;
$hdg-secondary-font-size: xl;
$hdg-section-font-size: md;


// Other font sizes
$body-font-size: $font-size-md;
$button-font-size: 1.6rem;
$button-font-size-sm: 1.4rem;
$min-input-font-size: 1.6rem; // min required to avoid iOS zooming


// Line height
$base-line-height: 1.35;
$header-line-height: 1.35;


html {
  font-size: $base-font-size;
  color: $base-font-color;
}

body {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  color: $base-font-color;

  background-color: $body-bg-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-family: $header-font-family;
  line-height: $header-line-height;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

p {
  margin: 0 0 1rem;
}

strong {
  font-weight: $bold-weight;
  letter-spacing: $bold-letter-spacing;
}

a {
  color: $base-link-color;
  text-decoration: none;

  &:active,
  &:hover {
    color: $hover-link-color;
    text-decoration: underline;
  }

  &:focus {
    outline-color: $outline-color;
  }
}

abbr {
  text-decoration: none;

  border-bottom: 0;
}
