.delivery {

  &__radio-input {
    display: none;
  }

  &__radio-label {
    @include responsive-font('md');

    display: block;
    padding: $module-padding-lg;

    @include breakpoint($max: $bp-md) {
      padding: 15px 8px;
    }
  }

  &__label-desc {
    display: block;

    margin: 0;
  }

  &__label-price {
    float: right;
  }

  &__free-icon {
    color: $order-total-color;
  }

  &__free-icon,
  &__price-icon {
    margin-left: 0.5em;
  }

  &__sub-item {
    padding-left: 45px;
    margin-bottom: 1em;

    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px 30px;

    &--mobile {
      background-image: url(map-get($svgs, 'icon-mobile'));
    }

    &--credit-card {
      background-image: url(map-get($svgs, 'icon-credit-card'));
    }

    &--print-at-home {
      background-image: url(map-get($svgs, 'icon-print-at-home'));
    }
  }

  &__sub-item:last-child {
    margin-bottom: 0;
  }

  &__sub-item-title {
    @include bold-text();
  }

  &__sub-item-desc {
    margin: 0;
  }

  &__sub-list {
    @include unstyled-list();

    margin-top: 1rem;
  }
}
