.docking-module {
  @include breakpoint($min: $bp-lg) {
    @include span(4 last);
  }

  &__heading {
    @include breakpoint($max: $bp-lg - 1) {
      display: none;
    }
  }

  &__module {
    @include breakpoint($max: $bp-lg - 1) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: z('overlay');

      padding: auto 0;

      background-color: transparent;
      box-shadow: none;
    }
  }

  &__content.module__content {
    padding: 0;

    @include breakpoint($max: $bp-lg - 1) {
      padding: 0;
    }
  }

  &__pri-content {
    border-top: $dark-border-style;

    @include breakpoint($max: $bp-lg - 1) {
      background-color: $white;
    }

    @include breakpoint($max: $bp-lg) {
      display: flex;
      justify-content: space-between;
    }

    @include breakpoint($bp-md) {
      padding: 0;
    }

    @include breakpoint($bp-sm) {
      padding: 15px;
    }
  }

  &__flexBox {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  &__sec-content {
    @include breakpoint($max: $bp-lg - 1) {
      $slide-animation: 0.3s;
      @include slider(0, 500px);

      background-color: $background-gray;
    }
  }

  &__anchor-info {
    @include bold-text();

    @include breakpoint($max: $bp-lg - 1) {
      width: 50%;
    }

    @include breakpoint($bp-lg) {
      display: none;
    }
  }

  &__toggle-btn {
    @include hide-text;

    width: 22px;
    margin-right: 10px;

    background-image: url(map-get($svgs, 'icon-plus'));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;

    @include breakpoint($min: $bp-lg) {
      display: none;
    }
  }

  &__toggle-btn--expand {
    background-image: url(map-get($svgs, 'icon-minus'));
  }

  &--blur {
    @include breakpoint($max: $bp-lg - 1) {
      z-index: z('docking-module-blur');

      filter: blur(5px);

      user-select: none;
    }
  }

  &__overlay {
    display: none;
  }

  &__overlay--show {
    @include breakpoint($max: $bp-lg - 1) {
      display: block;
    }
  }
}
