.event {
  @include span(full nest);
  @include clearfix();
  @include responsive-font('md');

  padding: 0;

  border-bottom: $dark-border-style;

  &--legacy {
    padding-top: 15px;

    border-bottom: 0;

    @include breakpoint($bp-md) {
      padding-top: 20px;
    }

    @include breakpoint($bp-lg) {
      padding-top: 30px;
    }
  }

  &__event-info {
    @include span(full);
    position: relative;

    overflow: hidden;

    text-align: center;

    @include breakpoint($max: $bp-md - 1) {
      position: relative;
    }

    @include breakpoint($bp-md) {
      text-align: left;
    }
  }

  &__event-details {
    @include span(full nest);
    @include responsive-font('sm');
  }

  &__event-details-link {
    margin-bottom: 10px;

    @include breakpoint($max: $bp-md - 1) {
      @include bleed-x(gutter());
      border-bottom: $dark-border-style;
    }

    @include breakpoint($bp-md) {
      margin: 10px 0;
    }
  }

  &__event-details-toggle {
    @extend %btn-transparent;

    position: relative;

    display: inline-block;

    color: $base-link-color;
    text-decoration: none;

    background-color: $background-white;
    border: 0;

    @include breakpoint($max: $bp-md - 1) {
      @include hide-text;

      top: 10px;

      width: 20px;
      padding: 0 15px;
      overflow: visible;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active,
    &:focus {
      color: $hover-link-color;
    }

    &:active {
      outline: none;
    }

    &:after {
      @include toggle('icon-expand');

      position: absolute;
      right: 0;
      left: 0;

      margin: auto;

      content: '';

      @include breakpoint($bp-md) {
        right: auto;
        left: auto;

        margin-left: 4px;
      }
    }

    .toggle-close:after {
      @include toggle('icon-collapse');
    }
  }

  &__overlay {
    @include overlay(45px, $overlay-light-background-color);

    @include breakpoint($bp-lg) {
      padding-top: 0;
    }
  }

  &__polling {

    position: relative;
    top: 38%;
  }

  &__background-image {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    opacity: 0.3;

    filter: blur(20px);
    transform: translateY(-50%);

    @include target-ie() {
      display: none;
    }
  }

  &__content {
    position: relative;
    z-index: z('event');

    align-items: center;

    text-align: center;

    @include breakpoint($bp-md) {
      display: flex;
      min-height: 155px;
    }
  }
}
