.event-info {

  &__header {
    @include clearfix();

    margin-top: 5px;
    margin-bottom: 10px;

    text-align: left;

    @include breakpoint($min: $bp-md) {
      flex-grow: 1;
      margin: auto 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    width: $event-image-size;

    @include breakpoint($min: $bp-md) {
      float: left;
      min-width: $event-image-size;
      margin: 20px 20px 20px 10px;
    }
  }

  &__image--legacy {
    width: $event-image-size;
    margin-bottom: 10px;

    @include breakpoint($min: $bp-md) {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  &__datestamp {
    float: left;
    margin-right: 10px;
  }

  &__locale {
    display: block;
  }

  &__locale--legacy,
  &__date--legacy {
    display: block;
  }

  &__date {
    display: block;
    height: 22px;

    padding: 2px 5px;
    margin-bottom: 1px;

    font-weight: bold;
    text-align: center;

    background-color: $white;

    @include breakpoint($min: $bp-md) {
      display: inline-block;
      height: 25px;

      padding: 2px 10px;
      margin-right: 1px;
      margin-bottom: 5px;
    }
  }

  &__venue-state[title] {
    border-bottom: 0;
  }

  &__date-container {
    flex-shrink: 0;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__icon {
    @extend %btn-transparent;

    @include hide-text();
    @include svg('icon-info');

    align-self: flex-end;
    flex-grow: 1;
    width: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  &__heading {
    @include hdg-text($hdg-primary-font-size, $hdg-primary-color);

    display: inline-block;
    margin-bottom: 0;
  }

  &__webinfo-link {
    @include breakpoint($min: $bp-md) {
      display: none;
    }

    a:hover {
      color: $primary-button-hover-color;
    }
  }

  &__webinfo-text {
    margin-top: 11px;

    font-size: fontsy('sm');

    @include breakpoint($max: $bp-md - 1) {
      display: none;
    }

    a:hover {
      color: $primary-button-hover-color;
    }

    &__client-copy {
      max-width: 100%;
    }
  }
}
