.module {
  @include module();

  &--success {
    background-color: $background-success-color;
    border: 1px solid $border-success-color;
    box-shadow: none;
  }

  &--error {
    float: left;
    width: 100%;

    font-size: fontsy('sm', 'plus');

    background-color: $background-error-color;
    border: 1px solid $border-error-color;
    box-shadow: none;
  }

  &__toggle {
    @include toggle-btn();
  }

  &__accordion-content {
    @include accordion-content();
  }

  &__close {
    $modal-close-icon-size: 22px;

    @extend %btn-transparent;

    @include hide-text();
    @include svg('icon-close');

    position: absolute;
    top: -7px;
    right: -7px;

    width: $modal-close-icon-size;
    height: $modal-close-icon-size;

    background-color: $white;
    background-size: $modal-close-icon-size $modal-close-icon-size;
    border-radius: 100%;
  }

  &--recaptcha {
    box-shadow: 0;

    @include breakpoint($max: $bp-md - 1) {
      margin: 0;

      border-radius: 0;
    }
  }
}


.module__content {
  &--flush {
    @include breakpoint($max: $bp-md - 1) {
      padding: 0;
    }
  }

  &--centered {
    text-align: center;
  }

  &--success-icon {
    @include module-icon('icon-checkmark');
  }

  &--error-icon {
    @include module-icon('icon-error');
  }
}

.module__modal-heading {
  padding: 10px 40px 0 10px;
}

.module__modal-content {
  @include clearfix();

  max-height: 70vh;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;

  border-top: 1px solid $dark-border-color;

  @include breakpoint($bp-md) {
    padding: 40px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}


.module__filter-content {
  @include clearfix();

  max-height: 65vh;
  padding: 15px 10px;
  overflow-y: auto;

  border-top: 1px solid $dark-border-color;

  @include breakpoint($bp-md) {
    padding: 20px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}


.module__quickpicks-scrollable {
  @include breakpoint($bp-md) {
    max-height: 690px;
    overflow: auto;
  }
}


// TODO this is bad and should be refactored
.module__header {
  &-container {
    @include span(full nest);
  }

  &-text {
    @include accordion-header-text();
  }

  &-icon {
    @include accordion-header-icon();
  }
}
