// apply this to the body tag
.page {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  color: $base-font-color;

  background-color: $body-bg-color;

  // use wrapper to set background color for a particular section of the page
  &__wrapper {
    clear: both;

    background-color: $page-content-bg-color;
  }

  &__wrapper-footer {
    clear: both;

    background-color: $footer-bg-color;
  }

  // use frame to set max-width and other structural styling here
  &__frame {
    @include container($bp-xl);
    @include clearfix();

    clear: both;
  }

  // use content to set default font size for content
  &__content {
    @include clearfix();
    @include responsive-font('md');

    @include breakpoint($bp-md) {
      @include pad(10px no-gutters);
    }

    @include breakpoint($bp-lg) {
      @include pad(40px no-gutters);
    }
  }

  &__content-header {
    @include clearfix();
    @include responsive-font('md');

    position: relative;

    z-index: z('page-content-header');

    background-color: $white;
    border-bottom: 1px solid $light-border-color;

    @include breakpoint($bp-md) {
      @include pad(10px no-gutters);
    }

    &.docking-module--blur {
      z-index: z('docking-module-blur');
    }
  }
}
