.panel {
  @include clearfix();

  &__header-container {
    @include span(full nest);
    padding: $module-padding-lg;

    @include breakpoint($max: $bp-md) {
      @include chevron($color: $chevron-color-toggle-panel, $top: 1.13em);

      padding: $module-padding-sm;
    }
  }

  &__header-title,
  &__header-value {
    float: left;
  }

  &__header-title {
    @include bold-text();

    min-width: 90px;
    margin-right: 10px;
  }

  &__toggle {
    @include breakpoint($min: $bp-md) {
      @include toggle-btn();
    }

    &.toggle-open,
    &.toggle-close {
      @include breakpoint($max: $bp-md) {
        display: none;
      }
    }
  }

  &__content {
    @include breakpoint($min: $bp-md) {
      @include accordion-content();
    }

    @include breakpoint($max: $bp-md) {
      position: fixed;
      top: 0;
      right: -100%;
      bottom: 0;
      left: 100%;

      display: none;

      background-color: $page-content-bg-color;
    }

    &.slider-open {
      @include breakpoint($max: $bp-md) {
        display: flex;

        flex-direction: column;
      }

      @include target-ie() {
        right: 0;
        left: 0;
      }
    }
  }

  &__content-wrapper {
    padding: $module-padding-lg;

    overflow: auto;

    @include breakpoint($min: $bp-md) {
      padding-top: 0;
    }
  }

  &__content-header {
    @include responsive-font('md');

    display: none;

    padding: 14px 10px;

    text-align: center;

    background-color: $module-bg-color;

    border-bottom: $dark-border-style;

    &.in-focus {
      @include breakpoint($max: $bp-md) {
        display: block;
      }
    }
  }

  &__content-header-name {
    @include bold-text();
  }

  &__content-back-btn {
    float: left;

    padding: 0;

    color: $base-link-color;

    background: none;

    border: 0;
  }

  &--fs-slide-out {
    @include breakpoint($max: $bp-md) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: z('panel-in-focus');

      transform: translateX(-100%);

      transition: transform 0.5s;
    }

    @include target-ie() {
      transition: none;
    }
  }

  &--fs-slide-in {
    @include breakpoint($max: $bp-md) {
      transform: translateX(0);

      transition: transform 0.5s;
    }

    @include target-ie() {
      transition: none;
    }
  }

  &--hide-on-mobile {
    @include breakpoint($max: $bp-md) {
      display: none;
    }
  }
}

.panel-list {
  @include unstyled-list();

  &__item {
    border-bottom: $light-border-style;
  }

  &__item:last-child {
    border-bottom: 0;
  }
}
