$qty-btn-size: 44px;

.qty-changer {
  // eliminate browser rendering of white space between buttons
  font-size: 0;
}

.qty-changer__button {
  display: inline-block;
  width: $qty-btn-size;
  height: $qty-btn-size;
  margin: 0;

  cursor: pointer;
  background-color: $white;
  border: $dark-border-style;
  border-radius: $button-border-radius;

  &:focus {
    border: 1px solid $base-link-color;

    outline: none;
  }

  + .qty-changer__button {
    margin-left: 5px;
  }

  + .tooltip-wrap {
    display: inline-block;
    margin-left: 5px;
  }
}

.qty-changer__button--embedded {
  border: 0;
  border-right: $dark-border-style;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  + .qty-changer__button--embedded {
    margin-left: 0;
  }

  &:focus {
    border: 0;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:first-child:focus {
    border-right: $dark-border-style;
  }

  &:last-child {
    border-right: 0;
  }

  &:first-child.is-inactive,
  &:first-child:focus.is-inactive {
    width: $qty-btn-size - 1;
  }

  &:first-child.is-inactive + &,
  &:first-child:focus.is-inactive + & {
    width: $qty-btn-size + 1;

    border-left: $dark-border-style;
  }
}

.qty-changer__button--number {
  @include responsive-font('md');

  line-height: 40px;
  color: $search-placeholder-color;
  text-align: center;

  vertical-align: top;
  border: 0;
}

.qty-changer__button--decrease {
  background-image: url(map-get($svgs, 'icon-decrement'));
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 2px;
}

.qty-changer__button--increase {
  background-image: url(map-get($svgs, 'icon-increment'));
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.qty-changer__ada-text {
  @include hide-btn-text();
}
