.search-mini__page-content {
  @include breakpoint($bp-md) {
    display: none;
  }
}

.search-mini-input {
  width: 100%;
  padding: 3px 30px 3px 10px;

  border: 1px solid $border-focused-color;
  border-radius: 15px;

  &::-ms-clear {
    display: none;
  }
}

.search-input--muted {
  color: $search-placeholder-color;
}

.search-mini-form {
  @include span(full nest);
  display: table;
  margin-top: -3px;
}

.search-mini-field {
  @include span(100%);
  @include use-table-cell($y-align: middle);

  &__close-icon {
    width: 20px;
    height: 20px;
    margin-top: -3px;
    margin-left: -30px;

    text-indent: -9999px;

    vertical-align: middle;
    background: url(map-get($svgs, 'icon-close')) no-repeat;
    border: 0;
  }

}

.cancel {
  @include span(21%);
  @include use-table-cell(right, middle);
  padding-left: 0;

  color: $white;
  text-align: right;
}



.search-full {
  width: 100%;
}

.search-full-label {
  position: relative;

  background: $white;
  border: 1px solid $border-focused-color;
  border-radius: 25px;

  @include breakpoint($bp-md) {
    padding: 11px 55px 11px 20px;
  }
}

.search-full-input {
  width: 60%;

  //max-width defines the area of the search bar to 300px tablet, 500px desktop
  max-width: 223px;

  border: 0;

  @include breakpoint($bp-lg) {
    max-width: 423px;
  }

  &:focus {
    outline: none;
  }
}




.search-button {
  @extend %btn-transparent;

  @include breakpoint($bp-md) {
    position: absolute;
    top: 3px;
    right: 14px;

    width: 40px;
    height: 28px;

    line-height: $header-line-height;

    border-radius: 15px;
  }

  @include breakpoint($bp-lg) {
    right: 14px;

    width: 45px;
    height: 28px;

    background-size: cover;
  }

  .button-text {
    @include hide-text();

    display: inline-block;
    width: 18px;
    height: 18px;

    background: url(map-get($svgs, 'icon-search')) no-repeat;
    background-size: 18px 18px;

    @include breakpoint($bp-md) {
      width: 25px;
      height: 25px;

      background-size: 25px 25px;
    }
  }
}


.cancel-button {
  @extend %btn-transparent;
  color: $primary-button-color;
}
