.ticket-info {
  @include clearfix();

  &__description-group {
    float: left;
  }

  &__quantity-group {
    float: right;

    text-align: right;
  }

  &__offer-type,
  &__offer-unit-price {
    color: $alt-copy-color;
  }
}
