$ticket-stub-padding: 10px;

.ticket-stub {
  position: relative;

  background: $white;

  border: $light-border-style;

  &__header {
    position: relative;

    display: flex;
    justify-content: space-between;

    padding: $ticket-stub-padding;

    background: $background-gray;
    border-bottom: 3px solid $border-focused-color;
  }

  &__header--resale {
    border-bottom: 3px solid $resale-color;
  }

  &__header:after {
    position: absolute;
    bottom: -8px;
    left: 50%;

    display: block;
    width: 0;
    margin-left: -5px;

    border-color: $border-focused-color $transparent-color;
    border-style: solid;
    border-width: 5px 5px 0;

    content: '';
  }

  &__header--resale:after {
    border-color: $resale-color $transparent-color;
  }

  &__seat-info {
    display: inline-block;
    flex: 1 1 auto;

    text-align: center;
  }

  &__seat-info:first-child {
    text-align: left;
  }

  &__seat-info:last-child {
    text-align: right;
  }

  &__seat-label {
    @include responsive-font('sm');

    color: $seat-label-color;
  }

  &__seat-text {
    @include responsive-font('md');

    color: $seat-text-color;
  }

  &__content-wrapper {
    @include responsive-font('md');

    text-align: left;
  }

  &__content {
    padding: $ticket-stub-padding;
  }

  &__ticket-types {
    @include responsive-font('md');

    max-height: 180px;
    overflow-y: auto;
  }

  &__notes {
    border-top: $light-border-style;
  }

  &__ticket-types[data-multi="false"] + &__notes {
    border-top: 0;
  }

  &__resale-price {
    flex: 0 0 auto;

    text-align: right;
  }

  &__ticket-type,
  &__face-value {
    display: block;

    color: $seat-text-color;

    &--resale:before {
      @include icon('icon-resale-seat');

      margin-right: 10px;

      background-size: contain;
    }
  }

  &__obstructed-view {
    @include responsive-font('sm');

    &:before {
      @include svg('icon-alert');

      display: inline-block;

      width: 20px;
      height: 17px;

      margin-right: $ticket-stub-padding;

      vertical-align: middle;

      content: '';
    }
  }

}
