.tile-list {
  @include unstyled-list();

  @include breakpoint($max: $bp-md) {
    padding: 15px 10px;

    background-color: $module-bg-color;

    border-radius: $base-border-radius;

    box-shadow: $box-shadow-style;
  }

  &__item {
    margin-bottom: 15px;

    border: $dark-border-style;
    border-radius: $base-border-radius;

    @include breakpoint($max: $bp-md) {
      margin-bottom: 10px;
    }
  }

  &__item-selected {
    border: $tile-list-item-selected-style;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__sub-group {
    @include alt-copy();

    @include slider-ease(0, 3000px) {
      transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
    }

    @include breakpoint($max: $bp-md) {
      border-top: 0;
    }
  }

  &__toggle-wrapper {
    padding: 20px;

    border-top: $light-border-style;

    @include breakpoint($max: $bp-md) {
      padding: 15px 8px;
    }
  }
}
