/** @define button-aux; weak */

$nc-button-minor-height: 28px;
$nc-button-minor-height-lg: 38px;
$nc-button-minor-padding: 15px;

.nc-button-aux {
  @include nc-btn(nc-theme('primary-aux-button-color'));

  text-transform: none;
  border-radius: $nc-button-height / 2;

  @include nc-breakpoint($nc-bp-md) {
    border-radius: ($nc-button-height + 2px) / 2;
  }
}

.nc-button-aux--secondary {
  @include nc-btn-color(nc-theme('secondary-button-color'), $nc-white);
}

.nc-button-aux--full {
  @include nc-breakpoint($max: $nc-bp-md - 1) {
    width: 100%;
  }
}

.nc-button-aux--minor {
  @include nc-type-scale('centi');
  @include nc-padding((
    'top': 0,
    'bottom': 0,
    'left': $nc-button-minor-padding,
    'right': $nc-button-minor-padding),
    $responsive
  );

  min-height: $nc-button-minor-height;
  border-radius: $nc-button-minor-height / 2;

  @include nc-breakpoint($nc-bp-md) {
    min-height: $nc-button-minor-height-lg;
    border-radius: $nc-button-minor-height-lg / 2;
  }
}
