$float-label-gutter-left: 10px;

@mixin base-float-label() {
  width: 100%;

  border: 0;
  border-bottom: $form-border-style;

  &.is-error-field {
    border: $error-border-style;
  }
}

@mixin float-label-underline() {
  @include base-float-label();
  position: relative;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 10px;
  background: none;
  box-shadow: none;
}

@mixin float-label-box() {
  @include base-float-label();
}


.float-label {
  @include clearfix();

  position: relative;
  padding: 0;

  @include breakpoint($bp-md) {
    margin-bottom: 20px;
  }

  &__label {

    position: absolute;
    z-index: 5;
    top: 50%;
    left: $float-label-gutter-left;
    transform: translatey(-50%);
    pointer-events: none;
    transition: all 0.15s ease-out 0s;
    color: color('gray', 'cascade');
    font-size: fontsy('md');

    @include breakpoint($bp-md) {
      left: $float-label-gutter-left;
    }
  }

  &__text-field {
    @include float-label-underline();

    color: color('gray', 'sierra');
    font-size: fontsy('md', 'plus');
    padding-left: $float-label-gutter-left;

    &:focus, &:active {
      outline: none;
      background: none;
    }
  }

  &__text-field-cin {
    @include float-label-underline();
    width: 80%;

    color: color('gray', 'sierra');
    font-size: fontsy('md', 'plus');

    @include breakpoint($bp-md) {
      @include float-label-box();
      width: 100%;
    }

    &:focus, &:active {
      outline: none;
      background: none;
    }
  }

  &__text-field-box {
    @include float-label-box();

    margin-left: -10px;
    margin-right: -10px;
    color: color('gray', 'sierra');
    font-size: fontsy('md', 'plus');

    @include breakpoint($bp-md) {
      margin: 0;
    }

    &:focus, &:active {
      outline: none;
      background: none;
    }
  }

  &__dropdown-wrapper {
    width: 100%;

    &:after {
       color: #999;
       content: '';
       pointer-events: none;
       position: absolute;
       right: 10px;
       top: 10px;
       width: 0;
       height: 0;
       border-left: 5px solid rgba(255,255,255,0);
       border-right: 5px solid rgba(255,255,255,0);
       border-top: 7px solid color('gray', 'cascade');

      @include breakpoint($bp-md) {
        top: 18px;
        right: 10px;
      }
    }
  }

  &__select {
    @include form-dropdown-simple();

    width: 100%;
    height: 23px;
    margin-top: 18px;
    outline: none;
    font-size: fontsy('md', 'plus');
    color: color('gray', 'sierra');
    background: none;

    @include breakpoint($bp-md) {
      @include form-dropdown();

      height: 44px;
      margin-top: 0;
      padding-top: 17px;
      padding-bottom: 4px;
      border-radius: $base-border-radius;
    }

    &.is-error-field {
      margin-top: 0;
      padding-top: 18px;
      height: 44px;
      border-radius: 0;

      @include breakpoint($bp-md) {
        border-radius: 5px;
      }
    }
  }

  &__placeholder-text {
    position: absolute;
    top: 15px;
    right: 10px;
    color: color('gray', 'rocky');

    @include breakpoint($bp-md) {
      top: 12px;
      right: 20px;
    }
  }

  &__tooltip {
    position: absolute;
    right: 7px;
    top: -10px;

    @include breakpoint($bp-md) {
      right: -20px;
    }
  }

  &__required {
    color: color('blue', 'pacific');
  }
}



/* Toggle States */

.float-label__text-field.has-content,
.float-label__text-field-cin.has-content,
.float-label__text-field--box.has-content {
  padding-bottom: 5px;
  padding-top: 19px;
}

.float-label__text-field.has-content + .float-label__label,
.float-label__text-field-cin.has-content + .float-label__label,
.float-label__text-field-box.has-content + .float-label__label,
.float-label__select.has-content + .float-label__label {
  @include responsive-font('xs');

  top: 10px;
  color: color('gray', 'cascade');
}

.float-label__text-field:focus + .float-label__label,
.float-label__text-field-cin:focus + .float-label__label,
.float-label__text-field-box:focus + .float-label__label,
.float-label__text-field.has-content:focus + .float-label__label,
.float-label__select.has-content:focus + .float-label__label {
  @include responsive-font('xs');

  top: 10px;
  color: $brand-primary;
}

.float-label__text-field:focus ~ .float-label__placeholder-text,
.float-label__text-field-cin:focus ~ .float-label__placeholder-text,
.float-label__text-field-box:focus ~ .float-label__placeholder-text {
  display: none;
}

.float-label__text-field-cin.has-content ~ .float-label__placeholder-text,
.float-label__text-field.has-content ~ .float-label__placeholder-text {
  display: none;
}
