/* stylelint-disable */
// this is just for testing

$nc-config: (
  'font-path': 'blah/bl223ah',
  'theme': 'ln'
);

// theme
@import 'nucleus-core';

$nc-current-theme: nc-theme-add(('something': #123456));

$var: (
  10px 1rem
);

.nc-test {
  @include nc-padding($var);

  color: nc-theme('something');
}
