.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}

.is-clickable {
  cursor: pointer;
}

.is-scrollable {
  overflow: auto;
}

.is-mobile-scrollable {
  overflow: auto;

  @include breakpoint($bp-md) {
    overflow: hidden;
  }
}

.is-modal-not-scrollable {
  position: fixed;

  width: 100%;

  overflow-y: scroll;
}

.is-text-muted {
  color: $base-link-color;
}

.is-error-message {
  color: $alert-color;
}

.is-success-message {
  color: $success-color;
}

.is-zoomed-out {
  max-width: 100%;

  transition: all 0.25s ease;
}

.is-zoomed-in {
  position: relative;

  cursor: crosshair;

  transform: scale(2);

  @include breakpoint($bp-lg) {
    transform: scale(2);
  }
}

.is-inactive {
  opacity: 0.25;
}
