/* stylelint-disable */
// config
$nav-bg-color: nc-color('ridge');
$nav-bg-hover-color: nc-color('sierra', 'background');
$code-bg-color: nc-color('ridge');
$main-hdg-color: nc-color('pacific');
$secondary-hdg-color: nc-color('catalina');

$table-alt-bg-color: nc-color('ridge');
$table-cell-padding: (
  'top': 'cozy',
  'right': 'normal',
  'bottom': 'cozy',
  'left': 'normal'
);


$header-height: 10rem;
$nav-width: 20rem;
$sg-swatch-size: 8rem;
$sg-swatch-size-lg: $sg-swatch-size * $nc-type-scale-ratio;
$sg-spacing: 1.5em;
$border-radius: 5px;

$page-margins: (
  'left': 'spacious',
  'right': 'spacious'
);

$minor-block-spacing: (
  'top': 'normal',
  'bottom': 'normal'
);

$stacking-order: (
  'header':   500,
  'nav':      400,
  'page':     300,
  'sub-page': 200
);

@mixin code-style($sz: 'milli') {
  @include nc-type-scale($sz);
  @include nc-padding('cozy', $responsive: false);

  border: $nc-base-border-style;
  border-radius: $border-radius;
  font-family: $nc-monospace;
  font-weight: normal;
  color: nc-theme('text-color');
  background-color: $code-bg-color;
}

@mixin table($margins: $minor-block-spacing, $alt-row-color: false) {
  @include nc-margin($margins);

  @if $alt-row-color {
    tr:nth-child(even) {
      background-color: $table-alt-bg-color;
    }
  }
}

@mixin table-hdg($align, $type: false) {
  @include nc-type-scale('centi');

  font-weight: bold;
  text-align: $align;

  $pad: (
    'left': 'normal',
    'right': 'normal'
  );
  $first-left: 0;

  @if ($type == 'zebra') {
    $pad: map-merge($pad, ('bottom': 'compact'));
    $first-left: 'moderate';
  }

  @include nc-padding($pad);

  &:first-child {
    @include nc-padding(('left': $first-left));

    text-align: left;
  }
}

@mixin table-cell($align, $type: false, $pad: $table-cell-padding) {
  $first-col: ('left': 0);

  @if ($type == 'zebra') {
    $first-col: 'moderate';
  }

  @include nc-padding($pad);

  text-align: $align;

  &:first-child {
    @include nc-padding($first-col);
  }

  @if ($type == 'zebra') {
    &:last-child {
      @include nc-padding(('right': 'expanded'));
    }
  }
}

@mixin swatch-container() {
  @include nc-clearfix();

  display: flex;
  align-items: center;
}

@mixin swatch-chip($border: false) {
  position: relative;
  flex: 0 0 $sg-swatch-size;
  align-self: flex-start;
  width: $sg-swatch-size;
  height: $sg-swatch-size;
  text-align: center;
  border-radius: 100%;

  @if ($border) {
    border: $border;
  }

  @include nc-breakpoint($nc-bp-md) {
    width: $sg-swatch-size-lg;
    height: $sg-swatch-size-lg;
    flex: 0 0 $sg-swatch-size-lg;
  }
}

@mixin swatch-description($margin: ('left': 'normal')) {
  @include nc-margin($margin);
}

@mixin badge($bgcolor, $txtcolor: $nc-white, $sz: 'milli') {
  @include nc-type-scale($sz, $responsive: false);
  @include nc-padding((
    'top': 'cozy',
    'right': 'compact',
    'bottom': 'cozy',
    'left': 'compact'
  ))

  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: $txtcolor;
  border-radius: $border-radius;
  background-color: $bgcolor;
}


.html,
.scss {
  @include nc-type-scale('centi');
}

.sg-header {
  @include nc-padding($page-margins);

  height: $header-height;
  background: linear-gradient(to right, #575dc6, nc-theme('header-bg-color'));
  z-index: nc-z('header', $stacking-order);

  @include nc-breakpoint($nc-bp-md) {
    margin-left: $nav-width;
  }
}

.tm-logo {
  width: 125px;
  height: 17px;
  fill: $nc-black;
}

.nucleus-logo {
  width: 50px;
  height: 50px;
  fill: $nc-white;
}

.sg-icon-check {
  fill: nc-theme('success-color');
}

.sg-version {
  @include nc-type-scale('milli');
}

.sg-title {
  @include nc-type-scale('giga', $lh: $header-height);

  font-weight: expanded;
  color: $nc-white;
}

.sg-nav {
  @include nc-type-scale('centi');

  @include nc-margin(('bottom': 'normal'), $responsive: false);
  @include nc-padding($minor-block-spacing, $responsive: false);

  border-bottom: $nc-base-border-style;
  z-index: nc-z('nav', $stacking-order);

  @include nc-breakpoint($nc-bp-md) {
    @include nc-drop-shadow();

    position: fixed;
    top: 0;
    width: $nav-width;
    height: 100vh;
    background-color: $nav-bg-color;
  }
}

.sg-nav__logo {
  @include nc-padding('normal');

  @include nc-breakpoint($max: $nc-bp-md - 1) {
    display: none;
  }
}

.sg-nav__list {
  @include nc-unstyled-list();
  @include nc-padding(('bottom': 'normal'));

  @include nc-breakpoint($nc-bp-md) {
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
  }
}

.sg-nav__link {
  @include nc-padding((
    'top': 'cozy',
    'bottom': 'cozy',
    'left': 'normal',
    'right': 'normal'
    )
  );

  display: block;
  transition: background-color 0.5s ease,
              color 0.5s ease;

  &:hover {
    text-decoration: none;
    background-color: $nav-bg-hover-color;
  }
}

.sg-nav__link--active {
  $active-border-size: 5px;

  padding-left: calc(#{nc-get-spacing('normal', 'mini')} - #{$active-border-size});
  border-left: $active-border-size solid nc-theme('resale-color');

  @include nc-breakpoint($nc-bp-md) {
    padding-left: calc(#{nc-get-spacing('normal', 'maxi')} - #{$active-border-size});
  }
}

.sg-main {
  @include nc-margin(('top': 'expanded'));
  @include nc-padding($page-margins);

  @include nc-breakpoint($nc-bp-md) {
    top: $header-height;
    margin-left: $nav-width;
    height: calc(100vh - #{$header-height});
  }
}

.sg-section {
  @include nc-type-scale('uno');
  @include nc-margin(('top': 'expanded', 'bottom': 'expanded'));
  @include nc-padding(('bottom': 'expanded'));

  border-bottom: $nc-base-border-style;

  &:last-child {
    border-bottom: 0;
  }
}

.sg-hdg {
  @include nc-type-scale('giga');
  @include nc-margin(('bottom': 'moderate'));

  font-weight: expanded;
  color: $main-hdg-color;
}

.sg-subhdg {
  @include nc-type-scale('kilo');
  @include nc-margin(('top': 'expanded', 'bottom': 'moderate'));

  font-weight: expanded;
  color: $main-hdg-color;
}

.sg-subhdg2 {
  @include nc-type-scale('hecto');
  @include nc-margin(('top': 'expanded', 'bottom': 'cozy'));

  font-weight: bold;
}

.sg-anchor {
  &:hover {
    color: nc-theme('link-color');
    text-decoration: none;
  }
}


.sg-function-badge {
  @include badge(nc-theme('resale-color'));
}

.sg-mixin-badge {
  @include badge(nc-theme('success-color'));
}

.sg-code-hdg {
  @include nc-margin(('bottom': 'moderate'));

  display: flex;
  align-items: center;
  font-weight: expanded;
}

.sg-code-hdg__name {
  @include code-style('uno');

  flex: 0 0 auto;
}

.sg-code-hdg__badge {
  @include nc-margin(('left': 'moderate'));

  flex: 0 0 auto;
}

.sg-code-hdg__source-file {
  @include nc-type-scale('milli');

  flex: 1 1 100%;
  text-align: right;
  color: nc-color('malibu');
}

.sg-code-block + .sg-code-hdg {
  @include nc-margin(('top': 'spacious'));
}

.sg-code {
  @include code-style();
}

.sg-highlight-code {
  font-style: italic;
  font-weight: bold;
}

.sg-params-table {
  @include table();
}

.sg-params-table__hdg {
  @include table-hdg(left);
}

.sg-params-table__cell {
  @include table-cell(left);
}

.sg-params-table__cell--check {
  text-align: center;
}

.sg-callout {
  @include nc-margin($minor-block-spacing);
  @include nc-padding('normal');

  background-color: nc-color('malibu', 'background');
  border: 1px solid nc-color('malibu');
  border-radius: $border-radius;
}

.sg-callout__hdg {
  @include nc-type-scale('hecto');

  color: nc-color('malibu');
}


.sg-class-list {
  @include nc-unstyled-list();
}

.sg-class-list__item {
  @include nc-margin(('top': 'compact', 'bottom': 'compact'));
}

.sg-usage-list {
  margin: 0 0 0 nc-get-spacing('expanded', 'mini');
  padding: 0;
  line-height: 1.6;
  color: nc-color('cascade');
}

.sg-usage-list__item {
  @include nc-margin(('top': 'cozy'));

  &:first-child {
    @include nc-margin(0);
  }
}

.sg-swatch-list {
  @include nc-unstyled-list();
}

.sg-swatch-list__item {
  @include nc-margin(('top': 'expanded'));

  &:first-child {
    @include nc-margin(0);
  }
}


.sg-default-table {
  @include table();
}

.sg-default-table__hdg {
  @include table-hdg(left);
}

.sg-default-table__cell {
  @include table-cell(left);
}

.sg-default-table__cell--nowrap {
  white-space: nowrap;
}


.sg-alternating-table {
  @include table($alt-row-color: true);
}

.sg-alternating-table__hdg {
  @include table-hdg(left, 'zebra');
}

.sg-alternating-table__cell {
  @include table-cell(left, 'zebra');
}


.sg-swatch {
  @include swatch-container();
}

.sg-swatch__chip {
  @include swatch-chip();
}

// name = sierra
// shade = dark
// color = hex
@each $name, $shades in $nc-current-palette {
  @each $shade, $color in $shades {
    .sg-swatch__chip--#{$name}-#{$shade} {
      background: $color;

      // sanity check to verify that the html matches actual hex values
      &::before {
        @include nc-dead-center(absolute);

        margin: 1px 0 0 1px;
        color: darken($color, 10%);
        content: '#{$color}';
      }
    }
  }
}

.sg-swatch__hex {
  @include nc-dead-center(absolute);

  color: $nc-white;
}

.sg-swatch__hex--dark {
  color: nc-color('sierra');
}

.sg-swatch__info {
  @include swatch-description();
}

.sg-swatch__name {
  @include nc-margin(('bottom': 'cozy'));

  display: block;
  font-weight: bold;
  text-transform: capitalize;
}

.sg-swatch-table {
  @include table(('top': 'normal'));
}

.sg-swatch-table__hdg {
  @include table-hdg(center);
}

.sg-swatch-table__cell {
  @include nc-padding('normal');

  &:first-child {
    @include nc-padding(('left': 0));
  }
}


// generate breakpoint classes
@each $device, $px in $nc-breakpoints {
  .sg-#{$device}-bp {
    &:before {
      content: '#{$px} - ';
    }
  }
}

@each $device, $px in $nc-breakpoints {
  .sg-#{$device}-limit {
    &:after {
      content: ' (up to #{$px - 1})';
    }
  }
}


// name = kilo
// set = md
// size = 1.8rem
@each $name, $sets in $nc-font-map {
  @each $set, $size in $sets {
    .sg-font-size--#{$name}-#{$set} {
      position: relative;
      display: block;
      padding-right: 9rem;
      font-size: $size;

      &::after {
        $px: nc-px($size);
        $lh: nc-strip-units($px * $nc-base-line-height);

        @include nc-type-scale('centi');
        @include nc-vertically-center();

        position: absolute;
        right: 0;
        color: nc-color('cascade');
        content: '#{nc-px($size)} / #{$lh}';
      }
    }
  }
}

.sg-font-sample {
  @include nc-type-scale('giga');

  letter-spacing: 5px;
  color: nc-color('cascade');
}

.sg-font-sample--bold {
  font-weight: bold;
}

.sg-font-sample__type {
  display: block;
}

.sg-size-table {
  @include table($alt-row-color: true);
}

.sg-size-table__hdg {
  @include table-hdg(center, 'zebra');

  &:last-child {
    @include nc-padding(('left': 'expanded'));

    text-align: left;
  }
}

.sg-size-table__hdg-range {
  display: block;
  font-weight: expanded;
  color: nc-color('cascade');
}

.sg-size-table__cell {
  $pad: (
    'top': 'cozy',
    'right': 'expanded',
    'bottom': 'cozy',
    'left': 'expanded'
  );

  @include table-cell(left, 'zebra', $pad);
}


.sg-type-style {
  @include swatch-container();
}

.sg-type-style__example {
  @include nc-type-scale('exa', $lh: $sg-swatch-size);
  @include swatch-chip($border: $nc-base-border-style);

  @include nc-breakpoint($nc-bp-md) {
    line-height: $sg-swatch-size-lg;
  }
}

.sg-type-style__example--italics {
  color: nc-color('cascade');
}

.sg-type-style__example--links {
  color: nc-color('pacific');
}

.sg-type-style__example--alert {
  color: nc-theme('alert-color');
}

.sg-type-style__example--success {
  color: nc-theme('success-color');
}

.sg-type-style__example--disabled {
  color: nc-color('cascade', 'muted');
}

.sg-type-style__spacing {
  @include nc-type-scale('centi', $lh: $sg-swatch-size);
  @include swatch-chip($border: $nc-base-border-style);

  @include nc-breakpoint($nc-bp-md) {
    line-height: $sg-swatch-size-lg;
  }
}

.sg-type-style__description {
  @include swatch-description();
}



// name = moderate
// set = mini
// size = 1.8rem
@each $name, $sets in $nc-spacing-map {
  @each $set, $size in $sets {
    .sg-spacing-size--#{$name}-#{$set} {
      position: relative;
      display: block;
      padding-right: 9rem;

      &::after {
        $px: nc-px($size);

        @include nc-type-scale('centi');
        @include nc-dead-center(absolute);

        color: nc-color('cascade');
        content: '#{nc-px($size)}';
      }
    }
  }
}


// split-content examples
$primary: #1d7ab7;
$secondary: #9d79f2;
$border: #91c591;

@mixin sg-split-box($color, $txt) {
  position: relative;
  border: 3px solid rgba($color, 0.7);

  &::before {
    @include nc-type-scale('milli', $responsive: false);
    @include nc-padding('slim');

    position: absolute;
    top: -25px;
    left: -3px;
    font-weight: bold;
    color: $nc-white;
    background-color: rgba($color, 0.7);
    content: $txt;
  }
}

.sg-split-container {
  @include nc-margin((
    'top': 'expanded',
    'bottom': 'expanded'
  ));

  border: 5px solid $border;
}
.sg-split-primary {
  @include sg-split-box($primary, 'primary');
}
.sg-split-secondary {
  @include sg-split-box($secondary, 'secondary');
}



// positioning examples
@mixin sg-pos-example {
  display: inline-block;
  padding: 10px;
  border: 2px solid nc-theme('caution-color');
}

.sg-positioning-box {
  position: relative;
  width: 70%;
  height: 200px;
  border: 3px solid nc-theme('base-border-color');

  & + & {
    @include nc-margin(('top': 'expanded'));
  }
}

.sg-positioning-box__horizontal {
  @include sg-pos-example();
  @include nc-horizontally-center();
}

.sg-positioning-box__vertical {
  @include sg-pos-example();
  @include nc-vertically-center(absolute);
}

.sg-positioning-box__dead-center {
  @include sg-pos-example();
  @include nc-dead-center(absolute);
}



// forms
.sg-form-field-example {
  @include nc-margin(('bottom': 'expanded'));

  width: 33%;
}

.sg-label-example {
  @include nc-padding('moderate');
}

.sg-label-example--light {
  background-color: nc-color('cascade', 'background');
}

.sg-label-example--dark {
  background-color: nc-color('sierra');
}




.sg__list {
  @include nc-unstyled-list();

  margin-bottom: 1em;

  line-height: 1.6;

  > li {
    margin-bottom: 0.5em;
  }
}


.sg__table {
  margin-bottom: 1em;

  @include nc-breakpoint($nc-bp-md) {
    display: inline-block;

    vertical-align: top;
  }
}

.sg__table-hdg {
  padding-right: 20px;
  padding-bottom: 5px;

  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.sg__table-cell {
  @include nc-padding((0, 'moderate', 'moderate', 0));

  vertical-align: top;
}

.sg__typography-cell {
  padding-top: 10px;
  padding-left: 10px;
}

.sg__table-alternating-row {
  &:nth-child(even) {
    background-color: $table-alt-bg-color;
  }
}

.sg__typography-bp {
  white-space: nowrap;
  vertical-align: top;
}


.sg__code--xs {
  // @include code-style('xs');
}


.sg__font-usage {
  @include nc-type-scale('centi');
}

// text styles
.sg__ex-bold {
  font-weight: bold;
}






// quantity buttons
.sg__embedded-qty-filter {
  width: 250px;
}


// lists {
.sg__list-box {
  margin-bottom: 1em;

  background-color: $nc-white;
  border: $nc-base-border-style;
}


// tooltips
.sg__tooltip {
  text-align: center;

  + .sg__tooltip {
    margin-top: 20px;
  }
}


// sec-row-seat
.sg__srs {
  @include nc-margin(('bottom': 'expanded'));

  width: $nc-srs-min-width;
}

.sg__ism-tooltip {
  @include nc-margin(('bottom': 'expanded'));
}

.sg__module {
  @include nc-margin(('bottom': 'expanded'));

  width: 100%;

  @include nc-breakpoint($nc-bp-md) {
    width: 350px;
  }
}


.sg__unstyled-list {
  @include nc-unstyled-list();
}


.sg__dialog {
  width: 300px;
  margin-bottom: 20px;

  @include nc-breakpoint($nc-bp-md) {
    width: 600px;
  }
}

.sg__dialog-modal {
  width: 600px;
  padding: 50px;
  margin-bottom: 20px;
  background-color: nc-theme('overlay-color');
}

.sg__breadcrumbs {
  @include nc-margin(('bottom': 'expanded'));

  &:last-child {
    @include nc-margin(('bottom': 0));
  }
}

.sg__polling {
  width: 20px;
  background-color: nc-color('sierra');
}

.sg__price-slider--preview {
  @include nc-margin(('bottom': 'expanded'));
}
