// Mixin that creates a chevron attached to the calling element
//  if no direction is specified, defaults to right

@mixin chevron($color: $chevron-color, $direction: right, $top: 1.45em, $horizontal-offset: 100%) {
  position: relative;

  &:after {
    position: absolute;
    top: $top;
    left: $horizontal-offset;

    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-left: -1.9em;

    border-color: $color;
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;

    content: '';

    @if $direction == right {
      transform: rotate(45deg);
    }
    @else if $direction == bottom {
      transform: rotate(135deg);
    }
    @else if $direction == left {
      right: $horizontal-offset;
      left: auto;

      transform: rotate(225deg);
    }
    @else if $direction == top {
      transform: rotate(315deg);
    }
  }
}
