@mixin hide-text {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

@mixin hide-btn-text {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
