// mixin places an icon in the upper left corner of module content
@mixin module-icon($icon) {
  @include svg($icon);

  background-position: 10px 15px;
  padding-left: 35px;

  @include breakpoint($bp-md) {
    padding-left: 50px;

    background-position: 20px 20px;
  }
}

