// variables
$radio-border-style: 0 0 0 1px $radio-border-color;
$radio-size: 20px;


// http://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/
@mixin radio-button($chk-color: $radio-selected-color) {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;

  + span {
    @include clearfix();

    display: block;

    &:before {
      display: inline-block;
      float: left;
      width: $radio-size;
      height: $radio-size;
      margin-right: 10px;

      vertical-align: middle;
      border: 5px solid $white;
      border-radius: 1rem;
      box-shadow: $radio-border-style;

      content: '';
    }
  }

  &:checked + span:before {
    background: $chk-color;
    box-shadow: $radio-border-style;
  }
}
