@mixin text-field-input() {
  font-size: $min-input-font-size;
  border-radius: $base-border-radius;
  border: $dark-border-style;
  box-shadow: $inner-shadow-style;
  padding: 13px 10px;
  width: 100%;

  &:focus {
    border: $focused-border-style;

    outline: 0;
  }

  &.error {
    border: $error-border-style;
  }

}

