$ln-hover-color: #c60813;

html {
  background-color: $ln-background-color;
}

.refund-me-button,
.refund-back-button {
  @extend %btn-primary;

  width: 100%;
  margin: 15px 0;

  background-color: $ln-red-color;

  @include breakpoint($bp-md) {
    width: auto;
    margin: 40px 8px 40px 0;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $ln-hover-color;
  }
}
