.nc-is-hidden {
  display: none !important;
}

.nc-is-invisible {
  visibility: hidden !important;
}

.nc-is-clickable {
  cursor: pointer !important;
}

.nc-is-scrollable {
  overflow: auto !important;
}

.nc-is-error-message {
  color: $nc-alert-color !important;
}

.nc-is-success-message {
  color: $nc-success-color !important;
}

.nc-is-offscreen {
  position: absolute !important;
  top: auto !important;
  left: -10000px !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}
