.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}

.is-clickable {
  cursor: pointer;
}

.is-scrollable {
  overflow: auto;
}

.is-error-message {
  color: $brand-alert;
}

.is-success-message {
  color: $brand-cta;
}

.is-inactive {
  opacity: 0.25;
}
